[2017-01-28 16:50] TripleE-0 commented on #177
Downloaded

[2017-01-28 17:07] gofrogs2013 commented on #216
@alex-kazda (New member here) I downloaded this last night and have it uploading now. You could do a second mirror or just move onto another dataset if you like.

[2017-01-28 17:41] wantonwonton commented on #284
I also got the full large file (which will just be offline for now):

-rw-rw-r-- 1 root root 96453271008 Mar 30  2016 rrs-data.tar.gz

Here's the md5sum output:

006e568c46b75f3dd53f57744046d423  rrs-data.tar.gz

[2017-01-28 18:13] planetor commented on #274
OMG! Can anyone mirror this directory? It's too big! There are more than 800GB: https://www.ncei.noaa.gov/data/igra/v2beta/

[2017-01-28 18:41] clickbg commented on #287
Mirrored at http://mirrors.sgate.org/climate-mirror/eclipse.ncdc.noaa.gov/pub/ssmi/monthly_ncdc/ncdc/

[2017-01-28 19:01] JeremiahCurtis commented on #112
I'm willing to grab whatever is needed to get a complete mirror if anyone has any idea where we stand on this....thanks

[2017-01-28 19:24] TripleE-0 commented on #196
I have downloaded it. I only have a local copy at the moment.

[2017-01-28 19:29] empirical-bayesian commented on #123
In addition to Matthew's copy, The Azimuth Backup Project is also
replicating this dataset.  Note however that we found the following:

That is, there is a portion of the site which is inaccessible to the
public. Unsurprisingly, this is because this Gateway allows changes to
data, and should not be made available to the public.

I point it out simply to indicate that the site replication will
nece

[2017-01-28 19:42] empirical-bayesian commented on #159
The Azimuth Backup Project has been working on getting `ftp://eclipse.ncdc.noaa.gov` this since 20 December 2016. So far we have 5.6 Tb. We have the space, but the data can only be transferred from the server so fast.

[2017-01-28 19:50] kitchenninja commented on #189
Downloading now, but I don't have a way to publish online.

[2017-01-28 20:13] ivanstegic commented on #286
I was able to get all 16GB. Working on a way to make it publicly accessible now.

[2017-01-28 20:13] as-com commented on #189
You can publish a torrent.

On Jan 28, 2017, 2:50 PM -0500, kitchenninja <notifications@github.com>, wrote:

[2017-01-28 20:17] ivanstegic commented on #284
I was *also* able to get the file. Checking the MD5 now.

[2017-01-28 20:18] ivanstegic commented on #284
I'm actually grabbing the whole `ua` folder.

[2017-01-28 20:20] ivanstegic commented on #284
@wantonwonton  I got the same MD5 as you did: 006e568c46b75f3dd53f57744046d423

[2017-01-28 20:30] ivanstegic commented on #270
The whole site seems rather important even though the documents directory does not exist.

[2017-01-28 20:31] wantonwonton commented on #159
@empirical-bayesian, Do you know if the data transfers are being rate-limited on a per-client IP address basis?  If so, then if the data sets can be split up and downloaded by more independent clients (if you don't have many already), it could speed things up.  (If there are very large single files, I think one might be able to split those up too among multiple clients by using the resumable data

[2017-01-28 20:38] ivanstegic commented on #282
I have a copy of `podaac.jpl.nasa.gov/allData/amsre`

[2017-01-28 20:39] ivanstegic commented on #207
Download this

[2017-01-28 20:40] empirical-bayesian commented on #159
I do not have any administrative knowledge of these sites to declare how
widespread that practice is.

However, it is standard practice to do this.  Moreover, my work with The
Azimuth Backup Project has encountered several instances where, when I
was careless, I found myself throttled and in one instance banned from a
site, by IP. I had to move the gather to a different server to be able
to contin

[2017-01-28 21:12] donbright commented on #177
size estimate: 40G using lftp du -h (after cd through the symolic links)

[2017-01-28 21:36] LFenske commented on #230
There is a robots.txt file that prevents wget from mirroring.  Does anyone know a good way around it or who to contact to turn it off?

[2017-01-28 21:37] as-com commented on #230
-e robots=off

On Jan 28, 2017, 4:36 PM -0500, LFenske <notifications@github.com>, wrote:

[2017-01-28 21:46] LFenske commented on #200
Downloading now.

[2017-01-28 21:47] DiabolicalTMcD commented on #230
Pulling

[2017-01-28 22:27] sx3wiz commented on #144
MIrrored at ftp://climate.bootleg.network/cddis.gsfc.nasa.gov/doris/data/

[2017-01-28 22:34] sx3wiz commented on #260
Mirrored at ftp://climate.bootleg.network/podaac.jpl.nasa.gov/allData/aviso/

[2017-01-28 22:38] donbright commented on #184
Rough size estimate: 232 GB using lftp du

[2017-01-28 22:51] jelimoore commented on #284
md5:

`MD5 (rrs-data.tar.gz) = 006e568c46b75f3dd53f57744046d423`

[2017-01-28 23:10] axlecrusher commented on #286
Completed.

[2017-01-28 23:27] DiabolicalTMcD commented on #268
Pulling

[2017-01-28 23:32] DiabolicalTMcD commented on #235
Pulling

[2017-01-28 23:37] ayaeau commented on #272
Thanks for commenting. This is a scramble and I jumped in earlier than I should have. Where can I find some info on how to be a better help in this effort?

FINISHED --2017-01-28 12:42:48--
Total wall clock time: 20h 57m 50s
Downloaded: 2718 files, 73G in 18h 55m 6s (1.09 MB/s)

[2017-01-28 23:59] axlecrusher commented on #286
https://s3.amazonaws.com/9ed7c2aa-95f7-4295-aa3d-5b9c42ff63e8/NOAA_US_monthly_normals_1981-2010.torrent

[2017-01-29 00:04] kitchenninja commented on #189
Good idea, thanks!

[2017-01-29 01:08] JeremiahCurtis opened #288 "ftp://podaac-ftp.jpl.nasa.gov/allData/climatology/"
* *Agency*: NASA
* *Agency Division*: PODAAC
* *Data Type*:
* *Data Format*:
* *FTP/HTTP URL*: ftp://podaac-ftp.jpl.nasa.gov/allData/climatology/

[2017-01-29 01:18] JeremiahCurtis opened #289 "PODAAC ERS1 ERS2"
ftp://podaac-ftp.jpl.nasa.gov/allData/ers1/
ftp://podaac-ftp.jpl.nasa.gov/allData/ers2/

[2017-01-29 01:31] JeremiahCurtis commented on #241
@Proplex   what subfolders are left?

[2017-01-29 01:47] JeremiahCurtis opened #290 "ftp://podaac-ftp.jpl.nasa.gov/allData/goes/"
# SEE #242 INSTEAD

ftp://podaac-ftp.jpl.nasa.gov/allData/goes/

[2017-01-29 01:47] tkyocum commented on #195
Working on this one now

[2017-01-29 01:50] donbright commented on #153
I am wondering if the whole site shouldn't be archived,  ftp://cdiac.esd.ornl.gov/

I'm not sure what exact datasets are in this agency but it seems important - from their website: "The Carbon Dioxide Information Analysis Center (CDIAC), located at the U.S. Department of Energy's (DOE) Oak Ridge National Laboratory (ORNL), is the primary climate change data and information analysis center for DOE.

[2017-01-29 02:02] ivanstegic commented on #290
Working on this...

[2017-01-29 02:31] axlecrusher commented on #288
lftp podaac-ftp.jpl.nasa.gov:/allData/climatology> du -h
0       ./L3
59K     ./retired/L3/docs
5.0K    ./retired/L3/pathfinder_climatology/9km/docs
2.0K    ./retired/L3/pathfinder_climatology/9km/sw
156M    ./retired/L3/pathfinder_climatology/9km
156M    ./retired/L3/pathfinder_climatology
1.6G    ./retired/L3/pathfinder_Version5.0/8day/day
1.6G    ./retired/L3/pathfinder_Version5.0/8day/night
3.

[2017-01-29 02:36] axlecrusher commented on #288
Downloading

[2017-01-29 02:53] donbright commented on #272
i am new as well, just curious as to what command you used to fetch the data? i couldn't figure it out.

[2017-01-29 02:56] axlecrusher commented on #288
Completed download of 253MB. Not sure why its so much smaller.

[2017-01-29 04:00] wantonwonton commented on #274
Okay, I've started downloading https://www.ncei.noaa.gov/data/igra/v2beta/.  I have enough space, though my download speed maxes out at around 4MB/s, so this will take 2+ days.

[2017-01-29 04:31] erikfriesen commented on #289
Checking file sizes right now. Will update when complete.

[2017-01-29 04:37] Wolf-Rayet commented on #178
@nickrsan @mxplusb Alright so thought I'd give you a update. There is so much data on here. I only have 1 solution. Currently my 1Gbe dedi is RAID1, I'm finally finishing up only ONE sub directory 1003/.

Beyond that, It's gonna be a long time. The URL is no long avail and is direct IP access only. The fastest way I can get this data off is direct grab and direct upload, nor putting it in .7z etc.

[2017-01-29 05:02] donbright opened #291 "Carbon Dioxide Information Analysis Center (CDIAC) FTP Archive"
**Responsible Agency:** Department of Energy (DOE)
**Agency division:** Oak Ridge National Laboratory (ORNL)
**Agency subdivision**: Carbon Dioxide Information Analysis Center (CDIAC)
**Datasets Bulk Download Link**: ftp://cdiac.ornl.gov
**Data Type**:
from /README: _"This archive contains selected data sets relevant to studies of greenhouse gases and climate."_

from the CDIAC website:_"CDIAC's d

[2017-01-29 10:28] wantonwonton commented on #288
I would think some files are probably missing.  Did you use wget for the download?  It defaults to limiting recursion depth to 5 levels.  You can use the -m/--mirror switch to select more appropriate settings.

[2017-01-29 11:36] RoundWorld commented on #291
in progress

[2017-01-29 11:41] alex-kazda commented on #216
@gofrogs2013 I've finished the download anyway. Two copies are better than one.

I'm thinking about how to mirror the dataset. I'm new to this, too, so suggestions are welcome...

For now, I will hold on to the offline copy. I put the SHA256 sums of the files at `http://atrey.karlin.mff.cuni.cz/~alexak/dokumenty/checksums-sha256`

[2017-01-29 12:02] RoundWorld commented on #272
URLs from the catalog:

 ftp://coast.noaa.gov/pub/DigitalCoast/lidar1_z/geoid12a/data/3669/
 ftp://data.nodc.noaa.gov/pub/data.nodc/pathfinder/
 ftp://ftp.aoml.noaa.gov/phod/pub/rsmith/VS_VP_Trans_Study/SUMMER_2010/CTD_data/
 ftp://ftp.aoml.noaa.gov/phod/pub/rsmith/VS_VP_Trans_Study/SUMMER_2010/SADCP_transport_data/
 ftp://ftp.aoml.noaa.gov/phod/pub/rsmith/VS_VP_Trans_Study/SUMMER_2010/moored_ADCP

[2017-01-29 12:50] axlecrusher commented on #288
Thank you. I had forgot to use -m and used -r instead.

[2017-01-29 13:05] gofrogs2013 commented on #289
The ers1 alone is nearly 30K files and 10K folders. I eventually got kicked out and wasn't able to get a final tally. This would almost certainly be one you would have to do one subfolder at a time.

[2017-01-29 13:28] axlecrusher commented on #288
Done.

If anyone wants to verify here is the md5sum of the contents
find podaac-ftp.jpl.nasa.gov/allData/climatology -type f -exec md5sum {} \; | sort -k 2 | md5sum
f659995ef9706b1cc2ad50a444a9c9da  -

[2017-01-29 13:34] blueacid commented on #291
Mirroring

[2017-01-29 14:09] ivanstegic commented on #291
In progress, and will mirror too.

[2017-01-29 15:25] blueacid commented on #203
Mirrored.
http://climatedata.project.zone/mirror/podaac-ftp.jpl.nasa.gov/allData/tellus/
Approx Size: 9.1GB

[2017-01-29 15:31] erikfriesen commented on #289
I ended up having to restart just before i went to be (screwup on my part). It's been runnng about 9 hours and is up to about 125k files in 49k directories.

[2017-01-29 15:45] donbright commented on #9
It looks like this data might be available in bulk at ftp://ftp.arm.gov/

Especially pub/sites which appears to have a massive amount of data from the various ARM research sites, using abbreviations for each site.

It appears to be rather fragile. The http website is completely dead.

[2017-01-29 15:57] blueacid commented on #286
Mirrored: http://climatedata.project.zone/mirror/ftp.ncdc.noaa.gov/pub/data/normals/

[2017-01-29 16:02] blueacid commented on #287
Also mirrored at: http://climatedata.project.zone/mirror/eclipse.ncdc.noaa.gov/pub/ssmi/monthly_ncdc/ncdc/

[2017-01-29 16:13] 108111 commented on #194
Started downloading, first folder to download is L1. Intend to upload to dropbox pro asap

[2017-01-29 16:53] wantonwonton commented on #178
@Wolf-Rayet What's the server's IP address?  Maybe I can download some files starting from the other end of the list of directories.  Have you needed to insert delays between files?

[2017-01-29 18:35] gofrogs2013 commented on #216
I'm uploading to MEGA (formerly Megaupload) now as they have 50 GB of space with their free accounts, although my slow up speeds are dragging it out. I'll compare the SHA checksums and maybe get those dotfiles that I missed (as Filezilla excludes them by default). Once it's done I'll post a link.

[2017-01-29 18:57] alex-kazda commented on #194
@108111 According to lftp, the L1 directory has about 28 GB, but L2 has 8.8 TB, so watch out ("preview" has 5.1 GB and lftp is still trying to figure out how big retired is).

[2017-01-29 19:12] Pneumaticat commented on #229
Downloading the data at ftp://spdf.gsfc.nasa.gov/pub/data/omni/, which is linked from and seems to be at least part of this? Estimated size 42.2 GB.

[2017-01-29 19:31] wantonwonton commented on #287
I have an offline copy as well.  Here are MD5 checksums for the files ([md5sums.txt](https://github.com/climate-mirror/datasets/files/737747/md5sums.txt)).

[2017-01-29 19:40] alex-kazda commented on #194
This is almost surely a duplicite of #262  (podaac-ftp vs podaac as the lowest level domain, the same directory structure...).

[2017-01-29 19:41] alex-kazda commented on #262
If I'm right that this is the same repository as #194, then the total size of just L1 and L2 subdirectories is about 8.8 TB.

[2017-01-29 22:14] erikfriesen commented on #288
downloading a copy. will check md5 when complete

[2017-01-29 22:15] erikfriesen commented on #289
well, it was still running this afternoon. i cancelled the job and will move on to an easier task for now

[2017-01-29 22:49] erikfriesen commented on #288
Grabbed all the data, the size looks correct.

Having a problem with the md5sum though (i am new at this)

I have the files stored in `/data/climate`

When i run `find climate/ -type f -exec md5sum {} \; | sort -k 2 | md5sum` from within `/data`, i get
d7fe7cb0f83b380d4cf7689eb2aaeb51

When i run `find . -type f -exec md5sum {} \; | sort -k 2 | md5sum` from within `/data/climate`, i get
763abd82c0

[2017-01-29 23:01] nrdufour commented on #152
Downloading as well

[2017-01-29 23:15] nrdufour commented on #157
Downloading

[2017-01-29 23:16] tkyocum commented on #195
This is now archived, available from S3 here: https://s3-us-west-1.amazonaws.com/podaac-ftp.jpl.nasa.gov/merged_alt.tar (56GB)

[2017-01-29 23:21] tkyocum commented on #263
This is ~268GB. I have it all archived; will post S3 URL when the tarball is complete.

[2017-01-29 23:32] Trevoke commented on #270
Started a download of the whole thing; not sure how many gigs it is. *supposedly* my hosting plan involves unlimited bandwidth and unlimited storage... I've had the account for ten years and never tried to push the boundaries. I wonder what's gonna happen.

[2017-01-29 23:40] donbright commented on #194
regarding likelihood of duplication, i agree
[code]

[2017-01-30 00:22] nrdufour commented on #157
Data is available at http://climate.nemoworld.info/data.ncdc.noaa.gov/cdr/solar-irradiance/

[2017-01-30 01:24] erikfriesen commented on #288
I can't seem to make the md5sum match, but i have downloaded it twice now (and maintained the original directory structure this time instead of dumping it into a directory named "climate") and the md5sums between those two match.

[2017-01-30 01:26] erikfriesen commented on #288
find podaac-ftp.jpl.nasa.gov/allData/climatology -type f -exec md5sum {} \;
| sort -k 2 | md5sum

6610bc1829075746bfe56105eedd8342

[2017-01-30 01:29] bkirkbri commented on #288
@axlecrusher @erikfriesen Do you have URLs for these mirrors? Thanks!

[2017-01-30 01:54] erikfriesen commented on #288
@bkirkbri  i don't have it on a public facing mirror yet. still need to get that setup. the data is on my home server right now.

[2017-01-30 01:58] donbright commented on #260
Mirror: offline, contact me if data is needed
Size: 163M
Hashdeep: offline, contact me if data is needed

-----

redownloaded 2017-2-19 due to hard drive failure

[2017-01-30 02:00] erikfriesen commented on #209
downloading. looks like the data is approximately 40GB

[2017-01-30 02:34] axlecrusher commented on #288
@erikfriesen I agree with you md5sum

find podaac-ftp.jpl.nasa.gov/allData/climatology/ -type f -exec md5sum {} \; | grep -v '.listing' | sort -k 2 | md5sum
6610bc1829075746bfe56105eedd8342  -

[2017-01-30 02:42] donbright commented on #170
Mirror: offline, contact me if data is needed
Size: 9.4M
Hashdeep: offline, contact me if data is needed

-----
redownloaded 2017-2-19 due to hard drive failure

[2017-01-30 02:50] donbright commented on #169
Mirror: offline, contact me if data is needed
Size: 247M
Hashdeep: offline, contact me if data is needed

---

redownloaded 2017-2-19 due to hard drive failure

[2017-01-30 02:52] donbright commented on #168
Size estimates ```
lftp -c 'open ftp://ghrc.nsstc.nasa.gov/pub/data && du -h -d1'
8.8G    ./aces
602M    ./ampr
330G    ./ksc-fieldmill
13G     ./ksc-ldar
826M    ./lip
137M    ./ols
58G     ./otd
72G     ./SANDS
66G     ./tmi-op
547G    .

[code]

[2017-01-30 02:54] donbright commented on #153
data in this issue is likely contained within #291

[2017-01-30 02:59] donbright commented on #161
got this message when trying to connect
[code]

standard anonymous login gives this

ftp> ls
550 Permission denied.
ftp: bind: Address already in use

[2017-01-30 03:10] donbright commented on #164
gonna have to McGuyver this one, apparently the ftp site is gone, and everything is through http now

http://gis.stackexchange.com/questions/165084/how-to-download-mod16-modis-evapotranspiration-image

[2017-01-30 03:12] donbright commented on #164
per README:

[code]

[2017-01-30 03:26] empirical-bayesian commented on #161
That's boilerplate, and invalid if interpreted that way. It is a public
system. What's wrong is the posting of the boilerplate.

On Sun, Jan 29, 2017, at 21:59, don bright wrote:

Links:

  1. https://github.com/climate-mirror/datasets/issues/161#issuecomment-275970876
  2. https://github.com/notifications/unsubscribe-auth/AD3HB38NFMtTuH80Xtwp3_vQInKKUgBCks5rXVH1gaJpZM4LtKyP

[2017-01-30 03:36] donbright commented on #173
with @gynt 's idea from #171 this may be at

ftp://infield.nsstc.nasa.gov/gpm_validation/mc3e

[2017-01-30 03:43] donbright commented on #178
the name ladsftp.nascom.nasa.gov no longer resolves in dns

[code]

[2017-01-30 03:44] bkirkbri commented on #68
From the FTP banner:

Active Archive Center (LP DAAC) located at the USGS Earth Resources Observation and
Science (EROS) Center.

[2017-01-30 03:52] donbright commented on #171
Size estimates uinsg @gynt 's alternate url
[code]

[2017-01-30 03:52] gofrogs2013 commented on #279
I'm curious if it would be worthwhile to try to make a FOIA request for this information as I'm having the same issue with slow downloads and we could get it on a hard drive or similar, albeit with a fee.

[2017-01-30 03:52] matthewberryman commented on #123
Here are .tar.bz2 files of directories of the web content I've saved: [www.epa.gov](http://acrossthecloud.net-climatebackups.s3-website-us-west-1.amazonaws.com/www.epa.gov-20170128.tar.bz2) (~50GB) and [climate.nasa.gov](http://acrossthecloud.net-climatebackups.s3-website-us-west-1.amazonaws.com/climate.nasa.gov-20170126.tar.bz2) (~2GB). SHA512's at https://gist.github.com/matthewberryman/4e035ffe

[2017-01-30 03:53] Wolf-Rayet commented on #178
@wantonwonton The host now is ftp://198.118.194.40/allData

[2017-01-30 03:54] donbright commented on #173
size estimates with @gynt 's alt url:
[code]

[2017-01-30 03:56] donbright commented on #174
size estimates
[code]

[2017-01-30 04:05] mxplusb commented on #68
Ah, yeah, we might not need this data at this point, to be honest. I don't think it's directly "climate" data as it's for the USGS. I'm gonna mark it as low priority.

[2017-01-30 04:12] bkirkbri commented on #68
Ok, I'll pause for now.

[2017-01-30 04:23] donbright commented on #185
size estimates with @bohf453 's alternate url

[code]

[2017-01-30 04:24] donbright commented on #186
size estimates:
[code]

[2017-01-30 04:25] tkyocum commented on #264
159GB. Archived and available here: https://s3-us-west-1.amazonaws.com/podaac-ftp.jpl.nasa.gov/oceansat2.tar

[2017-01-30 04:26] tkyocum commented on #263
169GB compressed. Archive available here: https://s3-us-west-1.amazonaws.com/podaac-ftp.jpl.nasa.gov/nscat.tar

[2017-01-30 04:32] donbright commented on #191
Mirror: offline, contact me if data is needed
Size: 141M
Hashdeep: offline, contact me if data is needed
Hashdeep signature: offline, contact me if data is needed

----

redownloaded 2017-2-19 due to hard drive failure

[2017-01-30 04:38] detrout commented on #20
I've been occasionally rerunning mirror to update the archive.

I just done a zfs snapshot so I can see easily see whats changed between mirrors.

[2017-01-30 04:45] donbright commented on #198
probable duplicate of #251 (same url)

[2017-01-30 04:48] donbright commented on #200
probable duplicate of #208

[2017-01-30 04:51] donbright commented on #208
probable duplicate of #200 and #256

[2017-01-30 04:51] donbright commented on #256
probable duplicate of #200 and #208

[2017-01-30 04:53] donbright commented on #251
size estimate : 42G

probable duplicate of #198

[2017-01-30 04:55] donbright commented on #51
probable duplicate of #246

[2017-01-30 05:05] donbright commented on #270
@Trevoke it is probably many many Terabytes, there are multiple already existing issues for various subdirectories of  podaac.jpl.nasa.gov and a lot of them are several dozen gigabytes. You can see them by clicking the blue 'podaac' label that @mxplusb created above

[2017-01-30 05:19] donbright commented on #182
size estimate: 3.0T from lftp du -h

[2017-01-30 05:20] donbright commented on #189
size estimates:
[code]

[2017-01-30 05:21] donbright commented on #190
size estimate: 3.0T using lftp du -h

[2017-01-30 05:22] donbright commented on #195
size estimates:
[code]

[2017-01-30 06:07] donbright commented on #257
size estimate
[code]

[2017-01-30 06:21] JeremiahCurtis opened #292 "ftp://ftp.ngdc.noaa.gov/"
ftp://ftp.ngdc.noaa.gov/

[2017-01-30 07:02] donbright commented on #291
offline copy complete.

[code]

-----

update per @bkirkbri request, findmd5 hash: d2c070088f3809259e5ee68b9c45d296
2/2 added sort -k 2, per other issue comments

find cdiac.esd.ornl.gov/ -type f -exec md5sum {} \; > /tmp/ff
cat /tmp/ff  | grep -v \.listing  > /tmp/ff2
cat /tmp/ff2 | sort -k 2 > /tmp/ff3
cat /tmp/ff3 | md5sum

----

hashdeep: offline, contact me if data is needed( 90 megabytes)

[2017-01-30 11:39] axlecrusher commented on #286
md5sum for verification

find ftp.ncdc.noaa.gov/pub/data/normals/ -type f -exec md5sum {} \; | grep -v '.listing' | sort -k 2 | md5sum
872de3e28379149c42022c67ad166f33  -

[2017-01-30 11:46] wantonwonton commented on #274
So, https://www.ncei.noaa.gov/data/igra/v2beta/ seems to be over 2.5TB.  I did a little digging, and found the current IGRA data at ftp://ftp.ncdc.noaa.gov/pub/data/igra/ and https://www1.ncdc.noaa.gov/pub/data/igra/.  The [igra2-readme.txt](https://www1.ncdc.noaa.gov/pub/data/igra/igra2-readme.txt) file talks about the v2 data.

According to https://geosci.uchicago.edu/~rtp1/PrinciplesPlanetaryCl

[2017-01-30 13:14] donbright commented on #161
but are there any files to get? the system seems unresponsive...

[2017-01-30 13:27] donbright commented on #183
size estimates

[code]

[2017-01-30 13:54] planetor commented on #274
@wantonwonton

Yes your are right it seems to be not important. I've found a readme.txt file about it:

https://www1.ncdc.noaa.gov/pub/data/igra/status.txt

**September 11, 2014 Addition

A beta version of IGRA v2 is now available, including sounding data, monthly means, derived parameters, station history information, and basic format documentation. IGRA 2beta is available in the FTP directory ht

[2017-01-30 14:27] gofrogs2013 commented on #289
I'm going one subfolder at a time now. Once I get it done I'll compress the entire thing and upload it.

[2017-01-30 15:12] patrickegleason commented on #147
downloading

[2017-01-30 15:27] erikfriesen commented on #265
Getting ready to queue this one up for download

[2017-01-30 15:28] nrdufour commented on #152
Downloaded and available at http://climate.nemoworld.info/cddis.gsfc.nasa.gov/vlbi/ivsproducts/

[2017-01-30 15:42] tkyocum commented on #258
3.7G compressed. Available here: https://s3-us-west-1.amazonaws.com/podaac-ftp.jpl.nasa.gov/tellus.tar

[2017-01-30 15:52] erikfriesen commented on #209
Download completed overnight. file size looks correct. generating md5sum

[2017-01-30 16:51] nubenum commented on #209
My hashes are
`find seasat -type f -exec md5sum {} \; | sort -k 2 | md5sum`
04c3a559a045e661db60fcffff30bfe3

`find podaac.jpl.nasa.gov/allData/seasat -type f -exec md5sum {} \; | sort -k 2 | md5sum`
9fa74f27a5467254645104602000009e

Hope we'll agree!
(I'm on Windows, but used the Ubuntu Bash that comes with Windows 10. I hope this won't be an issue.)

[2017-01-30 17:34] chosenken commented on #236
Status Update:  Downloaded 622 GB, have 481 GB to go.  It looks like each file transfer is limited to about 700-800 KB/s, and with filezilla I have 10 going atm.

I don't know if I'll get this all added to ACD, will prob take a long time to upload(10 Mb upload).  I will add it to IPFS and will work on making a torrent at the least.

[2017-01-30 17:44] nubenum commented on #240
Duplicate of #190

[2017-01-30 18:28] BethTrask commented on #123
Thank you, @matthewberryman and @empirical-bayesian

[2017-01-30 18:37] wantonwonton commented on #278
Some notes on wget options:

**-r/--recursive** - The maximum number of levels defaults to 5!

**-l/--level** - Specifies how deep the recursion should go.  You can specify "inf" for infinite recursion.

**-N/--timestamping** - For files previously downloaded, downloads them again if the remote file timestamp has changed.

**-m/--mirror** - Equivalent to -r -N -l inf --no-remove-listing.  (The las

[2017-01-30 18:47] wantonwonton commented on #133
@donbright Using wget's -r option defaults to only 5 levels of recursion, so is it possible that your download didn't get all the files?  You might want to retry with some other options.  I just posted some notes on wget options [here](https://github.com/climate-mirror/datasets/issues/278#issuecomment-276150012).

[2017-01-30 19:09] erikfriesen commented on #209
@nubenum my hash turned out different. probably ins't related to OS. might be because i ran a slightly different command:

`find podaac-ftp.jpl.nasa.gov/allData/seasat/ -type f -exec md5sum {} \; | grep -v '.listing' | sort -k 2 | md5sum`

adf6466deb5099cdb6564d0913a0310e

will try hashing with a command matching yours

[2017-01-30 19:11] nubenum commented on #209
I'll do yours in the meanwhile...

[2017-01-30 19:27] RustyGuts commented on #235
Mirroring to Google Drive completed. About 3.2TB in total. [Available Here](https://drive.google.com/drive/folders/0B5qJmb_NPV79ZnlsaC1ndFFVamM?usp=sharing)

[2017-01-30 19:30] nubenum commented on #209
Still not the same. Maybe there's actually a difference between podaac-ftp and podaac?
`find podaac-ftp.jpl.nasa.gov/allData/seasat/ -type f -exec md5sum {} \; | grep -v '.listing' | sort -k 2 | md5sum`
a1e5c29f0dd3e77126eff4b07b370c6d

[2017-01-30 19:33] axlecrusher commented on #209
Maybe dump the sorted md5sum list to a file and difference the 2 files?

[2017-01-30 19:54] erikfriesen commented on #209
i think we're going to have to try @axlecrusher's suggestion.
`find seasat -type f -exec md5sum {} \; | sort -k 2 | md5sum` returned
5f56cabc7501dfeb0171b15ef5ed5c04

[2017-01-30 19:54] nubenum commented on #209
The sorted md5sum list: [seasat-hashes.txt](https://github.com/climate-mirror/datasets/files/740101/seasat-hashes.txt)
By the way, my dataset has 42,807,436,366 bytes, however, I've found some hidden .snapshot directories that I vaguely remember to have seen on the server as well, but now aren't there any more. Are we sure that the files on the server don't get altered? Otherwise, it might well be

[2017-01-30 20:25] bkirkbri commented on #190
@blueacid Please update if/when completed. Thanks!
@donbright Are you downloading this one? Thanks!

[2017-01-30 20:25] bkirkbri commented on #240
@Proplex Were you able to complete a mirror of this data? Thanks!

[2017-01-30 20:29] bkirkbri commented on #187
Closing as a duplicate.

[2017-01-30 20:29] #187 closed

[2017-01-30 20:30] bkirkbri commented on #236
@chosenken @astrobackup @AdamBunn Thanks to all of you for your help. Please update when your mirrors are complete.

[2017-01-30 20:32] bkirkbri commented on #258
@tkyocum Thanks!
@gabefair Please update when your mirror completes. Thanks!

[2017-01-30 20:35] bkirkbri commented on #152
@nrdufour Thanks!
@clickbg Please update once your mirror is complete. Thanks!

[2017-01-30 20:36] bkirkbri commented on #265
@erikfriesen @gabefair Please update when you have complete mirrors. Thanks!

[2017-01-30 20:36] jradzuweit commented on #257
started to create mirror at 78.47.40.59, will update when finished

[2017-01-30 20:37] bkirkbri commented on #147
@dnaf @gleezy Please update here when your mirrors complete. Thanks!

[2017-01-30 20:39] bkirkbri commented on #289
@gofrogs2013 Good idea. Please update here when complete (even if you only partially mirror it). Thanks!

[2017-01-30 20:46] wsh commented on #208
Downloaded. Investigating hosting options.

[2017-01-30 20:46] bkirkbri commented on #274
I've got a mirror of `www.ncei.noaa.gov/data/marine/icoads3.0` though it's only a small dataset (~3gb). It is available at http://climate-mirror.s3.ca-central-1.amazonaws.com/index.html

Thanks to @mxplusb @blueacid @planetor @wantonwonton

Please update as mirrors complete.

[2017-01-30 20:50] bkirkbri commented on #161
@donbright Looks like it available now:

[code]

[2017-01-30 20:54] bkirkbri commented on #161
Downloading now...

[2017-01-30 20:56] bkirkbri commented on #286
@axlecrusher Thanks!
@ivanstegic @blueacid Please post md5sum when you can. Thanks!

[2017-01-30 21:00] bkirkbri commented on #291
@donbright Thanks! Please post the output of `find cdiac.esd.ornl.gov/ -type f -exec md5sum {} \; | grep -v \\.listing | md5sum` when you can.
@ivanstegic @RoundWorld @blueacid Please update with status and md5sum when your mirrors complete. Thanks!

[2017-01-30 21:05] bkirkbri commented on #225
@k15z Thank you!

Closing as this is a subset of #291 so we have multiple mirrors now.

[2017-01-30 21:05] #225 closed

[2017-01-30 21:07] bkirkbri commented on #153
Closing as a (small) subset of #291.

@gabefair @as-com Thanks!

[2017-01-30 21:07] #153 closed

[2017-01-30 21:08] bkirkbri commented on #291
This is a superset of #225, which [has been mirrored](https://github.com/climate-mirror/datasets/issues/225#issuecomment-275288894). Also a subset of #153, which has been closed.

[2017-01-30 21:09] bkirkbri commented on #257
@jradzuweit Thanks! Please update when your mirror completes.

[2017-01-30 21:13] bkirkbri commented on #213
I vote to close.

[2017-01-30 21:13] nickrsan commented on #278
Agreed with mxplusb - we'll definitely act on a Pull Request that improves any of the documentation, including one on specific commands to run and tools to use. It'd probably be best to make a new markdown file and reference it in the main readme as a table of contents, but whatever you submit that improves it is welcomed.

[2017-01-30 21:15] jradzuweit commented on #257
I had to cancel, it's too large for my machine, sorry

[2017-01-30 21:16] bkirkbri commented on #195
@tkyocum Thanks!

Looks like it's a .tar.gz file, correct? If you still have a local copy, would you post the output of `find podaac-ftp.jpl.nasa.gov/allData/merged_alt -type f -exec md5sum {} \; | grep -v \\.listing | md5sum`

[2017-01-30 21:18] bkirkbri commented on #190
Issue #240 is a duplicate, but is open because [a mirror was started](https://github.com/climate-mirror/datasets/issues/240#issuecomment-275535452).

[2017-01-30 21:19] 108111 commented on #262
I've been downloading for 30 hours, downloading L1 of podaac-ftp.jpl.nasa.gov:/allData/jason1 under #194 (which @alex-kazda pointed out is the same).

Currently up to 'L1/.snapshot/hourly.2/rinex/trsr1810.07o’

However, I'm at 24GB already. The 28GB size doesn't include /.snapshot as it is a hidden folder.

Is anyone else downloading this? @mxplusb how are you doing? If not, I'll carry on. I don't

[2017-01-30 21:19] bkirkbri commented on #189
@kitchenninja Thanks! Please update when you have a complete mirror.

[2017-01-30 21:26] bkirkbri commented on #270
@Trevoke Thanks for your help! I agree with @donbright that your effort is best spent on a smaller `PODAAC` issue.

We will close this one if no one can confirm that`/pub/documents` content exists somewhere.

[2017-01-30 21:44] bkirkbri commented on #51
Requires registration for access. Appears to be a multi-national project and should be at lower threat.

[2017-01-30 21:47] bkirkbri commented on #51
Data may be available at #246. Closing as a duplicate.

[2017-01-30 21:47] #51 closed

[2017-01-30 21:47] JeremiahCurtis opened #293 "ftp://podaac-ftp.jpl.nasa.gov/allData/seawifs/"
ftp://podaac-ftp.jpl.nasa.gov/allData/seawifs/

[2017-01-30 21:49] JeremiahCurtis commented on #277
Is this the same as ftp://podaac-ftp.jpl.nasa.gov/allData/seawinds/ ?

[2017-01-30 21:50] JeremiahCurtis opened #294 "ftp://podaac-ftp.jpl.nasa.gov/allData/seawinds/"
ftp://podaac-ftp.jpl.nasa.gov/allData/seawinds/

[2017-01-30 21:54] bkirkbri commented on #246
Downloading now...

[2017-01-30 21:55] bkirkbri commented on #198
@gabefair Thanks! Is your mirror completed? Available publicly?

[2017-01-30 21:56] JeremiahCurtis opened #295 "ftp://podaac-ftp.jpl.nasa.gov/allData/ssmi/"
ftp://podaac-ftp.jpl.nasa.gov/allData/ssmi/

[2017-01-30 21:57] bkirkbri commented on #251
@sand500 Thanks! Is your mirror public? Can you post `find podaac-ftp.jpl.nasa.gov/allData/oscar/ -type f -exec md5sum {} \; | grep -v \\.listing | md5sum`
@mskallisti Please update when your mirror is complete. Thanks!

[2017-01-30 21:58] bkirkbri commented on #198
Definitely a dupe of #251, please use that issue for coordination.

[2017-01-30 22:02] JeremiahCurtis opened #296 "ftp://podaac-ftp.jpl.nasa.gov/allData/windsat/"
ftp://podaac-ftp.jpl.nasa.gov/allData/windsat/

[2017-01-30 22:03] JeremiahCurtis opened #297 "ftp://podaac-ftp.jpl.nasa.gov/allData/seawinds/"
ftp://podaac-ftp.jpl.nasa.gov/allData/seawinds/

[2017-01-30 22:21] bkirkbri commented on #200
Closing as a duplicate.

[2017-01-30 22:22] bkirkbri commented on #200
@LFenske Do you have a complete mirror? Is it public? Thanks!

[2017-01-30 22:23] bkirkbri commented on #208
@wsh Thanks! Can you post `find podaac.jpl.nasa.gov/allData/saral -type f -exec md5sum {} \; | grep -v \\.listing | md5sum` to help with cross mirror verification?

[2017-01-30 22:23] bkirkbri commented on #208
Duplicate of #256

[2017-01-30 22:25] bkirkbri commented on #256
@gabefair @chosenken Thanks!

[2017-01-30 22:26] bkirkbri commented on #256
@wsh has a private (for now) mirror as well. See https://github.com/climate-mirror/datasets/issues/208#issuecomment-276185262

[2017-01-30 22:27] bkirkbri commented on #256
@LFenske started a mirror. See https://github.com/climate-mirror/datasets/issues/200#issuecomment-275876894

[2017-01-30 23:07] erikfriesen commented on #265
@gabefair: how large did the data set turn out to be? Still waiting on the results of a `du -h` from within lftp. A bit worried that it may be too large for my machine.

[2017-01-30 23:12] gabefair commented on #265
This one is massive. Every time the FTP finishes, I rerun it with -N -m to double check and it finds more to download. I'm currently at 90gbs

[2017-01-30 23:16] gofrogs2013 commented on #289
@bkirkbri Sure thing. I've got one folder so far, the first of two folders within 1992, which alone is over 30K files! When done, I'll zip it and post a link.

[2017-01-30 23:25] bkirkbri commented on #191
@donbright Thanks!
@gabefair Has your mirror completed? Public? Thanks!

[2017-01-30 23:29] astrobackup commented on #236
I am 200GB in. It is quite slow so far but the issue is on my side of the connection.

[2017-01-30 23:33] bkirkbri commented on #263
@resistor @tkyocum Thanks! If you still have the local tree, would you post `find podaac.jpl.nasa.gov/allData/nscat -type f -exec md5sum {} \; | grep -v \\.listing | md5sum`

@Yuri-M-Dias If you are going the FTPFS route, you can use `rsync` instead of `cp` to be more sure of your copy. It's resumable and when it doesn't do anything, you know you've got the whole tree.

[2017-01-30 23:35] bkirkbri commented on #196
Duplicate of #263.

[2017-01-30 23:36] donbright commented on #178
Very Rough Size Estimate: 163 TB using lftp du -h

I also got an enormous number of 550 errors like this:
[code]

[2017-01-30 23:37] donbright commented on #193
Mirror: offline, contact me if data is needed
Size: 2.3G
Hashdeep: offline, contact me if data is needed

----
redownloaded 2017-2-19 due to hard drive failure

[2017-01-30 23:40] donbright commented on #166
Rough size estimate: 58T using lftp du -h

[2017-01-30 23:41] bkirkbri commented on #196
@TripleE-0 Thanks! Can you post the output of `find podaac.jpl.nasa.gov/allData/nscat -type f -exec md5sum {} \; | grep -v \\.listing | md5sum` to cross verify with other mirrors?

[2017-01-30 23:42] bkirkbri commented on #263
Another private mirror at https://github.com/climate-mirror/datasets/issues/196#issuecomment-275868711

[2017-01-30 23:46] bkirkbri commented on #206
Duplicate of #263, closing.

[2017-01-30 23:46] #206 closed

[2017-01-30 23:50] bkirkbri commented on #277
Many of the directories in `ftp://podaac.jpl.nasa.gov/OceanWinds` seem to overlap with `/allData/...` which is broken into many issues.

[2017-01-30 23:53] axlecrusher commented on #288
magnet:?xt=urn:btih:8749d291c2f514b6f81eba7e80e2513698a90db0&dn=podaac-ftp.jpl.nasa.gov&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337&tr=udp%3a%2f%2ftracker.coppersurfer.tk%3a6969&tr=udp%3a%2f%2ftracker.leechers-paradise.org%3a6969&tr=udp%3a%2f%2fexplodie.org%3a6969

[2017-01-30 23:56] bkirkbri commented on #197
Closing as a duplicate

[2017-01-30 23:56] #197 closed

[2017-01-31 00:08] bkirkbri commented on #264
@mumblepins Did you manage to download this one?

[2017-01-31 00:08] bkirkbri commented on #186
Not a federal site. Low priority.

[2017-01-31 00:09] tkyocum commented on #195
@bkirkbri: 23f0dfc052896ff59cf53abcf334b2ba

It is indeed a tgz; oversight on naming.

[2017-01-31 00:37] bkirkbri commented on #184
Corrected the issue name to match the URL found by @clickbg

[2017-01-31 00:38] bkirkbri commented on #185
@gabefair Why do you vote to close? Is this a duplicate or not relevant? Thanks!

[2017-01-31 00:38] bkirkbri commented on #185
@bofh453 Were you able to get a mirror of this one?

[2017-01-31 00:39] bkirkbri commented on #174
This is a non-federal site, definitely low priority.

[2017-01-31 00:55] wantonwonton commented on #161
I've just started a download as well (to be an offline copy).

[2017-01-31 00:58] blueacid commented on #291
I'm only 41GB in... I think being in the UK means the overall transfer speed drops right off when handling many smaller files; the latency to start each file transfer becomes significant. Twinned with the fact these servers often have limits of 1-2 connections per IP and I go a bit slower than most.. it's a pity; my 100mbit connection is trundling along at around 20-25mbit utilisation.

[2017-01-31 01:00] bkirkbri commented on #171
Title updated to match @gynt 's alternate URL.

[2017-01-31 01:06] bkirkbri commented on #279
@gofrogs2013 Good idea

[2017-01-31 01:09] bkirkbri commented on #279
Can someone volunteer to coordinate this issue? It's great that so many people are dividing it up to get it done! If one of you could track who has what that would be really helpful. Thanks!

[2017-01-31 01:11] bkirkbri commented on #194
@108111 Thank you. Can you update in #262 when you have completed a mirror?

[2017-01-31 01:22] wantonwonton commented on #257
I just started a download of this (to be an offline copy).

[2017-01-31 01:25] bkirkbri commented on #168
According to `ftp://ghrc.nsstc.nasa.gov/pub/data/ksc-fieldmill/doc/kscmill_dataset.html`:

That is unlikely to be at risk data. Excluding it reduces the size of this dataset greatly.

[2017-01-31 01:32] donbright commented on #291
findmd5 hash: 68a27ac62c9e8cad8d8862f877bfd150

hashdeep: http://67.205.151.30/291/hashdeep.audit.txt  ( 90 megabytes)

[2017-01-31 01:33] wantonwonton commented on #292
I've got an lftp du running on this (for 8 hours so far...).  (Unfortunately, I didn't use flags that would give information on individual directory trees.)

[2017-01-31 01:49] gabefair commented on #292
We need to break this one up into other Issue tickets on github

[2017-01-31 01:50] gabefair commented on #262
Maybe we should break up this one into different issue tickets?

[2017-01-31 01:50] wantonwonton commented on #119
I just started a download to be an offline copy.

[2017-01-31 01:53] gabefair commented on #168
Maybe we should break this one up into several issue tickets.
Atmospheric pollutants have an effect on lightning strikes. I could imagine a motivation to kill this dataset

[2017-01-31 01:55] gabefair commented on #257
I have been downloading this one for a while.  I will update when finished

[2017-01-31 01:57] donbright commented on #133
thanks for showing me that, @wantonwonton i re-ran with wget -m -np and there only difference was a handful of strange files like ./pub/grip/HIRAD/v0/data/EARL/tb/index.html?C=M;O=D: , but they are all at the same depth.

i will check my other wgets and make sure they were correct.

[2017-01-31 02:01] axlecrusher commented on #287
md5sums match for me

[2017-01-31 02:01] gabefair commented on #241
I am getting server is not responding error. Is anyone else getting it?

[2017-01-31 02:02] gabefair commented on #290
@ivanstegic  hows it going?

[2017-01-31 02:03] gabefair commented on #272
@ayaeau can you share a mirror or a host of the folder you have all these files in? Thanks

[2017-01-31 02:04] gabefair commented on #9
I don't think its going to be possible to mirror this dataset without some serious coordination.

[2017-01-31 02:05] gabefair commented on #216
@gofrogs2013 can you give us a link?

[2017-01-31 02:05] wantonwonton commented on #120
I just started a download to be an offline copy.  I'm using HTTP, though since there was no response using HTTPS.

[2017-01-31 02:05] gabefair commented on #229
@Pneumaticat  hows it coming along?

[2017-01-31 02:06] gabefair commented on #277
@provos , @k15z  how is it coming along? Can you provide us links to your dataset once you are done? Thanks

[2017-01-31 02:08] donbright commented on #190
no, i am only providing estimates so people can know whether they should start a download or not.  i dont have  space to download most of this stuff.

[2017-01-31 02:10] gabefair commented on #138
any success @stevelord , @clickbg , @gleezy ?

[2017-01-31 02:12] gabefair commented on #119
@wantonwonton Great! Can you provide us a link to your dataset once you are done? Thanks

[2017-01-31 02:14] gabefair commented on #215
@rozap how is it coming? This is a large dataset. Were you able to finish?

[2017-01-31 02:16] donbright commented on #9
lol i crashed my machine trying to do too many 'lftp du -h' at the same time, ran out of memory. will keep trying.

[2017-01-31 02:19] Pneumaticat commented on #229
Download done, it's now up at https://climate.archives.potatofrom.space/spdf.gsfc.nasa.gov/pub/data/omni/. (Warning: uptime is not guaranteed)

[2017-01-31 02:22] axlecrusher commented on #241
@gabefair I seem to be able to reach ftp:/podaac-ftp.jpl.nasa.gov/allData/ghrsst
I am not downloading this data set.

[2017-01-31 02:23] Pneumaticat commented on #150
Got it up at https://climate.archives.potatofrom.space/cddis.gsfc.nasa.gov/slr/data/. (Uptime is not guaranteed.)

[2017-01-31 02:25] Pneumaticat commented on #145
Downloading now.

[2017-01-31 02:25] gabefair commented on #260
Copy here: https://www.dropbox.com/sh/sz6ap5cjnvengde/AAADgU8vhfMZ3Yjx6uAIqJvYa?dl=0

[2017-01-31 02:29] donbright commented on #9
pub/projects is .8 T

pub/sites is 2.9 T, but 2.4T of that is under 'pub/sites/aafF1/hiscale/video'

[2017-01-31 02:57] wantonwonton commented on #274
I've downloaded the latest file of each type/series from the https://www.ncei.noaa.gov/data/igra/v2beta/ directory (plus a bunch of the earlier IGRA_v2.0_data-por_*.tar files that I'm not listing here):

  -rw-rw-r-- 1 root    root    19712624640 Oct 27 15:14 IGRA_v2.0_data-por_s19050404_e20161026_c20161026.tar
  -rw-rw-r-- 1 root    root      524288000 Oct 27 15:21 IGRA_v2.0_data-y2d_s20160101_e2

[2017-01-31 03:05] wantonwonton commented on #170
I grabbed a copy of this as well (offline).  My hashes match yours, @donbright.

[2017-01-31 03:21] wantonwonton commented on #144
I've just started a download to be an offline copy.

[2017-01-31 03:40] bkirkbri commented on #169
@clickbg I get a 404 for that URL.
@donbright Thanks!

[2017-01-31 03:46] bkirkbri commented on #170
@adinbied Hash for the contents of your ZIP matches @donbright and @wantonwonton

Thank all of you.

[2017-01-31 04:03] bkirkbri commented on #260
@sx3wiz @donbright @gabefair Hashes match

Thank you!

[2017-01-31 04:07] wantonwonton commented on #177
I'm downloading this to be an offline copy.  I'm using ftp://l5eil01.larc.nasa.gov/distribution/SAGE_III/ to avoid the symlinks.

[2017-01-31 04:07] bkirkbri commented on #291
@blueacid Understood, thank you.
@donbright Thanks for the hashes.

[2017-01-31 04:22] wantonwonton commented on #184
I've started a download to be an offline copy.

[2017-01-31 04:27] bkirkbri commented on #223
Closing as a duplicate.

[2017-01-31 04:27] #223 closed

[2017-01-31 04:29] bkirkbri commented on #244
Duplicate of #193.

[2017-01-31 04:43] sx3wiz commented on #203
Put up a mirror at ftp://climate.bootleg.network/podaac-ftp.jpl.nasa.gov/allData/tellus/
Size: 82GB

[2017-01-31 04:45] wantonwonton commented on #169
I'm downloading this to be an offline copy.

[2017-01-31 04:45] bkirkbri commented on #193
@rozap Thanks! Please update when your mirror is complete.
@donbright Thank you
@adinbied Your mirror at https://github.com/climate-mirror/datasets/issues/244#issuecomment-275288586 matches except for these files:

[code]

I suspect these files changed between the two mirrors being made.

[2017-01-31 04:45] wantonwonton commented on #118
I'm downloading this to be an offline copy.

[2017-01-31 04:45] #244 closed

[2017-01-31 04:49] adinbied commented on #193
@bkirkbri Yup, i'm pretty sure that's what happened. Should I bother to re-mirror?

[2017-01-31 04:50] erikfriesen commented on #265
@gabefair: Understood. Please let me know when you end up with a final size. Going to move on to another data set for now, but I'll keep an eye on this one.

[2017-01-31 04:51] erikfriesen commented on #297
checking file size now. will update when done or if it's taking an exceptionally long time.

[2017-01-31 04:58] wantonwonton commented on #91
I'm downloading this to be an offline copy.

[2017-01-31 05:09] erikfriesen commented on #209
alright, ran a diff, no idea if i did i right. `hashes` is my file `seasat-hashes.txt` is @nubenum's file.
`diff hashes seasat-hashes.txt`

Looks significantly different. I wonder if the files on the server are indeed being altered.

[hashdiff.txt](https://github.com/climate-mirror/datasets/files/741132/hashdiff.txt)

[2017-01-31 05:13] wantonwonton commented on #45
I've started downloading this (to be an offline copy).

[2017-01-31 05:35] wantonwonton commented on #113
I've started downloading this (to be an offline copy).

[2017-01-31 06:05] gabefair commented on #193
I have a copy here: https://www.dropbox.com/sh/l1hkna5hng74zs1/AAAyBSpNnGMwbACfefsZdVdpa?dl=0

[2017-01-31 06:14] provos commented on #277
At 345G for allData/aquarius right now and 145G on allData/modis. I hope the 3TB I have for serving will be enough.

[2017-01-31 07:10] Cubytus commented on #209
Currently downloading this. I'm pretty new to this but will try to follow other's comments.

Suggestion: does GitHub allow for changing an issue's title? It would be great to have a rough idea of the disk space required. There is no much point in attempting to copy too large a dataset.

[2017-01-31 08:20] nubenum commented on #209
Ok, I think I found the problem. The md5sums of the diffs are all correct/same, it's only the path:
`podaac-ftp.jpl.nasa.gov/allData/seasat/retired/L2/smmr/SEASMR20_001/`
`podaac-ftp.jpl.nasa.gov/allData/seasat/retired/L2/smmr/seasmr20_001/`
So it's only about the capitalization of the directory, which means that actually WINDOWS is the problem. Both `SEASMR20_001` and `seasmr20_001` exist on the

[2017-01-31 13:05] gabefair commented on #256
And here is another copy: https://www.dropbox.com/sh/jt9rr4g1havt2ue/AACEd9hOR-E3FZz7qJ7FDmJIa?dl=0

[2017-01-31 13:06] planetor commented on #274
My current state is:

1 = done
2 = please download, because my webspace has reached its limits
3 = download of this directory is still running
4 = directory was empty

- [ ] amsu-a-1c-bt-grid **2**
- [ ] amsu-a-brightness-temperature-noaa **2**
- [ ] avhrr-aerosol-optical-thickness  **2**
- [ ] avhrr-land-leaf-area-index-and-fapar  **2**
- [ ] avhrr-land-normalized-difference-vegetation-index  **2

[2017-01-31 13:19] gabefair commented on #29
@Zirus1701 Thanks for doing this!
Also consider using -m next time. Can you share a link to your mirror or dataset copy?

[2017-01-31 13:35] gofrogs2013 commented on #216
@gabefair Here it is. Just finished after literally 3 days of 24/7 uploading - blasted upload speeds!
https://mega.nz/#F!7kpwDarD!mvgr6p7MG_Pyzp97EFSHiQ
@alex-kazda If it's not too much trouble, you could try downloading this copy onto your computer as well and cross-checking the SHA-256 checksums. Note that the mirror won't have dotfiles, so you could delete them on your copy or I could add them

[2017-01-31 15:43] nubenum commented on #209
@erikfriesen Ok great I got the same hash now!
`adf6466deb5099cdb6564d0913a0310e`

I simply changed the paths in my hashdump since I obviously can't create these two directories at once.
I should definitely switch to Linux...

@axlecrusher Was a great idea, helped a lot to find out that Windows is stupid!
@Cubytus That's the reason why I won't be downloading much else because I don't have that muc

[2017-01-31 16:11] bkirkbri commented on #193
@adinbied No need. Thank you.

[2017-01-31 16:25] erikfriesen commented on #209
oh wow! good to know that about windows. I thought I was going mad.

[2017-01-31 16:28] bkirkbri commented on #246
We may need a login to get the full data. It looks like anonymous access only gets a preview.

Waiting for confirmation here https://podaac.jpl.nasa.gov/forum/viewtopic.php?f=72&t=487

[2017-01-31 16:34] gabefair commented on #266
@Zanooda how is it coming?

[2017-01-31 16:55] rozap commented on #215
no i hit my comcast data cap...and they injected a message into an http site to tell me that... :rage:

I got about 1.5tb - but this issue needs to remain open until someone else can get it.

[2017-01-31 16:55] Serubin commented on #279
I've suffered an untimely hard drive failure, I gotta back out. Sorry.

[2017-01-31 17:36] bkirkbri commented on #296
I estimate this is about 21GB based on 3-6MB per day for 13 years.

[2017-01-31 17:38] bkirkbri commented on #287
Thank you everyone

[2017-01-31 17:39] bkirkbri commented on #295
May be a superset of #287

[2017-01-31 18:00] bkirkbri commented on #295
Total size is about 51GB according to `lftp du`

[2017-01-31 18:28] Cubytus commented on #209
Idea: for those who can spend it, **hubiC** offers 10TB worth of storage for 50€ a year. Of course, it's not a FTP server, obviously, but lots of space for 50¢ per TB. Much cheaper than physical HDDs. One would have to know their ToS, though.

Would this be a good idea? Except maybe scientists and science-interested persons, not everybody can / is willing to spend hundreds of $ on storage to be in

[2017-01-31 18:44] alex-kazda commented on #216
@gofrogs2013 I will upload my version tomorrow. As to verifying your version, I will start with that only after I'm reasonably sure that there is nothing more urgent that I can contribute to.

[2017-01-31 18:48] wantonwonton commented on #169
My download completed and my hashes match those from @donbright.

I also ran this command:
find ghrc.nsstc.nasa.gov/pub/doc/ -type f ! -name .listing | xargs md5sum | sort -k 2 | md5sum

which computed this overall hash: bd8e71c99052e38982b13133c80e2dde.

[2017-01-31 18:58] wantonwonton commented on #118
My download finished.  I used wget -N -m -e robots=off (which did produce some extra files, like "index.html?C=D;O=A").  Here's a hash for comparison:

find www.ncdc.noaa.gov/orders/qclcd/ -type f ! -name .listing | xargs md5sum | sort -k 2 | md5sum
6ef3df73ac8d977712cfcd69f5a28fc5  -

[2017-01-31 19:03] wantonwonton commented on #91
My download finished.  Here's a hash for comparison:

find newftp.epa.gov/EJSCREEN/ -type f ! -name .listing | xargs md5sum | sort -k 2 | md5sum
38fb1058ff678cb4b88187a44581d676  -

[2017-01-31 19:35] wantonwonton commented on #45
My download finished. Here's an overall hash for comparison:

find ftp.pmel.noaa.gov/GTMBAdata/ -type f ! -name .listing | xargs md5sum | sort -k 2 | md5sum
fd0bf8123c315ea1564f33facd87f7e9  -

[2017-01-31 19:57] Pneumaticat commented on #145
Download complete—now at https://climate.archives.potatofrom.space/cddis.gsfc.nasa.gov/doris/products/.

[2017-01-31 19:58] wantonwonton commented on #113
My download finished.  I used used this command, though I'm not sure if these were the most appropriate options for this site:

wget -N -m --wait=10 --random-wait -e robots=off --follow-ftp https://echo.epa.gov/tools/data-downloads

[2017-01-31 20:20] erikfriesen commented on #296
Running `du-h` via lftp now. will update with file size and start downloading if it's small enough my my machine.

[2017-01-31 21:00] 108111 commented on #262
@gabefair agree, borrowed 7TB so downloading /L1, /preview and /retired.

Suggest new ticket for L2 (I don't know how to, sorry!)

[2017-01-31 21:02] 108111 commented on #194
@bkirkbri yep, will do.

[2017-01-31 21:07] gofrogs2013 commented on #279
I went ahead and made a FOIA request for all data in the newftp folder. I'll keep this page posted with any updates.

[2017-01-31 21:31] Ichimonji10 commented on #294
This issue is a duplicate of #297.

[2017-01-31 21:45] bkirkbri commented on #293
This appears to be 9.1GB.

[2017-01-31 22:00] bkirkbri commented on #229
From the original link, it is unclear what data should be mirrored. It also doesn't seem to be at-risk data. Marking as low-priority but please comment if this is not accurate.

[2017-01-31 22:19] bkirkbri commented on #296
It's so many directories and small files that I ran `du` on a wide sample, found pretty consistent results and extrapolated.

[2017-01-31 22:20] bkirkbri commented on #294
Closing as a duplicate.

[2017-01-31 22:20] #294 closed

[2017-01-31 22:21] Ichimonji10 commented on #149
Downloading with:

[code]

Assuming all goes well, I'll make the data set available as a torrent this weekend.

[2017-01-31 22:29] bkirkbri commented on #216
Two copies are definitely better than one. We're aiming for at least two mirrors per dataset. Thanks to both of you. @gofrogs2013 Please post the link and SHA256 sums when you can.

[2017-01-31 22:33] bkirkbri commented on #216
This does appear to be uncompressed recent data from #215.

[2017-01-31 22:37] bkirkbri commented on #9
Seems like an ideal candidate to reach out to and get bulk access to priority data.

[2017-01-31 22:55] bkirkbri commented on #203
It looks like the source site sizes are:

[code]

@sx3wiz Is your mirror really 82GB? Has something disappeared?

[2017-01-31 23:04] bkirkbri commented on #215
Size appears to be:

[code]

[2017-01-31 23:09] bkirkbri commented on #203
Nevermind, looks like ftp://climate.bootleg.network/podaac-ftp.jpl.nasa.gov/allData/tellus/ is 9.1GB as well.

Can you both post `hashdeep -erl ./podaac-ftp.jpl.nasa.gov/` output for your mirrors? Thanks!

[2017-01-31 23:10] markuslaker commented on #293
Downloading now:

wget --output-file=log.txt --mirror --no-verbose ftp://podaac-ftp.jpl.nasa.gov/allData/seawifs/

I'll figure out how to make a Torrent file from this data tomorrow and post the result here.  (Yep, I'm a torrent newbie.)

[2017-01-31 23:13] bkirkbri commented on #242
@lgreenlee Thank you! Can you post a URL to your mirror? Also, `hashdeep -erl ./podaac-ftp.jpl.nasa.gov/` is very helpful for cross-verification of mirrors.

[2017-01-31 23:14] bkirkbri commented on #290
Duplicate of #242.

@ivanstegic Can you please post any status updates in #242? Thank you.

[2017-01-31 23:18] bkirkbri commented on #241
@Proplex Thank you. Can you let us know which subfolders you do have? Also `hashdeep -erl ./podaac-ftp.jpl.nasa.gov/allData/ghrsst` output is helpful.

[2017-01-31 23:19] bkirkbri commented on #204
Appears to be a duplicate of #192. @gabefair Were you able to mirror this one?

[2017-01-31 23:21] bkirkbri commented on #192
Duplicate of #241.

@rozap Were you able to get this one?

[2017-01-31 23:25] bkirkbri commented on #282
Duplicate of #268

[2017-01-31 23:27] bkirkbri commented on #268
This is a subset of #282.

@gabefair @DiabolicalTMcD Any luck?

[2017-01-31 23:28] bkirkbri commented on #282
@JeremiahCurtis @ivanstegic Are your mirrors of the `amsre` dataset public? Can post `hashdeep` digests for them?

[2017-01-31 23:28] bkirkbri commented on #282
Thanks!

[2017-01-31 23:28] bkirkbri commented on #144
@sx3wiz @wantonwonton Can you post `hashdeep` output for these so that we can cross-verify? Thanks!

[2017-01-31 23:38] bkirkbri commented on #207
@ivanstegic Thanks. Were you able to mirror this one?

[2017-01-31 23:39] bkirkbri commented on #199
Closing as a duplicate.

[2017-01-31 23:39] #199 closed

[2017-01-31 23:39] bkirkbri commented on #207
Duplicate of #266

[2017-01-31 23:40] bkirkbri commented on #266
@ivanstegic is also mirroring this one https://github.com/climate-mirror/datasets/issues/207#issuecomment-275873200

[2017-01-31 23:59] bkirkbri commented on #145
@Pneumaticat Would you post `hashdeep -erl ./cddis.gsfc.nasa.gov/doris/products/` to help in cross verification? Thanks!

[2017-02-01 00:00] bkirkbri commented on #143
@clickbg Thank you. Would you post `hashdeep -erl ./cddis.gsfc.nasa.gov/doris/ancillary/` output for cross verification with the next mirrorer?

[2017-02-01 00:15] donbright commented on #169
this is weird but i cannot get my md5 hash to match @wantonwonton

[code]

[2017-02-01 00:27] markuslaker commented on #293
We're downloading at about 300MB/hr, and so, if bkirkbri's estimate of 9.1GB is correct, it'll be Thursday before I can finish downloading and produce a Torrent.

[2017-02-01 01:22] Pneumaticat commented on #145
Sure! It's at https://climate.archives.potatofrom.space/cddis.gsfc.nasa.gov-doris-products.hashdeep.txt. (I'd paste it here too, but I think GitHub would frown upon 21 MB of text.)

[2017-02-01 01:32] bkirkbri commented on #150
@Pneumaticat can you provide a `hashdeep -erl ./cddis.gsfc.nasa.gov/slr/data` for cross verification?

[2017-02-01 01:49] bkirkbri commented on #146
Downloading now

[2017-02-01 02:23] bkirkbri commented on #116
My hashes match. Thanks @donbright

[2017-02-01 02:27] bkirkbri commented on #167
Looks like the same data as #138

[2017-02-01 02:28] bkirkbri commented on #138
Looks like @mxplusb is also downloading https://github.com/climate-mirror/datasets/issues/167#issuecomment-275196839

[2017-02-01 02:53] sx3wiz commented on #203
Weird this is what I get from du
[code]

I'm doing a hashdeep now. I will post here when complete.

[2017-02-01 02:56] sx3wiz commented on #144
@bkirkbri Here is the output of hashdeep. [doris.hashdeep.txt](https://github.com/climate-mirror/datasets/files/743773/doris.hashdeep.txt)

[2017-02-01 03:13] chosenken commented on #256
@bkirkbri MD5SUM of the `saral` directory:  `c87c03346fdff4e220a0e1efbed2da3b`

[2017-02-01 03:21] wsh commented on #208
```ad38720321c16855fa93c67cd744ca7d```

[2017-02-01 03:25] JeremiahCurtis commented on #162
this is probably one of the most important ftp directories in the entire effort....Any idea where we stand on this? I have been grabbing some smaller folders via https://www1.ncdc.noaa.gov/pub/data/ (which I assume is identical to the ftp directory except some additional subdirectories in the https directory; if that's incorrect, perhaps someone would know), especially the folders which are not me

[2017-02-01 03:39] bkirkbri commented on #146
Scratch that, misread as GB not TB. Someone else with more space want to tackle this one?

[2017-02-01 03:52] gpk320 commented on #64
Downloading this data is a nontrivial engineering task.  The data is only available through a complex HTTP REST API,
documented here: https://ppbiodata.inpa.gov.br/metacat/docs/api/index.html?edu/ucsb/nceas/metacat/client/rest/MetacatRest.html

I grabbed what I could via wget, but it's just puffery, graphics, and javascript.

[2017-02-01 04:54] wantonwonton commented on #169
@donbright I notice that your earlier hashdeep output was generated from /var/www/html/disk2/169/ghrc.nsstc.nasa.gov (note the "disk2").  Was that a different copy that would account for the different hash?

You might try running hashdeep again and see if you get the same results that you had posted previously.

[2017-02-01 05:24] donbright commented on #293
attempting download for offline archive.

[2017-02-01 05:25] erikfriesen commented on #296
Cool, I'm gonna trust your extrapolation and just start downloading since the `du -h` is *still* running

[2017-02-01 05:34] donbright commented on #9
attempting mirror of everything in 'sites' except 'Video'. getting good xfer rate, 1.7M/s

[2017-02-01 06:48] donbright commented on #155
attempting offline copy

[2017-02-01 10:27] markuslaker commented on #293
wget segfaulted early this morning after downloading about 3GiB.  I'll try again this evening, using lftp.

[2017-02-01 12:47] ivanstegic commented on #285
I've acquired more space, and I'm currently at 1.4TB for this. Still working...

[2017-02-01 13:41] gofrogs2013 commented on #216
@bkirkbri The link for the dataset is above, and the SHA256 sums are at this link: https://mega.nz/#!WlpBgToR!MhsU_6YA_beVGrgOXxnBUAUHTQP8YkvKYrVSuVBpV8g

[2017-02-01 14:12] gofrogs2013 commented on #216
I did an index match in that Excel file comparing my local mirror to Alex's and the checksums are all fine.

[2017-02-01 14:18] ivanstegic commented on #207
Still working on this, I am at 1.1TB right now.

[2017-02-01 14:19] ivanstegic commented on #266
I'm at 1.1TB, see https://github.com/climate-mirror/datasets/issues/207#issuecomment-276668289

[2017-02-01 14:49] DiabolicalTMcD commented on #268
My download is still running.  Going slowly. I'm at about 60% completion

[2017-02-01 15:25] JeremiahCurtis opened #298 "https://www1.ncdc.noaa.gov/pub/data/"
https://www1.ncdc.noaa.gov/pub/data/

Contains several directories not appearing on the ftp site

[2017-02-01 15:30] ivanstegic commented on #242
I am still downloading, and we're over 1TB at this point.

[2017-02-01 15:35] blueacid commented on #274
sea-ice-concentration has finished; 71.5GB.

I'll sort out links and suchlike soon

[2017-02-01 17:14] JeremiahCurtis commented on #274
I have the outgoing longwave radiation daily and monthly directories on local server

[2017-02-01 17:15] nubenum commented on #209
I discovered that a tar.gz of this dataset is small enough for me to mirror online. So here you go.

http://mirror.nubenum.de/podaac.jpl.nasa.gov/allData/seasat/

~~I'll keep that up until there is another online mirror (Windows glitch included).~~ I'll keep it up. Windows glitch fixed. Hash confirmed with @erikfriesen.

@Cubytus I think the folks of climatemirror.org are currently collecting dona

[2017-02-01 17:19] JeremiahCurtis commented on #274
working on sea surface temperature optimum interpolation

[2017-02-01 18:28] erikfriesen commented on #296
Download complete.
`find podaac-ftp.jpl.nasa.gov/allData/windsat/ -type f -exec md5sum {} \; | sort -k 2 | md5sum' returns
0785732d2d84369ef5c6cee16a10f961

[2017-02-01 18:30] erikfriesen commented on #297
file size check still going. going to go ahead and put it on hold for now.

[2017-02-01 19:45] alex-kazda commented on #216
@bkirkbri I also think so. I have no idea how important this data is by itself, but I will at least finish the mirror for now. I'm sorry for being late with the mirror, but it should be up tomorrow or on Friday.

[2017-02-01 19:47] wantonwonton commented on #274
My download of https://www1.ncdc.noaa.gov/pub/data/igra/ finished.  Note that some of the files were updated on different days.

[2017-02-01 20:06] jradzuweit commented on #143
mirroring is just in progress at ftp://78.47.40.59/mirrors/cddis.gsfc.nasa.gov, will be online tomorrow under .

[2017-02-01 20:13] Ichimonji10 commented on #151
This data set is about 5.5 GB.

[code]

[2017-02-01 20:28] gofrogs2013 commented on #279
@bkirkbri Per the previous comment, I've made the FOIA request and added a link. I won't be able to coordinate it beyond that if we still want to try downloading the rest of it (which is probably the case) as I'll be working on NASA ERS files #289 for a while, but I'll post here if they approve the request.

[2017-02-01 20:36] sveeke commented on #293
Downloading it right now. When done, it will be available on http://climate-mirror-1.i11.nl.

[2017-02-01 20:40] sveeke commented on #295
Downloading this as well. When ready, it will be available on http://climate-mirror-1.i11.nl.

[2017-02-01 22:10] JeremiahCurtis commented on #274
Not sure that I have the space or speed for the following (I have not started any of these btw):
amsu-a-1c-bt-grid
amsu-a-brightness-temperature-noaa
avhrr-aerosol-optical-thickness
avhrr-land-leaf-area-index-and-fapar
avhrr-land-normalized-difference-vegetation-index
avhrr-land-surface-reflectance
avhrr-polar-pathfinder
avhrr-polar-pathfinder-extended
avhrr-reflectance-cloud-properties-patmos-ext

[2017-02-01 22:30] JeremiahCurtis commented on #42
If somebody with a faster connection can pick up CMS data, go for it....my connection to ORNL is abjectly poor

[2017-02-01 22:37] planetor commented on #274
@JeremiahCurtis
My rough calculations are:

amsu-a-brightness-temperature-noaa/access/2016 **~148.5GB** ~ 49440 files
amsu-a-1c-bt-grid/access/2016/M02/C20160822	    **~2200GB**
amsu-a-1c-bt-grid/access/2016/M02/C20160824/     **~3200GB**
avhrr-land-surface-reflectance/  **~1500GB**
avhrr-land-normalized-difference-vegetation-index/	**~750GB**
avhrr-land-leaf-area-index-and-fapar/	**~75GB**
avhrr-

[2017-02-01 22:40] donbright commented on #293
offline copy complete. 9.1G

hashdeep: offline, contact me if data is needed

----
updated hashdeep 2/2 thanks @axlecrusher (see below notes)

[2017-02-01 22:48] donbright commented on #149
attempting offline copy

[2017-02-01 23:13] wantonwonton commented on #62
I started a download of ftp://ftp.ncdc.noaa.gov/pub/data/swdi to be an offline copy.

[2017-02-01 23:18] sveeke commented on #149
Also downloading. When it is ready, it will be available on http://climate-mirror-1.i11.nl.

@nickrsan your link needs another /.

[2017-02-01 23:55] sveeke commented on #292
@wantonwonton do you know more about the size?

[2017-02-02 00:18] JeremiahCurtis commented on #274
I'm grabbing avhrr-aerosol-optical-thickness/access/monthly/ on Internet Download Manager

[2017-02-02 00:33] TechMaz commented on #123
@detrout I mirrored your epa.gov/warm dataset onto archive.org: https://archive.org/download/warm_v14_construction_demolition_materials

[2017-02-02 00:58] wantonwonton commented on #292
@sveeke My Internet connection went down for a while this morning, causing the du to terminate.  The incomplete total that was reported was 1.7TB.  Some of it may not be relevant data, though.  I recall seeing some directories related to seismicity.  Sorry I don't have any more details.

[2017-02-02 01:25] axlecrusher commented on #296
What was the size?

[2017-02-02 01:34] axlecrusher commented on #297
Any size estimate?

[2017-02-02 01:45] axlecrusher commented on #293
Mirroring

[2017-02-02 01:47] markuslaker commented on #293
Now available as a torrent.  Github won't let me attach a .torrent file directly, and so I've zipped it.

This is the first torrent file I've created, so I'd appreciate some feedback telling me whether it works.  Many thanks.

[SeaViewingWideFieldOfViewSensor(SeaWIFS)1997-2010.zip](https://github.com/climate-mirror/datasets/files/746638/SeaViewingWideFieldOfViewSensor.SeaWIFS.1997-2010.zip)

[2017-02-02 02:43] axlecrusher commented on #293
@markuslaker That torrent zip file extracts strangely. You could post a magnet link for the torrent file.

[2017-02-02 03:07] nrdufour commented on #155
Downloading and will be online at http://climate.nemoworld.info/data.ncdc.noaa.gov/cdr/ocean-atmos-props/ once complete.

[2017-02-02 04:31] erikfriesen commented on #297
@axlecrusher: I don't have a really good one. The count was up above 200GB when I cut it off.

[2017-02-02 06:06] donbright commented on #158
probable duplicate of #163

[2017-02-02 06:07] donbright commented on #163
probable duplicate of #158 and #122

[2017-02-02 06:08] donbright commented on #122
ftp site probably duplicated in #158 and #163

[2017-02-02 06:17] erikfriesen commented on #296
Looks like it's about 17GB

[2017-02-02 06:25] erikfriesen commented on #259
@RustyGuts: any idea on the file size?

[2017-02-02 06:30] erikfriesen commented on #255
Grabbing this. Looks to be about 367MB

[2017-02-02 06:36] erikfriesen commented on #237
@Proplex: any estimate on size?

[2017-02-02 06:58] erikfriesen commented on #192
running a du -h on it. will update when complete (if it doesn't take exceptionally long) and start downloading if it's small enough for me

[2017-02-02 07:12] wantonwonton commented on #119
My download finished.  Here's a hash for comparison:

find www.ncei.noaa.gov/data/marine/icoads3.0 -type f ! -name "index.html*" | sort | xargs md5sum | md5sum
ff022bf0206bc0b4dae51906d71e2682  -

@bkirkbri Can you compare the hash with your mirror?  (Note that the command above excludes the index.html files that were included in my download.)

[2017-02-02 07:17] TripleE-0 commented on #196
Here is the result of the MD5sum.

find podaac.jpl.nasa.gov/allData/nscat -type f -exec md5sum {} \; | grep -v \\.listing | md5sum
5e5dd6cc73ff11c0a5961f13440c92ed  -

find ./podaac-ftp.jpl.nasa.gov/allData/nscat -type f -exec md5sum {} \; | grep -v \\.listing | md5sum
faf2cd9edb9f88c6407ce0aad678cf82  -

[2017-02-02 07:17] donbright commented on #275
I would like to propose breaking this into 10 separate issues, using ```lftp du``` size estimates, as follows.
This would allow more people to participate and possibly reduce stress on all machines involved.
If this is acceptable i can create the issues myself.

NOAA ESRL GMD Aerosols
FTP link: ftp://ftp.cmdl.noaa.gov/data/aer/
Size Estimate: 142G
Data description: https://www.esrl.noaa.gov/gmd/ae

[2017-02-02 07:19] TripleE-0 commented on #263
Here is the result of the MD5sum.

find podaac.jpl.nasa.gov/allData/nscat -type f -exec md5sum {} \; | grep -v \\.listing | md5sum
5e5dd6cc73ff11c0a5961f13440c92ed  -

find ./podaac-ftp.jpl.nasa.gov/allData/nscat -type f -exec md5sum {} \; | grep -v \\.listing | md5sum
faf2cd9edb9f88c6407ce0aad678cf82  -

[2017-02-02 08:00] chosenken commented on #236
My download completed, and I am now verifying the files.  With this data set, they provided a `md5` file for each data file, so I wrote a quick and dirty script to go through each folder and check the md5sum.  This will take some time.  Its already found a few files that failed (most likely from when I had to restart the transfer a few times).  BTW, the data set clocks in at 1.07 TB.  I don't know

[2017-02-02 08:33] markuslaker commented on #293
Thanks, @axlecrusher.  I found a service called torrent2magnet.com, which yielded this magnet link:

magnet:?xt=urn:btih:5d3e0c8648b392aaceb872624c3e041dd9b22ef9&dn=SeaViewingWideFieldOfViewSensor%28SeaWIFS%291997-2010.zip

Does this work better?

[2017-02-02 10:25] blueacid commented on #274
http://climatedata.project.zone/mirror/www.ncei.noaa.gov/data/sea-ice-concentration/
Sea Ice Concentration is done

[2017-02-02 10:56] axlecrusher commented on #293
@markuslaker For some reason torrent2magnet.com leaves off the tracker part of the mirror link.  Some bittorrent clients let you click on the torrent and copy the magnet link.

[2017-02-02 11:23] markuslaker commented on #293
I've installed a new BitTorrent client that supports magnet links natively.  Here's a new magnet link:

magnet:?xt=urn:btih:R36WPS67MJQJR4C6J2FEYQJHXHFBAJXD&dn=SeaViewingWideFieldOfViewSensor(SeaWIFS)1997-2010.zip&tr=udp%3a%2f%2ftracker.coppersurfer.tk%3a6969%2fannounce&tr=udp%3a%2f%2ftracker.leechers-paradise.org%3a6969%2fannounce&tr=udp%3a%2f%2ftracker.zer0day.to%3a1337%2fannounce&tr=udp%3a%2f%2

[2017-02-02 11:38] axlecrusher commented on #293
@donbright my hashdeep does not match. I will try to redownload the broken files.

hashdeep -l -r -a -vv -k ../hashdeep.audit.txt ./allData/seawifs
./allData/seawifs/L3/chlA/9km/monthly/2004/S20042752004305.L3m_MO_CHL_chlor_a_9km.bz2: Known file not used
./allData/seawifs/L3/chlA/9km/monthly/2004/S20040012004031.L3m_MO_CHL_chlor_a_9km.bz2: Known file not used
./allData/seawifs/L3/chlA/9km/monthly/

[2017-02-02 11:51] axlecrusher commented on #293
@donbright You might need to re-download those files.

[2017-02-02 11:53] sveeke commented on #275
@donbright Seems like a good idea. If the issues are created I will mirror all but the ones with a T in the size ;).

[2017-02-02 12:12] axlecrusher commented on #293
md5sum of everything

find allData/seawifs/ -type f -exec md5sum {} \; | sort -k 2 | md5sum
3b79d769bcfa3e40b512a27f57f817f4  -

[2017-02-02 12:29] markuslaker commented on #296
Mirroring now.  I'll produce a torrent when it's done.

[2017-02-02 12:30] axlecrusher commented on #296
Mirroring

[2017-02-02 13:09] axlecrusher commented on #296
@markuslaker If you make the torrent directly from the mirrored directory structure (without zipping up the entire directory structure), I think anyone who has mirrored the source could mirror your torrent without needing to download the entire torrent again. Though before doing so, we would want to verify that the source has been mirrored correctly via hashes.

[2017-02-02 13:12] markuslaker commented on #296
@axlecrusher, thanks for the hint.  I'll do that.

[2017-02-02 13:31] donbright commented on #275
thanks @sveeke ... to be clear, of course anyone could create the issues if they wanted, but i can do it tonight when i get some time.

[2017-02-02 13:39] nickrsan commented on #275
I think it's a good idea. Let me know when you do it and I'll close this
one. Thank you!

Nick Santos
UC Davis Center for Watershed Sciences <http://watershed.ucdavis.edu>
nrsantos@ucdavis.edu, 530-754-9362

On Thu, Feb 2, 2017 at 5:31 AM, don bright <notifications@github.com> wrote:

[2017-02-02 13:43] sveeke commented on #275
@donbright I started mirroring and making issues, but this server bans people quite fast. I have no interest in mirroring data if the maintaining party doesn't want it to be mirrored ;). So I let this one go.

[2017-02-02 13:46] emf commented on #275
I've finally got /data/ccgg!  106GB in total.   This one gets new observation data added daily in a couple of places, so it will need a resync if there's an imminent threat.  I don't know if that's being tracked anywhere.

Here's the magnet link, but I'm not sure exactly when this torrent will be available, since transmission-daemon is giving my little vm server memory problems and linux kernel ke

[2017-02-02 14:01] tkyocum commented on #257
1.1T total / 425G compressed

df34941bd546c098db770822ffa14de6 (find . -type f -exec md5sum {} \; | grep -v  \\.listing |md5sum)

https://s3-us-west-1.amazonaws.com/podaac-ftp.jpl.nasa.gov/smap.tar.gz (hey look, I got the filename right this time.)

[2017-02-02 14:52] benlaken opened #299 "ISCCP: International Satellite Cloud Climatology Project"
### ISCCP Dataset

* *Agency*:  NASA
* *Agency Division*: Langley Research Centre
* *Data Type*: Atmosphere / Radiative
* *Data Format*: hdf
* *FTP/HTTP URL*: https://isccp.giss.nasa.gov/ica.html https://eosweb.larc.nasa.gov/project/isccp/isccp_table

Not a straightforward FTP. Also there are several different [versions of these data](https://isccp.giss.nasa.gov/products/onlineData.html) important

[2017-02-02 16:12] melari commented on #111
Another mirror: https://drive.loft.hosting/s/x1pzTdA6LXRI9ME

[2017-02-02 16:14] ivanstegic commented on #292
I'm going to start on this, and we'll see where we get!

[2017-02-02 16:15] melari commented on #19
mirror: https://drive.loft.hosting/s/tKxZAmkpJMF6Gsp

[2017-02-02 16:56] melari commented on #258
another mirror: https://drive.loft.hosting/s/bzWVDGXQn2GZtV1

[2017-02-02 17:08] emf commented on #275
/data/hats is done. 1.35GB.

magnet:?xt=urn:btih:3612061fed4de6c632c5349cd1c3105a9086e3ad&dn=hats&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80&tr=udp%3A%2F%2Fopen.demonii.com%3A1337&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969

[2017-02-02 17:34] nrdufour commented on #155
Downloaded and available to http://climate.nemoworld.info/data.ncdc.noaa.gov/cdr/ocean-atmos-props/

[2017-02-02 18:01] Ichimonji10 commented on #149
Downloaded. Calculating hash with `hashdeep -erl ./cddis.gsfc.nasa.gov/ > slr_cpf_predicts.csf`.

[2017-02-02 18:04] Ichimonji10 commented on #151
Downloading with `wget --mirror --output-file=slr_products.log --no-verbose --limit-rate=1m ftp://cddis.gsfc.nasa.gov/slr/products/`.

[2017-02-02 18:05] nrdufour commented on #291
Downloading, and will be available at the URL http://climate.nemoworld.info/cdiac.ornl.gov/.

[2017-02-02 19:30] detrout commented on #123
Thanks @TechMaz apparently in the future I should use a better filename than SHA256SUM

[2017-02-02 21:59] jradzuweit commented on #147
mirror online and available at ftp://78.47.40.59/mirror

[2017-02-02 22:19] emf commented on #275
/data/meteorology is done. 4.7GB

magnet:?xt=urn:btih:7273355c230f08478459335ad549656a060c1def&dn=meteorology&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80&tr=udp%3A%2F%2Fopen.demonii.com%3A1337&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969

[2017-02-02 22:36] bkirkbri commented on #262
Strange that `L1` would be smaller than `L2` since it's the latter is derived from the former.

[2017-02-02 22:41] bkirkbri commented on #252
It seems that there is a different location with more JASON-2 data, see https://podaac.jpl.nasa.gov/forum/viewtopic.php?f=72&t=487

[2017-02-02 22:43] bkirkbri commented on #184
@wantonwonton Did you get this one? Thanks!

[2017-02-02 22:45] bkirkbri commented on #181
Closing as a duplicate.

[2017-02-02 22:45] #181 closed

[2017-02-02 22:46] f0086 commented on #261
Also downloading to an offline mirror. If I find a good place, I will post the link.

[2017-02-02 22:47] bkirkbri commented on #235
@DiabolicalTMcD Did you get a copy of this one? Thanks!

[2017-02-02 22:47] bkirkbri commented on #177
@wantonwonton Did you get a copy of this one?

[2017-02-02 22:51] bkirkbri commented on #161
@wantonwonton Did you get a copy?

[2017-02-02 22:56] bkirkbri commented on #155
@nrdufour Thank you! Can you post `hashdeep -erl ./data.ncdc.noaa.gov/cdr/ocean-atmos-props/` for cross verification?
@donbright Did you get an offline copy? Can you post a `hashdeep` please?

[2017-02-02 22:58] bkirkbri commented on #151
@Ichimonji10 @clickbg Thanks! Please update when you have complete mirrors. Location of mirror (if public) and `hashdeep` output too.

[2017-02-02 23:05] axlecrusher commented on #296
Completed though my md5sum is the following

find podaac-ftp.jpl.nasa.gov/allData/windsat/ -type f -exec md5sum {} \;| grep -v \\.listing | sort -k 2 | md5sum
df311d07ebf6e13fb18498255a9ae164  -

[2017-02-02 23:07] bkirkbri commented on #148
@dnaf Were you able to get this one?

[2017-02-02 23:11] bkirkbri commented on #149
@sveeke Thank you. Please post `hashdeep -erl ./cddis.gsfc.nasa.gov/` output.

[2017-02-02 23:22] bkirkbri commented on #256
@wsh @gabefair @chosenken Thank you for the md5. Can you post `hashdeep -erl ./podaac-ftp.jpl.nasa.gov/allData/saral` please.

[2017-02-02 23:27] sveeke commented on #149
@bkirkbri Doing it right now, output will be available in http://climate-mirror-1.i11.nl/cddis.gsfc.nasa.gov.hash.

[2017-02-02 23:35] bkirkbri commented on #216
@alex-kazda No worries, thank you for your help.
@gofrogs2013 Thanks for verifying.

[2017-02-02 23:37] bkirkbri commented on #195
@tkyocum Thank you. If you could post a `hashdeep -erl ./podaac-ftp.jpl.nasa.gov/allData/merged_alt` that would be even better. Excuse my bad advice with the `md5`. I'm finding that directory sort order is causing those not to match.

[2017-02-02 23:39] bkirkbri commented on #195
Downloading now...

[2017-02-02 23:39] sveeke commented on #149
@bkirkbri Who, hashdeep is memory hungry ;-). It uses 14 GB of ram (and leaves 108 MB left). It's worse than Chrome! :D

[2017-02-02 23:41] axlecrusher commented on #296
I just noticed that this directory is still being updated daily. That would account for the md5sum mismatch.

[2017-02-02 23:50] bkirkbri commented on #157
@nrdufour @chosenken Thank you. If you would, please post `hashdeep -rl ./data.ncdc.noaa.gov/cdr/solar-irradiance/`

[2017-02-02 23:51] bkirkbri commented on #152
Please post `hashdeep -rl ./cddis.gsfc.nasa.gov/vlbi/ivsproducts` for verification.

[2017-02-02 23:57] bkirkbri commented on #145
@Pneumaticat Thanks for those hashes!

[2017-02-02 23:57] bkirkbri commented on #144
@sx3wiz Thanks for the hashes!

[2017-02-03 00:12] bkirkbri commented on #149
Sorry about that! I was just doing `HEAD` requests but for that many URLs it's too much for Apache.

[2017-02-03 00:13] bkirkbri commented on #149
@sveeke Looks like only 19GB of files?
@Ichimonji10 Was yours 43GB?

[2017-02-03 00:40] JeremiahCurtis commented on #279
@randomvariable How is the microdata folder moving? I am attempting a grab of the following RSEI subfolders: temp and shapefiles

[2017-02-03 00:50] donbright commented on #155
119G downloaded, still in progress.

[2017-02-03 00:50] wantonwonton commented on #161
Yes, my download finished.  I have a hashdeep file (about 2MB compressed), but I don't have a convenient place to put it (unless I upload it as an attachment here).  Any recommendations?

[2017-02-03 00:51] bkirkbri commented on #295
@sveeke Thank you! If you would, please post `hashdeep` output for this and other mirrors.

[2017-02-03 00:55] donbright commented on #293
@axlecrusher thank you i appreciate that... my hash matches yours now. woohoo

3b79d769bcfa3e40b512a27f57f817f4

[2017-02-03 00:59] wantonwonton commented on #184
Still in progress.  I've got about 80GB so far.

[2017-02-03 01:04] bkirkbri commented on #274
Can someone volunteer to keep track of the many efforts going on in this issue? This issue could either be broken into an issue per directory or tracked in here. As long as there is some way to be sure of the status. Thanks!

[2017-02-03 01:11] TripleE-0 commented on #177
Here is an online copy.
http://45.76.8.27/climate/l5eil01.larc.nasa.gov.7z
Hashdeep file for verification:
http://45.76.8.27/climate/hashdeep_l5eil01.larc.nasa.gov.txt

[2017-02-03 01:24] wantonwonton commented on #177
Still in progress, but it's going quite slowly -- just 2.2GB so far.

[2017-02-03 01:33] daniellecrobinson commented on #299
These links don't seem to be working :(

[2017-02-03 01:48] dnaf commented on #148
@bkirkbri I had a drive failure while I was downloading and I can't replace it any time soon. Someone else will have to get this one.

[2017-02-03 02:12] nrdufour commented on #291
Downloaded and available at the URL http://climate.nemoworld.info/cdiac.ornl.gov/

[2017-02-03 02:16] JeremiahCurtis opened #301 "Atmospheric Data Research Center Langley (ASDC DAAC)"
ftp://l5eil01.larc.nasa.gov

Not sure how much, if any, of this directory is replicated elsewhere, but I can imagine that these datasets are at high risk

[2017-02-03 02:22] JeremiahCurtis commented on #178
could a FOIA request work for something like this?

[2017-02-03 02:24] provos commented on #277
At 490G for aquarius and 450G for modis.

[2017-02-03 02:43] axlecrusher commented on #288
I no longer wish to provide a public mirror for this.

[2017-02-03 02:52] donbright opened #302 "NOAA ESRL GMD Aerosols"
* *Agency*:  National Oceanic & Atmospheric Administration (NOAA)
* *Agency Division*: Oceanic and Atmospheric Research (OAR)
* *Agency Subdivision*: Earth System Research Laboratory (ESRL)
* *Agency Sub-Subdivision*: Global Monitoring Division (GMD)
* *Bulk Download Link*: ftp://ftp.cmdl.noaa.gov/data/aer/
* *Size Estimate*: 142G
* *Data Type*: ```"The goals of this regional-scale monitoring prog

[2017-02-03 03:00] Ichimonji10 commented on #149
@bkirkbri Yes, mine is 43 GB.

[2017-02-03 03:02] donbright opened #303 "NOAA ESRL GMD Trace Gases"
* *Agency*:  National Oceanic & Atmospheric Administration (NOAA)
* *Agency Division*: Oceanic and Atmospheric Research (OAR)
* *Agency Subdivision*: Earth System Research Laboratory (ESRL)
* *Agency Sub-Subdivision*: Global Monitoring Division (GMD)
* *Bulk Download Link*: ftp://aftp.cmdl.noaa.gov/data/trace_gases/
* *Size Estimate*: 2.7G

* *Data Type*: Data on gases including cfc113, ch4, ch4c1

[2017-02-03 03:04] donbright opened #304 "NOAA ESRL GMD Halocarbons and other Atmospheric Trace Species"
* *Agency*:  National Oceanic & Atmospheric Administration (NOAA)
* *Agency Division*: Oceanic and Atmospheric Research (OAR)
* *Agency Subdivision*: Earth System Research Laboratory (ESRL)
* *Agency Sub-Subdivision*: Global Monitoring Division (GMD)
* *Bulk Download Link*: ftp://ftp.cmdl.noaa.gov/hats/
* *Size Estimate*: 1.3G
* *Data Type*: ```"The general mission of the Halocarbons and other Atm

[2017-02-03 03:09] donbright opened #305 "NOAA ESRL GMD Global Greenhouse Gas Reference Network"
* *Agency*:  National Oceanic & Atmospheric Administration (NOAA)
* *Agency Division*: Oceanic and Atmospheric Research (OAR)
* *Agency Subdivision*: Earth System Research Laboratory (ESRL)
* *Agency Sub-Subdivision*: Global Monitoring Division (GMD)
* *Alternate name*: Carbon Cycle Greenhouse Gas group
* *Bulk Download Link*: ftp://ftp.cmdl.noaa.gov/data/ccgg
* *Size Estimate*: 106G
* *Data Type*

[2017-02-03 03:11] donbright opened #306 "NOAA ESRL GMD Ozone and Water Vapor Group"
* *Agency*:  National Oceanic & Atmospheric Administration (NOAA)
* *Agency Division*: Oceanic and Atmospheric Research (OAR)
* *Agency Subdivision*: Earth System Research Laboratory (ESRL)
* *Agency Sub-Subdivision*: Global Monitoring Division (GMD)
* *Bulk Download Link*: ftp://aftp.cmdl.noaa.gov/data/ozwv/
* *Size Estimate*: 19G
* *Data Type*: ```"The Ozone and Water Vapor Group conducts resear

[2017-02-03 03:14] donbright opened #307 "NOAA ESRL GMD Station Meteorology"
* *Agency*:  National Oceanic & Atmospheric Administration (NOAA)
* *Agency Division*: Oceanic and Atmospheric Research (OAR)
* *Agency Subdivision*: Earth System Research Laboratory (ESRL)
* *Agency Sub-Subdivision*: Global Monitoring Division (GMD)

* *Bulk Download Link*: ftp://aftp.cmdl.noaa.gov/data/meteorology/
* *Size Estimate*: 4.4G
* *Data Type*: ```"The ESRL GMD Meteorology program measu

[2017-02-03 03:17] donbright opened #308 "NOAA ESRL GMD CarbonTracker Ch4 (Methane)"
* *Agency*:  National Oceanic & Atmospheric Administration (NOAA)
* *Agency Division*: Oceanic and Atmospheric Research (OAR)
* *Agency Subdivision*: Earth System Research Laboratory (ESRL)
* *Agency Sub-Subdivision*: Global Monitoring Division (GMD)
* *Bulk Download Link*: ftp://aftp.cmdl.noaa.gov:/products/carbontracker/ch4
* *Size Estimate*: 68G
* *Data Type*: ```"the NOAA CarbonTracker-CH4 Dat

[2017-02-03 03:26] donbright opened #309 "NOAA ESRL GMD CarbonTracker CO2 (Carbon Dioxide)"
* *Agency*:  National Oceanic & Atmospheric Administration (NOAA)
* *Agency Division*: Oceanic and Atmospheric Research (OAR)
* *Agency Subdivision*: Earth System Research Laboratory (ESRL)
* *Agency Sub-Subdivision*: Global Monitoring Division (GMD)
* *Bulk Download Link*: ftp://aftp.cmdl.noaa.gov:/products/carbontracker/co2
* *Size Estimate*: 3.4 T
* *Data Type*: ```"CarbonTracker is a CO2 measu

[2017-02-03 03:26] Ichimonji10 commented on #149
Download log and hashdeep .csv file available here: http://www.ichimonji10.name/climatemirror/cddis.gsfc.nasa.gov.slr_cpf_predicts/

[2017-02-03 03:27] Ichimonji10 commented on #151
Downloaded 5.4 GB of data. Download log and hashdeep .csv file available here: http://www.ichimonji10.name/climatemirror/cddis.gsfc.nasa.gov.slr_products/

The actual data isn't available at this time. I'm syncing it between my local nodes for redundancy purposes, and hope to make torrents available this weekend.

[2017-02-03 03:29] donbright opened #310 "NOAA ESRL GMD CarbonTracker Lagrange"
* *Agency*:  National Oceanic & Atmospheric Administration (NOAA)
* *Agency Division*: Oceanic and Atmospheric Research (OAR)
* *Agency Subdivision*: Earth System Research Laboratory (ESRL)
* *Agency Sub-Subdivision*: Global Monitoring Division (GMD)

* *Bulk Download Link*:  ftp://aftp.cmdl.noaa.gov:/products/carbontracker/lagrange
* *Size Estimate*: 1.3 T
* *Data Type*: ```"CarbonTracker-Lagrang

[2017-02-03 03:31] donbright opened #311 "NOAA ESRL GMD Radiation"
* *Agency*:  National Oceanic & Atmospheric Administration (NOAA)
* *Agency Division*: Oceanic and Atmospheric Research (OAR)
* *Agency Subdivision*: Earth System Research Laboratory (ESRL)
* *Agency Sub-Subdivision*: Global Monitoring Division (GMD)
* *Bulk Download Link*:  ftp://aftp.cmdl.noaa.gov/data/radiation/
* *Size Estimate*: 196G
* *Data Type*: ```"G-Rad is involved in observational and t

[2017-02-03 03:31] ivanstegic commented on #291
I got it too, all 140GB, I will publish it to a mirror tomorrow.

[2017-02-03 03:41] donbright commented on #169
@wantonwonton thanks... but i still can't get it, i tried re-downloading the entire thing again

[code]

very puzzling

[2017-02-03 03:42] Ichimonji10 commented on #152
Downloading for cross verification purposes.

[code]

[2017-02-03 04:04] bkirkbri commented on #261
@maeveth @Serubin @f0086 Thank you. Please post `hashdeep -rl ./podaac.jpl.nasa.gov/allData/grace` output for cross verification when your mirrors are complete.

[2017-02-03 04:06] bkirkbri commented on #248
@provos Thank you. Were you able to download this one? Please post a URL if it is a public mirror and provide the `hashdeep -rl ./podaac-ftp.jpl.nasa.gov/allData/modis` output for cross verification of additional mirrors.

[2017-02-03 04:09] erikfriesen commented on #192
`du` still running. this is a *big* one. I probably won't have room for it, but I'll let the file estimate finish so i can post it here.

[2017-02-03 04:11] erikfriesen commented on #301
going to try to get a file size estimate

[2017-02-03 04:12] bkirkbri commented on #239
@resistor Thank you. Please hold on to your offline mirror if you can. We are working on storage for people that can't host publicly but nothing is in place yet. Please post `hashdeep -rl ./podaac-ftp.jpl.nasa.gov/allData/ccmp` output so that we can cross verify additional mirrors.

[2017-02-03 04:12] erikfriesen commented on #301
Either this is already cleared out, or the server isn't returning much. Will someone else please have a look and give me a sanity check?

[2017-02-03 04:13] donbright commented on #301
Parts of this are described in
 #177   ftp:/l5eil01.larc.nasa.gov/SAGE_III
#175  ftp:/l5eil01.larc.nasa.gov/ACRIM_III/ACR3L2DM.001
#176 ftp:/l5eil01.larc.nasa.gov/ACRIM_III/ACR3L2SC.001
#80 https://eosweb.larc.nasa.gov/projects-supported-list

[2017-02-03 04:14] bkirkbri commented on #236
@chosenken Thank you! Please post `hashdeep -rl ./podaac-ftp.jpl.nasa.gov/allData/aquarius` output when you can.

[2017-02-03 04:14] bkirkbri commented on #236
@astrobackup Still downloading?

[2017-02-03 04:27] bkirkbri commented on #220
@as-com Thank you. Please post `hashdeep -rl ./toms.gsfc.nasa.gov/pub/omi`

[2017-02-03 04:42] donbright commented on #161
if you have a public ssh key i can give you sftp access to my VM 67.205.151.30

[2017-02-03 05:00] ivanstegic commented on #275
I'm also grabbing this.

[2017-02-03 05:10] donbright commented on #304
mirror: offline, contact me if data is needed
hashdeep: offline, contact me if data is needed

verified hashdeep against @emf 's torrent mirror in #275

---------
redownloaded 2017 2 19 due to hard drive failure

[2017-02-03 05:26] donbright commented on #178
In my experience FOIA is designed more for getting information from agencies that don't want to give it. These folks actually do want to give this information to the public, we just have a problem that the existing internet is a bit underpowered for a transfer of this magnitude.

Also just saying the word 'FOIA' has some negative emotional baggage attached to it in the climate science community (d

[2017-02-03 07:09] donbright commented on #138
i have crashed my machines multiple times trying to get size estimates for big stuff like this.
lftp literally runs out of memory causing itself to get killed.

[2017-02-03 07:23] provos commented on #248
At 450GB and counting.

[2017-02-03 08:25] astrobackup commented on #236
@bkirkbri yes, I have 506GB on my disk now. It takes ages but that's mainly because I am downloading it on a samba drive and Filezilla only transfer a file there after it is downloaded. My current rate is around 80GB/day so hopefully ~10 days left.

[2017-02-03 08:31] NickIAm commented on #275
Is posting BitTorrent downloads of the different directories when someone has the completed copy useful? Is there another way we should be making the data available? I can't contribute too much because i'm stuck with comcast and their 1TB data caps, but I'll help where I can.

[2017-02-03 09:38] wantonwonton commented on #169
When I compared our hashdeep files (after sorting them), there were no differences in the sets of hashes:

[code]
Did you try running hashdeep again and compare with your previous results?  Maybe some additional file got created in some directory?

I re-ran hashdeep and the md5sum command again, and got the same results as before.  That md5sum command is a rewrite I did of the original, which woul

[2017-02-03 10:29] sveeke commented on #149
@bkirkbri Maybe it is still downloading? There were soms lftp processes still running. I'll check back home of this dataset is still downloading.

[2017-02-03 10:35] wantonwonton commented on #161
@donbright Thanks for the suggestions.

You can find my hashdeep results (compressed with bzip2) [here](https://filebin.net/75r414twt8tiswjo).

[2017-02-03 12:06] wantonwonton commented on #120
My download has crept over to sibling directories, and I'm letting it continue, but I think I have the full historical directory tree.  You can find my hashdeep results of those files (compressed with bzip2) [here](https://filebin.net/bnplbnr50iz83p4z).

[2017-02-03 12:07] wantonwonton commented on #120
@bkirkbri Can you compare my hashes with your mirror?

[2017-02-03 12:43] donbright commented on #237
Size estimate:
[code]

[2017-02-03 13:26] alex-kazda commented on #216
My backup data is at http://pub.ist.ac.at/files/ in a zip archive split into 13 files named pwgdata.zip and pwgdata.z01 through pwgdata.z12 I've put the checksums in the same directory.

[2017-02-03 13:31] emf commented on #302
For what it's worth, the copy that I have for this does not include /data/etc/cpd and /data/etc/vm; both of which are quite large and contain daily ISO images and VM images of what I think is sensor operating system code.   I did not mirror that stuff, and it brought the size of the dataset down to 19GB.

[2017-02-03 13:33] donbright commented on #239
size estimate
[code]

[2017-02-03 13:45] emf commented on #275
@NickIAm .. that's a fine question, and one that I think can only be answered after we collectively figure out where this data lives for the upcoming future.    I'm getting near full on my cloud server, and I can't take the CarbonTracker data (#308, #309, #310), but I'm very close to completing everything else from this (minus ISO images of sensor code, see #302).    I've been posting them as torr

[2017-02-03 15:35] JeremiahCurtis commented on #275
Working on greenhouse gases

[2017-02-03 16:42] jradzuweit commented on #147
Here the data, hashes also available (*.sha256)
ftp@sirius:~/mirrors> du -h -d4 cddis.gsfc.nasa.gov*
19G     cddis.gsfc.nasa.gov/doris/ancillary/quaternions/ja1
2.4G    cddis.gsfc.nasa.gov/doris/ancillary/quaternions/ja2
250M    cddis.gsfc.nasa.gov/doris/ancillary/quaternions/ja3
21G     cddis.gsfc.nasa.gov/doris/ancillary/quaternions
21G     cddis.gsfc.nasa.gov/doris/ancillary
21G     cddis.gsfc.

[2017-02-03 16:50] jradzuweit commented on #143
Here the data, hashes also available (.sha256)
ftp@sirius:~/mirrors> du -h -d4 cddis.gsfc.nasa.gov
19G cddis.gsfc.nasa.gov/doris/ancillary/quaternions/ja1
2.4G cddis.gsfc.nasa.gov/doris/ancillary/quaternions/ja2
250M cddis.gsfc.nasa.gov/doris/ancillary/quaternions/ja3
21G cddis.gsfc.nasa.gov/doris/ancillary/quaternions
21G cddis.gsfc.nasa.gov/doris/ancillary
21G cddis.gsfc.nasa.gov/doris
21G cddis

[2017-02-03 17:29] empirical-bayesian commented on #123
Just a caution here-on out: We have our [first documented report of Web pages at the EPA being altered](http://www.climatecentral.org/news/epa-climate-web-pages-change-21133), so data from there should hereafter be considered suspicious, and the only data which should be considered acceptable without very careful examination needs to have been grabbed 1st February 2017 or earlier.

[2017-02-03 17:56] JeremiahCurtis commented on #123
can anyone grab https://edg.epa.gov/data/ ?

[2017-02-03 18:06] empirical-bayesian commented on #123
Just for jollies, I tried, with a wget, and found, in short order:

*

*

On Fri, Feb 3, 2017, at 12:56, JeremiahCurtis wrote:

Links:

  1. https://github.com/climate-mirror/datasets/issues/123#issuecomment-277316164
  2. https://github.com/notifications/unsubscribe-auth/AD3HB7SLRR9dSLLxKOHLd_KjVGBUMAdXks5rY2ozgaJpZM4LtGBb

[2017-02-03 18:25] jradzuweit commented on #156
Buildup of mirror at ftp://176.9.40.3/mirror_a in progress, will post update when it's finished

[2017-02-03 18:32] bkirkbri commented on #246
Confirmation that NOAA has the complete Jason-3 data. See the forum post linked above.

[2017-02-03 18:49] bkirkbri commented on #246
Sizes for NOAA Jason 3 data according to lftp du
[code]

[2017-02-03 19:27] bkirkbri commented on #252
Confirmed that full data is at NOAA. FTP access is available at ftp://ftp.nodc.noaa.gov/pub/data.nodc/jason2/

lftp du shows sizes as
[code]

So around 6-7TB total

[2017-02-03 19:28] bkirkbri commented on #252
@TwistTheNeil Thank you for grabbing the initial URL. I've update this issue with the larger, full dataset. Hopefully someone has room for that.

[2017-02-03 19:34] sarunasb commented on #156
Downloading to 129.170.28.14.

[2017-02-03 19:38] sarunasb commented on #171
Downloading to 129.170.28.14.

[2017-02-03 19:55] JeremiahCurtis commented on #42
Any idea where we stand on this? If certain EPA pages referring to climate change are being removed, I can't imagine ORNL data being safe much longer. Not trying to cry wolf, just saying.....

My CARVE and CMS downloads died on download manager and so I am reordering them from Earthdata

Also, are there any FTP directories for ORNL data?

[2017-02-03 19:58] empirical-bayesian commented on #42
https://bitbucket.org/azimuth-backup/azimuth-inventory/wiki/Our%20progress

On Fri, Feb 3, 2017, at 14:55, JeremiahCurtis wrote:

Links:

  1. https://github.com/climate-mirror/datasets/issues/42#issuecomment-277346257
  2. https://github.com/notifications/unsubscribe-auth/AD3HBw7LSYg0qV7iiqnOz16S05L5JXBEks5rY4ZFgaJpZM4LhVBk

[2017-02-03 20:01] sarunasb commented on #173
Started download to 129.170.28.14.

[2017-02-03 20:08] as-com commented on #220
@bkirkbri https://mirrors.asun.co/climate-mirror/toms.gsfc.nasa.gov/hashdeep.txt.gz

[2017-02-03 20:21] markuslaker commented on #296
It took a while to download, but the magnet link is below.  It covers a directory tree, as @axlecrusher suggested; I've not zipped up the data.

No one has used the magnet link I posted under Issue 293, and so I'm not sure I'm doing any real good here.  Is it possible to get these magnet links posted somewhere more visible, so that the data can start to be distributed more widely?

magnet:?xt=urn:

[2017-02-03 20:39] JeremiahCurtis commented on #83
Anything for me to jump on here?

[2017-02-03 21:45] bkirkbri commented on #309
Downloading...

[2017-02-03 21:45] bkirkbri commented on #246
Download of full, updated dataset in progress...

[2017-02-03 23:15] BauerPiepenbrink commented on #175
Downloading...

[2017-02-03 23:25] BauerPiepenbrink commented on #176
Downloading...

[2017-02-03 23:50] BauerPiepenbrink commented on #185
Downloading...

[2017-02-03 23:54] JeremiahCurtis commented on #274
avhrr-aerosol-optical-thickness/access/monthly/ finished
working on sea-surface-temperature-optimum-interpolation and sea-surface-temperature-whoi, but they keep hanging on internet download manager

idm has been stuck on https://www.ncei.noaa.gov/data/sea-surface-temperature-optimum-interpolation/access/avhrr-only/198703/avhrr-only-v2.19870305.nc for several hours (I opened and reopened IDM sever

[2017-02-04 00:14] BauerPiepenbrink commented on #184
Downloading to online-mirror

[2017-02-04 00:42] donbright commented on #240
agree with @nubenum, this is dup of #190

Size estimate: 3T

[2017-02-04 00:43] planetor commented on #274
Done! My disk is full!
**Total size of backup: 1.3T**

#########################################################

Dataset URL: www.ncei.noaa.gov/data/climat-bufr/
Name: ClimatBufr 2016
Metadata: http://en.wikipedia.org/wiki/BUFR
Mirror URL: http://h2490363.stratoserver.net/climatemirror/www.ncei.noaa.gov/data/climat-bufr/
Size: 144K
Responsible Agency: NOAA

#######################################

[2017-02-04 01:20] BauerPiepenbrink commented on #168
Downloading to Offline-Mirror for now

[2017-02-04 01:21] donbright commented on #169
@wantonwonton thanks, this might seem tedious but i really want to make sure i understand what im doing here ,  i appreciate it.

i ran another hashdeep and there are two symlinks that might explain the difference? my lftp mirror did not apparently grab their target files, it just leaves them dangling as broken symlinks

[code]

[2017-02-04 01:30] BauerPiepenbrink commented on #311
Downloading to offline-mirror for now

[2017-02-04 01:47] donbright commented on #146
i just have to say that i have a hard time imagining they will try to delete this data, because as GPS data it seems to be relevant to almost everything, from shipping to roads to property line issues, , , not just climate science.maybe this could be lower priority than stuff from NOAA and EPA ?

```Global Navigation Satellite Systems (GNSSs), such as the U.S. GPS, the Russian GLONASS, and the Eur

[2017-02-04 01:52] donbright commented on #151
attempted mirror: offline, contact me if data is needed
hashdeep:offline, contact me if data is needed

-----
redownloaded 2017 2 19 due to hard drive failure

[2017-02-04 02:16] laderast commented on #299
Metadata exists in data.gov - however - need to special request these datasets.

[2017-02-04 02:43] bkirkbri commented on #195
Completed and available at:

Index:
http://s3.ca-central-1.amazonaws.com/climate-mirror/podaac-ftp.jpl.nasa.gov/podaac-ftp.jpl.nasa.gov_allData_merged_alt_index.html

Hashdeep:
http://s3.ca-central-1.amazonaws.com/climate-mirror/podaac-ftp.jpl.nasa.gov/podaac-ftp.jpl.nasa.gov_allData_merged_alt.hashdeep.txt

Hashdeep signature:
http://s3.ca-central-1.amazonaws.com/climate-mirror/podaac-ftp.jpl.nas

[2017-02-04 02:53] kdechant commented on #175
FYI, this is also listed on data.gov at https://catalog.data.gov/dataset/acrim-iii-level-2-daily-mean-data-v001

[2017-02-04 03:00] donbright commented on #301
@erikfriesen it is actually full of data, its just a twisty maze of symbolic links which is why the size reports so weird.

example SAGE_III is full of symbolic links to /distribution/SAGE_III which is full of big files

[2017-02-04 03:04] kdechant commented on #176
FYI, this is on data.gov at https://catalog.data.gov/dataset/acrim-iii-level-2-shutter-cycle-data-v001

[2017-02-04 03:08] williethesmith commented on #305
starting JSON for ODIAC FFCO2 measurement data 2013-2016 found here: ftp://ftp.cmdl.noaa.gov/data/ccgg/ODIAC/2015a/distrib/

[2017-02-04 03:10] maryannet commented on #311
This should be checked often. New data is being added daily

[2017-02-04 03:15] laderast commented on #205
This FTP Site is actually a number of datasets, that already exist in data.gov. Basically all of the GHRSST datasets are already in there that I've checked: https://catalog.data.gov/dataset?q=GHRSST

[2017-02-04 03:21] Sarahkgg commented on #25
This directory seems to correspond with this portal: https://www.nodc.noaa.gov/archive/arc0081/

[2017-02-04 03:38] bkirkbri commented on #161
Completed and available at:

Index:
https://s3.ca-central-1.amazonaws.com/climate-mirror/ftp.cpc.ncep.noaa.gov/ftp.cpc.ncep.noaa.gov_precip_global_CMORPH.index.html

Hashdeep:
https://s3.ca-central-1.amazonaws.com/climate-mirror/ftp.cpc.ncep.noaa.gov/ftp.cpc.ncep.noaa.gov_precip_global_CMORPH.hashdeep.txt

Hashdeep signature:
https://s3.ca-central-1.amazonaws.com/climate-mirror/ftp.cpc.ncep.noaa.g

[2017-02-04 03:41] bkirkbri commented on #161
@wantonwonton @donbright Thanks! I'll compare hashes tomorrow.

[2017-02-04 04:12] kdechant commented on #177
FYI: relevant data.gov pages:

https://catalog.data.gov/dataset/sage-iii-meteor-3m-l1b-solar-event-transmission-data-hdf-eos-v003
https://catalog.data.gov/dataset/sage-iii-meteor-3m-l1b-solar-event-transmission-data-hdf-eos-v004
https://catalog.data.gov/dataset/sage-iii-meteor-3m-l1b-solar-event-transmission-data-native-v003
https://catalog.data.gov/dataset/sage-iii-meteor-3m-l1b-solar-event-trans

[2017-02-04 04:19] jsdnxx commented on #14
I made some manual librarian-ing progress constructing some metadata for this over at https://github.com/daniellecrobinson/Data-Rescue-PDX/issues/20

[2017-02-04 04:23] donbright commented on #309
Azimuth Project has a backup as well:

https://bitbucket.org/azimuth-backup/azimuth-inventory/issues/7/noaa-carbon-tracker-ftp-site

[2017-02-04 04:23] donbright commented on #310
Azimuth Project has a backup as well:

https://bitbucket.org/azimuth-backup/azimuth-inventory/issues/7/noaa-carbon-tracker-ftp-site

[2017-02-04 04:23] donbright commented on #308
Azimuth Project has a backup as well:

https://bitbucket.org/azimuth-backup/azimuth-inventory/issues/7/noaa-carbon-tracker-ftp-site

[2017-02-04 04:36] dasaderi opened #312 "Metadata for ftp://cdiac.ornl.gov/pub/maunaloa-co2/"
**Climate Mirror dataset title**: Atmospheric CO2 concentration - Mauna Loa observatory, HAWAII, 1958-2003

**Climate Mirror issue**: climate-mirror/datasets/issues/291

**Link to datafile**: ftp://cdiac.ornl.gov/pub/maunaloa-co2/

**Bulk Download Link**: ftp://cdiac.ornl.gov/pub/

**Agency**: Oak Ridge National Laboratory (ORNL)

**Agency Division**: Carbon Dioxide Information Analysis Center (CD

[2017-02-04 04:43] donbright commented on #291
@empirical_bayesian at Azimuth Data Project seems to have a copy as well:

https://bitbucket.org/azimuth-backup/azimuth-inventory/issues/3

[2017-02-04 04:45] donbright commented on #279
fyi for anyone trying to look at @empirical-bayesian issue links, they actually refer to https://bitbucket.org/azimuth-backup/azimuth-inventory/issues/3 not the automatically generated github issues (like this #3)

[2017-02-04 05:05] donbright commented on #159
link to @empirical-bayesian Azimuth issue: https://bitbucket.org/azimuth-backup/azimuth-inventory/issues/10/

[2017-02-04 05:14] donbright commented on #182
i wonder if this is the same as @empirical-bayesian backup of Operating Icebridge at
https://bitbucket.org/azimuth-backup/azimuth-inventory/issues/98/operation-icebridge ?

[2017-02-04 05:42] tkyocum commented on #189
https://s3-us-west-1.amazonaws.com/podaac-ftp.jpl.nasa.gov/ccmp.tar.gz (128GB, 129GB uncompressed)
https://s3-us-west-1.amazonaws.com/podaac-ftp.jpl.nasa.gov/ccmp.tar.gz.hashdeep

[2017-02-04 11:08] BauerPiepenbrink commented on #176
Available at http://176.9.83.61/176
hashdeep: http://176.9.83.61/176/176_hashdeep.txt

checked the hash of @donbright , checks out

hashdeep -al -r -vv -k hashdeep.audit.txt ./ACRIM_III/
hashdeep: Audit passed
   Input files examined: 0
  Known files expecting: 0
          Files matched: 24432
Files partially matched: 0
            Files moved: 0
        New files found: 0
  Known files not found:

[2017-02-04 11:59] BauerPiepenbrink commented on #162
Trying to get a list of this one with du -ch --max-depth=1
Looks like a big one

[2017-02-04 12:15] BauerPiepenbrink commented on #175
Got it at http://176.9.83.61/175/
hashdeep http://176.9.83.61/175/175_hashdeep.txt

Checks out with hashdeep of @donbright

 hashdeep -arlvv -k hashdeep.audit.txt ./ACRIM_III/
./ACRIM_III/ACR3L2DM.001/ACR3L2DM.001: No such file or directory
hashdeep: Audit passed
   Input files examined: 0
  Known files expecting: 0
          Files matched: 20592
Files partially matched: 0
            Files moved:

[2017-02-04 14:00] JeremiahCurtis opened #313 "NCEI Geostationary IR Channel"
https://www.ncei.noaa.gov/data/geostationary-ir-channel-brightness-temperature-gridsat-b1/access/

Large dataset that has not, as far as I know, been mirrored yet

see issue #274

[2017-02-04 14:07] JeremiahCurtis opened #314 "National Oceanic Data Center Archive"
ftp://ftp.nodc.noaa.gov/pub/data.nodc/nodc/archive/data/

[2017-02-04 14:19] donbright commented on #314
subset of #163

[2017-02-04 15:18] sarunasb commented on #156
Downloaded (132GiB) to geom.dartmouth.edu.

[2017-02-04 15:28] sarunasb commented on #215
Downloading to geom.dartmouth.edu.

[2017-02-04 15:34] sarunasb commented on #237
Downloading to geom.dartmouth.edu.

[2017-02-04 15:49] BauerPiepenbrink commented on #162
While letting du continue, I will start pulling

./asos-fivemin
./asos-onemin
./ASOS_Station_Photos

to public mirror

[2017-02-04 15:59] emf commented on #275
@JeremiahCurtis when i looked, "/data/greenhouse_gases" was symlinks into trace_gases, which has already been mirrored.

[code]

I have finished /data/ozwv.  20GB.

magnet:?xt=urn:btih:b4d47f02e908aaec2b892498a0381251a3c3fa6c&dn=ozwv&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80&tr=udp%3A%2F%2Fopen.demonii.com%3A1337&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Ftracker.leechers-pa

[2017-02-04 16:07] emf commented on #306
I have finished /data/ozwv. 20GB.

magnet:?xt=urn:btih:b4d47f02e908aaec2b892498a0381251a3c3fa6c&dn=ozwv&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80&tr=udp%3A%2F%2Fopen.demonii.com%3A1337&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969

[2017-02-04 16:09] emf commented on #303
2.6GB
magnet:?xt=urn:btih:28a6b5409e6493d1be8efed09e581d46f9c2c500&dn=trace%5Fgases&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80&tr=udp%3A%2F%2Fopen.demonii.com%3A1337&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969

[2017-02-04 16:10] emf commented on #305
magnet:?xt=urn:btih:5ad2f0e028dd5d7bf544fe61297af083742c0ad3&dn=ccgg&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80&tr=udp%3A%2F%2Fopen.demonii.com%3A1337&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969

[2017-02-04 16:11] emf commented on #307
/data/meteorology is done. 4.7GB

magnet:?xt=urn:btih:7273355c230f08478459335ad549656a060c1def&dn=meteorology&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80&tr=udp%3A%2F%2Fopen.demonii.com%3A1337&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969

[2017-02-04 16:12] emf commented on #311
/data/radiation 8.8GB

magnet:?xt=urn:btih:408dd0761724eb7ebb69de4b4204d31cbd87659e&dn=radiation&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80&tr=udp%3A%2F%2Fopen.demonii.com%3A1337&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969

[2017-02-04 16:17] emf commented on #275
Ugh.  /data/radiation from @NickIAm is incomplete. i only have 8.8GB of the estimated 196GB in #311, and I don't have enough space to mirror that.   So, /data from this server is **NOT** complete.  Sorry.

[2017-02-04 16:38] JeremiahCurtis commented on #275
what folders do we still need under /radiation, and is that the only incomplete folder left here?

[2017-02-04 18:13] schwartzray opened #315 "SciTech Connect from the DOE"
### New Dataset

“SciTech Connect Full-Text MARC Records include all the records from SciTech Connect that contain links to freely available full-text.  For the purpose of this service, full-text includes textual material, multimedia files, and datasets.  The subject disciplines covered by SciTech Connectinclude physics, chemistry, materials, biology, environmental sciences, energy technologies, e

[2017-02-04 18:23] BauerPiepenbrink commented on #279
I'm trying to get those Microdata files. I started with the last one in alphabetical order (Micro2012_2012...) and will go backwards from that. ETA for the first file is in 9 days...

[2017-02-04 19:33] emf commented on #275
@JeremiahCurtis Almost everything is needed from /data/radiation. At this point, i'd say just grab the 8GB from the torrent to get started and then let wget work from that point; save the poor noaa server a few gb outbound.

[2017-02-04 20:58] jradzuweit commented on #156
Mirror available at ftp://176.9.40.3/mirror_a, hash  calculation just running

[2017-02-04 21:19] jradzuweit commented on #168
Started to buildup mirror at ftp://176.9.40.3/mirror_a

[2017-02-04 21:25] BauerPiepenbrink commented on #315
mirrored at http://176.9.83.61/315
hash: http://176.9.83.61/315/315_hashdeep.txt

Filesize: 304 MByte

Propably low priority, but also small size

[2017-02-04 21:26] TechMaz commented on #123
Is it just me or did https://edg.epa.gov/data/ just get taken down: ?
![screen shot 2017-02-04 at 1 24 49 pm](https://cloud.githubusercontent.com/assets/2186709/22621657/83d39f76-eadd-11e6-9ea3-8a26b9d6fcab.png)

[2017-02-04 21:27] JeremiahCurtis commented on #156
Is this an exact match for https://www.ncei.noaa.gov/data/sea-surface-temperature-whoi/ ? If it is, I will try to grab the remainder of the NCEI data that has not yet been mirrored....

see issue #274

[2017-02-04 21:28] schwartzray commented on #315
But BauerPiepenbrink, have the links within the file been harvested?

[2017-02-04 21:31] BauerPiepenbrink commented on #315
good point. didn't even think of opening it. not a huge fan of unknown zip file sources.

Let's see if that is going to mak a new issue

[2017-02-04 21:34] JeremiahCurtis commented on #274
still working on  sea-surface-temperature-optimum-interpolation and amsu-a-1c-bt-grid, both via internet download manager....
No problems so far except for lack of speed

[2017-02-04 21:45] empirical-bayesian commented on #123
I get a "503" error code.

On Sat, Feb 4, 2017, at 16:26, Steven Mazliach wrote:

Links:

  1. https://github.com/climate-mirror/datasets/issues/123#issuecomment-277479152
  2. https://github.com/notifications/unsubscribe-auth/AD3HBxxJwstHwCvHfJGMeSQEdWmnuCcaks5rZO0CgaJpZM4LtGBb

[2017-02-04 21:52] JeremiahCurtis commented on #166
Could anyone break this down by folder size and perhaps begin different issues?

[2017-02-04 21:58] jradzuweit commented on #156
it looks like. Do we have a hash list so we could compare to make sure

Am 04.02.2017 um 22:27 schrieb JeremiahCurtis:

[2017-02-04 22:24] BauerPiepenbrink commented on #315
The links from the MARC file can not be processed automaticly and don't point to downloadable content.
From 5 documents I pulled manually I got two Invoices, one paper about Neutrino scattering and two best-practice guides for stainless steel pipes in wastewater extraction.
Still not sure about the priority of this one...

[2017-02-04 22:46] sarunasb commented on #156
Mirror available at https://geom.dartmouth.edu/climatechange.

[2017-02-05 00:04] TechMaz commented on #123
Nevermind. I deleted my last comment because it seems to just be blocked for my ip. Crawling now from a different ip.

[2017-02-05 01:24] donbright commented on #149
offline copy complete.

[code]

hashdeep: offline, contact me if data is needed

my hashdeep matches @Ichimonji10 except for that my copy does not have a bunch of files named ".listing", and also a bunch of files under ftp://cddis.gsfc.nasa.gov/slr/cpf_predicts/current which appears to be a directory that is updated constantly with new data.

[2017-02-05 02:37] Ichimonji10 commented on #151
@donbright If you want dynamic DNS, I recommend http://freedns.afraid.org/. I've been using them for years for a variety of sites.

[2017-02-05 04:10] TechMaz commented on #123
Note: There is also a corresponding FTP site that has similar info but many different files and structure: @ newftp.epa.gov/epadatacommons Has this been archived yet? If not, does someone want to do that?

[2017-02-05 06:51] JeremiahCurtis commented on #123
see issue #279 for ftp://newftp.epa.gov/
I'm not sure where epadatacommons stands, as some of the posts are unclear

[2017-02-05 06:54] TechMaz commented on #123
Ok great. Also backup of https://edg.epa.gov/data/ is slowly being added here: [https://archive.org/download/egd_epa_gov_data_PUBLIC_bkp](https://archive.org/download/egd_epa_gov_data_PUBLIC_bkp)

[2017-02-05 07:17] JeremiahCurtis commented on #123
actually, if anyone with a fast connection could pick up ftp://newftp.epa.gov/RSEI/ , it would help immensely. I've been on and off ftp://newftp.epa.gov/RSEI/Version233_RY2012/Aggregated_Grid_Cell_Data/ on visual wget, and the bigger files are downloading ridiculously slow.
If anyone knows of a http or https directory for the ftp://newftp.epa.gov/ data, that would also help. I seem to be getting m

[2017-02-05 14:17] f0086 commented on #261
Has someone have already downloaded the complete data?
I still downloading for 3 days straight with ~250kb/s ... ~245GB so far. Wonder how much is left ...

[2017-02-05 14:27] donbright commented on #85
Size estimates (unsure of exact path, chose pub/dcp/archive):

[code]

[2017-02-05 15:19] JeremiahCurtis commented on #18
@gabefair Is that identical to https://www1.ncdc.noaa.gov/pub/data/gpcp/ ?

[2017-02-05 18:03] JeremiahCurtis commented on #162
I have been downloading the  https://www1.ncdc.noaa.gov/pub/data/ folders, and I have completed the following (available locally at the moment; will make them public as soon as I can grab all the folders that no one has yet claimed here on github; I figure it's more important to grab data now and figure the rest out later):

109020
AEWC1
Airsea
Blizzard
Extreme Events/special reports
gsn
Hazards
h

[2017-02-05 18:10] JeremiahCurtis commented on #162
Also, I believe, after searching through the issues, that
/paleo
/normals
/igra

are complete

and

/ghcnd features a large.tar.gz file that has been downloaded, and contains most if not all the data from the ghcnd folder

If I'm wrong, please let me know

[2017-02-05 18:14] gleezy commented on #147
Does anyone know how large this dataset is? I have been downloading it for a week, I'm over 500GB, and still on the /campaign directory.

[2017-02-05 18:44] donbright commented on #292
ongoing Size estimates, going folder by folder based on the main INDEX.txt file in /. excluding /pub "public area" which had no descriptor for now.  will update as 'du' command progresses.

[code]

[2017-02-05 19:17] erikfriesen commented on #301
ah, i see. `du -h` just finished. It estimated 144TB.

[2017-02-05 19:19] erikfriesen commented on #313
Getting an estimated file size. Will update when complete or if the estimate takes an exceptionally long time.

[2017-02-05 19:38] BauerPiepenbrink commented on #162
Sounds good.
/asos-fivemin is now available including hashdeep file at

http://176.9.83.61/162

It would be great if somebody could confirm the hashsums and filecounts with an own copy if available.

Im pulling /asos-onemin now, which will need more time, I guess.
I try to complete the list of the folder sizes so that we know what we are dealing with

[2017-02-05 20:48] JeremiahCurtis commented on #301
well, I have nowhere near 144 TB of storage, so here's hoping someone else has a good connection and lots of space

It could be broken up

I've started downloading ftp://l5eil01.larc.nasa.gov/VBBE/ but am still slogging through ftp://l5eil01.larc.nasa.gov/VBBE/VBEMI2AE.002 This could take awhile, as I'm also running projects for NCDC and NCEI issues that have not yet been claimed, and my connectio

[2017-02-05 21:07] Artoria2e5 commented on #166
tar+lrzip archive (~11GB) for `lsa/cs2igdr` (~35 GB; [CryoSat Interim Geophysical Data Record](https://www.star.nesdis.noaa.gov/sod/lsa/NearRealTime/documents/notes/technical_notesRevI.pdf); many small files): https://drive.google.com/open?id=0B2lJgc3uTwAFcFU5WUJQTWZReUU

Signature:
[code]

[2017-02-05 21:09] JeremiahCurtis commented on #42
new to azimuth, so I apologize for what might be a stupid question; I'm assuming "resolved" means that at least one copy of all ORNL data, including CMS, CARVE, Daymet, etc. exists?

[2017-02-05 21:09] blitzdesigner commented on #124
I started to do a copy...

[2017-02-05 21:15] TechMaz commented on #312
This has already been archived by multiple individuals.
I have archived just this section that you are referring to. It can be found here:
https://archive.org/download/maunaloa_co2

[2017-02-05 21:22] markuslaker commented on #298
This looks like a huge repo with a very large number of files.  I tried `du -sh' in lftp and gave up waiting after about three days.  (Transatlantic lag doesn't help.)  So I've been tackling the subdirectories piecemeal and in parallel, measuring their sizes individually and, where even that isn't practical, trying to estimate them by extrapolating from subsets of the data.  The sizes I've worked

[2017-02-05 22:01] JeremiahCurtis commented on #313
I had this running onIDM but I will have to back out. I only got 7.88 GB of 1980
I had no idea it added up over 3TB. I don't have that much free space at the moment

[2017-02-05 22:14] Ichimonji10 commented on #152
Hashdeep and download log: http://www.ichimonji10.name/climatemirror/cddis.gsfc.nasa.gov.vlbi_ivsproducts/

Downloaded data is not yet publicly available.

[2017-02-05 23:25] TechMaz commented on #233
This folder does not seem to be there.

[2017-02-05 23:58] jradzuweit commented on #290
Started creating mirror on "ftp://78.47.40.59/mirrors"

[2017-02-06 00:27] JeremiahCurtis commented on #123
referring to issue #279, the primary folder on the ftp://newftp.epa.gov/ that was not yet downloaded was the RSEI folder.
I don't know if this helps, but I stumbled across the following:
https://www.epa.gov/rsei/ways-get-rsei-results#microdata

This might be quicker downloading than the ftp directory, and it looks like the same dataset.

[2017-02-06 00:29] markuslaker commented on #314
I'm still working on getting the sizes of three of the subdirectories, but I've accounted for over 650GiB of data already.  I'll fill in the three missing sizes when I have them.

This data set is, unfortunately, too large for me to mirror.

0012345 -> /nodc/archive/arc0007/0012345/1.1/data/0-data    1.5GiB
0038589 -> /nodc/archive/arc0017/0038589/26.26/data/0-data
0055092 -> /nodc/archive/arc0022

[2017-02-06 01:25] JeremiahCurtis commented on #311
running visual wget now, on ftp://aftp.cmdl.noaa.gov/data/radiation/other/

[2017-02-06 09:22] blitzdesigner commented on #124
copy done, received 418,68GB.
I will make it available soon at ftp://ftp.blitzdesigner.info/ftp.epa.gov

[2017-02-06 11:01] pkclsoft commented on #291
Downloading.

[2017-02-06 11:30] pkclsoft commented on #189
Downloading

[2017-02-06 11:33] BauerPiepenbrink commented on #184
mirrored at http://176.9.83.61/184
hashdeep file http://176.9.83.61/184/184_hashdeep.txt

Has somebody a hashfile to compare my files to? That would be very much appreciated. Best would be an older copys hash of the folder to compare and check integrity.

Total size: 222G or 232321900 Byte

[2017-02-06 12:00] BauerPiepenbrink commented on #124
@blitzdesigner How did you do the download? Most federal servers don't let me pull that much in only 12 hours.

[2017-02-06 12:08] blitzdesigner commented on #124
@BauerPiepenbrink
I did an rsync from the Azimuth Project as described by @empirical-bayesian , so i didn't pulled it directly from epa.gov

[2017-02-06 15:46] JeremiahCurtis opened #316 "Oak Ridge National Laboratory DAAC"
Would anyone be interested in posting the various ORNL datasets as separate issues with size estimates (available from ORNL's order pages)
I'm worried that we're missing large portions of ORNL data; maybe I'm wrong.

**https://daac.ornl.gov/get_data.shtml**

Typical issue could read:

ISLSCP Initiative II (ISLSCP II) Data Sets
https://daac.ornl.gov/cgi-bin/dataset_lister.pl?p=29
198843.59 MB

I wo

[2017-02-06 16:08] tkyocum commented on #237
https://s3-us-west-1.amazonaws.com/podaac-ftp.jpl.nasa.gov/ascat.tar.gz (307G)
https://s3-us-west-1.amazonaws.com/podaac-ftp.jpl.nasa.gov/hashdeep.ascat.gz

[2017-02-06 16:13] sarunasb commented on #173
Download completed. Mirror at https://geom.dartmouth.edu/climatemirror.
File checksums are being calculated.

[2017-02-06 18:20] Ichimonji10 commented on #150
Downloading for cross verification purposes.

[code]

[2017-02-06 20:49] gabefair commented on #257
Copy here: https://www.dropbox.com/sh/xw25xygkzl6k87z/AAA3ivKdOQcPQk6BSM5zXLC3a?dl=0

[2017-02-06 22:19] sakaal commented on #313
I have just started downloading this at:
https://bitbucket.org/azimuth-backup/azimuth-inventory/issues/106/noaa-ncei-geostationary-ir-channel

[2017-02-06 22:33] markuslaker commented on #307
Thanks for the magnet link.  I'm leeching a copy from you now, just to provide a redundant backup.

If you send a pull request for <https://github.com/daknob/climate.daknob.net> then you can get your torrent added to the bottom of the Climate Mirror Web page at <https://climatemirror.org/>.  I did for a couple of mine, and they merged the PR within two minutes flat.  That said, no one's actually t

[2017-02-06 22:38] markuslaker commented on #306
Thanks for the magnet link.  I've queued it for downloading next time it becomes available, just for a redundant backup.

If you send a pull request for https://github.com/daknob/climate.daknob.net then you can get your torrent added to the bottom of the Climate Mirror Web page at https://climatemirror.org/.

[2017-02-06 22:51] sakaal commented on #313
It turned out we already have 3.4T of this downloaded by Jan Galkowski currently on Azimuth Backup Project privately controlled server pub05 in Germany.

[2017-02-06 22:56] markuslaker commented on #297
I'll update this message as I find the sizes of the rest of the subdirectories.  Given daily directories going back to 2003, this will be an overnight job at least, but several instances of lftp are on the case.

[code]

[2017-02-06 23:35] blitzdesigner commented on #307
im grabbing this torrent too...

[2017-02-07 00:20] gabefair commented on #307
I'm downloading a copy of the original dataset for cross-verification

[2017-02-07 00:22] gabefair commented on #55
Can we mark this ticket as high priority?

[2017-02-07 00:45] Pneumaticat commented on #150
@bkirkbri hashdeep up at https://climate.archives.potatofrom.space/cddis.gsfc.nasa.gov-slr-data.hashdeep.txt.

[2017-02-07 00:59] BauerPiepenbrink commented on #55
The Site just went down:

Climate.gov is temporarily offline for routine maintenance. We apologize for any inconvenience. We anticipate being back online on by Feb. 7

Either we overloadad the server with too many requests or we are too late and they are "maintenancing the science out of it"

Does anybody have a pre-inauguration-copy?

[2017-02-07 01:25] JeremiahCurtis commented on #162
My wget on /noaa ended at 1961 because I ran out of disk space. If someone wants to pick up from 1962 onward, that would help immensely. I have no idea how to get wget to resume downloading a queue to a new drive without re-downloading files that are already saved on the old drive

[2017-02-07 01:34] donbright commented on #155
offline copy complete.
[code]

Size from du -h is 387G

hashdeep offline, contact me if data is needed

[2017-02-07 02:06] donbright commented on #298
@markuslaker your counts match my counts. . . . i have info for some of those gaps

[code]

my lftp died after a few days(!) of running so i don't have any more info

[2017-02-07 04:05] gofrogs2013 commented on #123
@mxplusb Just saw your post here from a couple weeks ago about contacting the EPA. In the above posts Jeremiah mentions issue #279 where we have had issues with slow connection speeds, particularly on 3 CSV files that are over 100 GB each. One user says it would take 9 days to download one of those files, which is the same as others have been getting, and we'll have to see if this person is succes

[2017-02-07 04:13] gofrogs2013 commented on #279
@BauerPiepenbrink Is your download still going, and if so do you have the same ETA? Hopefully it will be possible to download these large files, but if not I will try getting them from the agency via FOIA as I mention above.

[2017-02-07 04:33] tkyocum commented on #183
https://s3-us-west-1.amazonaws.com/podaac-ftp.jpl.nasa.gov/MEASURES.tar.gz (61.9G)
https://s3-us-west-1.amazonaws.com/podaac-ftp.jpl.nasa.gov/hashdeep.measures.gz

[2017-02-07 05:05] JeremiahCurtis opened #317 "NCDC Global Databank"
https://www1.ncdc.noaa.gov/pub/data/globaldatabank/

estimated size: 232 GB

"The Global Land Surface Databank combines NCDC’s Global Historical Climatology Network–Daily dataset, which includes over 27,000 stations as its foundation, with other data sources from NCDC and those collected by ISTI to produce an integrated databank with approximately 32,000 station records. Additionally, the Global L

[2017-02-07 05:07] empirical-bayesian commented on #316
Azimuth Backup has taken a careful look at supplementing our coverage of
this site.  You are correct, we do not have this data at present.
Gathering of this data is hindered by a requirement that the user
register on the site, and define a passcode. Thereafter, signing in is a
prerequisite for downloading any data.  While the "dataset identifiers"
for all datasets are known (to us, and anyone else

[2017-02-07 05:21] RustyGuts commented on #314
I am pulling now.

[2017-02-07 05:24] JeremiahCurtis commented on #316
I have found that ordering all datasets within a particular collection, say checking all four dasets under the hydroclimatology collections page on https://daac.ornl.gov/cgi-bin/dataset_lister.pl?p=10, and then adding them to cart, yields the total size and number of files within said collection. After receiving a link within the email attached to one's earthdata account, clicking on the link take

[2017-02-07 05:39] donbright commented on #279
I just checked and  ./AIR_QUALITY_DATA only has 58M of data in a single .zip file, which is far less than what @serubin reported above.

does anyone have a public mirror up for cross-checking data?

[2017-02-07 05:53] RustyGuts commented on #297
Downloading now with GCS.

[2017-02-07 09:06] BauerPiepenbrink commented on #279
@gofrogs2013 steady as a rock. ETA 6d 23h with an average of 130 K/s. It's not fast but reliable so far.

A friend of mine and me used to try to calculate what has better bandwith from europe to china. A Gigabit Internet Uplink or a seacontainer full of Hard-Drives.
Getting a physical Backup seems the way to go if possible. Anyway, I keep on nibbling. 27% already done :)

[2017-02-07 13:16] BauerPiepenbrink commented on #291
mirrored at http://176.9.83.61/291
kind of.

hashdeep compare with @donbright says:

hashdeep: Audit failed
   Input files examined: 0
  Known files expecting: 0
          Files matched: 160270
Files partially matched: 0
            Files moved: 28
        New files found: 61
  Known files not found: 349047

I checked the server twice, I dont know where those files are missing. I got a lot of 550

[2017-02-07 13:29] pkclsoft commented on #291
Mine is still downloading.  Very slow, only at 15.5GB so far, but no errors.

[2017-02-07 13:33] gabefair commented on #307
Here is a copy: https://www.dropbox.com/sh/pt5dk44x0q16rqn/AAB1vW5jtI5KlR5LqNWYtGqWa?dl=0
Total size: 1.58 GB
Size on NTFS with disk compression: 465 MB

[2017-02-07 13:52] BauerPiepenbrink commented on #279
I shouldn't have jinxed it. Got Interrupted by the server half an hour ago. Continueing now.
Make shure to use a download-client with the ability to resume after disconnect

[2017-02-07 16:25] bkirkbri commented on #138
Size for just the `2016` directory is 4.3TB. There are directories from `1994` to `2016` and the older ones appear to be smaller. For example, `1994` is only 218MB.

[2017-02-07 17:00] BauerPiepenbrink commented on #162
./asos-fivemin/
and
./ASOS_station_photos/

mirrored here: http://176.9.83.61/162

./asos-onemin/ in the making

[2017-02-07 17:10] ivanstegic commented on #314
Also pulling

[2017-02-07 19:53] gabefair commented on #162
@JeremiahCurtis have you tried using the -N -m with wget? so: wget -N -m ftp://[...]/*

[2017-02-07 19:55] gabefair commented on #314
@RustyGuts , were you able to finish?

[2017-02-07 19:57] gabefair commented on #13
@Zirus1701  were you able to finish? What was the total size?

[2017-02-07 21:04] chosenken commented on #236
@bkirkbri I ran the `hashdeep` command on the data directory.  It took quite a while to run, and generated a 100+ MB file with all the hashes.  I've 7zip'ed it up and it is available [here](https://www.dropbox.com/s/5730xvxmwffcrpy/hashdeep_aquarius.7z?dl=0)

As for adding the data to IPFS, I had to move my IPFS data directory off of my NAS as it was causing issues.  It is still transferring to my

[2017-02-08 00:43] markuslaker commented on #315
Let's flesh out @BauerPiepenbrink's contributions a bit.  The file, after unzipping, is in Marc format.  After a quick `sudo aptitude install yaz` on Debian, it becomes possible to run `yaz-marcdump -o line allRecords.mrc`, which look, in part, like this:

[code]

A program could extract some kind of author and title from this lot.  Unfortunately, <http://www.osti.gov/scitech/biblio/1334276> is a

[2017-02-08 00:49] markuslaker commented on #316
I'm concerned about the ethics, and possibly the legality, of taking and publishing data that the owner has chosen to place behind a registration wall.  Perhaps we should instead approach ORNL and talk to them about mirroring the data outside the US.

[2017-02-08 01:10] donbright commented on #291
@BauerPiepenbrink im going to re-run my hashdeep, its apparently way bigger than it should be

[2017-02-08 01:15] JeremiahCurtis commented on #316
As far as I know, the ORNL servers are publicly funded, and there is no charge for requesting the data. My guess is that registration is required in order to limit the possibility of overloading ORNL's servers. We are not publishing data; we're distributing it.....there is a difference

[2017-02-08 01:23] stephanne-t commented on #26
This is massive, and I can't do all of it.  (One product for the MODIS satellite is nearly 10 TB, and there are nearly 20 products for that satellite alone).  I'm currently working in seeing what has been scraped in other issues, and what still needs scraping.

[2017-02-08 01:34] JeremiahCurtis commented on #316
FWIW, the data from field campaigns add up to just under 5TB:

[2017-02-08 02:00] acostanza opened #318 "US Forest Service FIA Dataset"
* *Agency*: US Department of Agriculture
* *Agency Division*: Forest Service
* *Data Type*: US forest inventory plots
* *Data Format*: CSV, ZIP
* *FTP/HTTP URL*: https://apps.fs.usda.gov/fia/datamart/CSV/datamart_csv.html

**Dataset is mirrored and online**

* *Protocol*: FTPS (SSL/TLS)
* *Server*: go.shareforever.co
* *Port*: 21
* *Login*: public
* *Password*: public
* *Folder*: GovData->FIA Data

[2017-02-08 02:21] BauerPiepenbrink commented on #315
@markuslaker Don't get me wrong, I don't want to make any decisions about priorities or the importance of any issues and of course, asking nicely to mirror that site is a great way to go.
But I thought we try to get as much climate data as we can before it might get altered. I didn't find a single thing about greenhouse gases in any of the documents I saw from this source, yet.

The two examples y

[2017-02-08 08:24] markuslaker commented on #316
@JeremiahCurtis, you're doing a great job here, an important job, and I don't want to derail it by arguing.  I won't talk about my qualms any further.  But I want to stay squeaky clean, and so I'll concentrate what resources I have on other repositories that offer unambiguously open access.  I'll see you in other Climate Mirror issues.  :-)

[2017-02-08 09:25] donbright commented on #291
i have updated my hashdeep... apparently the difference was that my copy had the symbolic links for pub3 pub5 pub7 (which are linked to pub2, pub4, whatever) and hashdeep was counting those as separate directories.

so i removed those 3 symbolic links from my filesystem and the hashdeep is much smaller now.

http://67.205.151.30/291/hashdeep.audit.txt

[2017-02-08 14:32] JeremiahCurtis commented on #316
thanks....no offense taken.....    :-)

[2017-02-08 16:17] BauerPiepenbrink commented on #291
@donbright OK, I think we are good. I rechecked your hashfile against my mirror and again I have about 150.000 entries with "Known file not used" , but as far as I can see those are also linked files in /pub"X"/data/level"X"/Sites_ByID/ linked to /pub"X"/data/level"X"/Sites_ByName

I would rather mirror those links too as they seem quite handy. Maybe I try to get those later.

Also I have 48 new f

[2017-02-08 17:58] jradzuweit commented on #168
Mirror available at ftp://176.9.40.3/mirror_a; hashdeep just running

[2017-02-08 19:49] gabefair commented on #55
Can we mark this ticket as high priority? @nickrsan or @mxplusb

[2017-02-08 22:12] gabefair commented on #291
Here is the current status of this issue:
Confirmed Mirror: [@nrdufour ](https://github.com/climate-mirror/datasets/issues/291#issuecomment-277145932) and @donbright and [@BauerPiepenbrink](https://github.com/climate-mirror/datasets/issues/291#issuecomment-277996650)

Downloaded: [@ivanstegic](https://github.com/climate-mirror/datasets/issues/291#issuecomment-275916094) and [@donbright](https://gi

[2017-02-08 22:44] gabefair commented on #315
1 vote to put on hold.

[2017-02-08 22:46] gabefair commented on #312
@TechMaz  how in the world did you put those files there? They are located in a terrible place.

[2017-02-08 22:53] pkclsoft commented on #291
[update] Still downloading.

[2017-02-08 23:38] JeremiahCurtis opened #319 "Langley DAAC MISR datasets"
ftp://l5eil01.larc.nasa.gov/MISR/

size: no idea....huge

on issue #80, this folder was left incomplete......it appears that no one is working on it

[2017-02-08 23:39] ivanstegic commented on #313
I'm getting this right now, and have enough storage!

[2017-02-08 23:40] donbright commented on #291
@BauerPiepenbrink i counted the symlinks in my tree, there are 429 using the command below. i used 'lftp mirror' which copies symlinks, so any method that doesnt copy symlinks will be have a hugely different hashdeep than mine.

[code]

still i am going to re-run my hashdeep a third and fourth time just to make sure.

[2017-02-09 00:38] markuslaker commented on #272
It should be possible to automate the downloading of a lot of these files.  Anything ending in a slash is a directory and can be mirrored to local storage by lftp; anything ending in .zip, .txt or .xls is a usable file that can be directly downloaded by wget or, again, lftp.  I'll knock together some code to do the job.  It'll take me a few days, just because of the small amount of time I have ava

[2017-02-09 01:07] BauerPiepenbrink commented on #291
@donbright me too, i used lftp -c mirror ftp://...

Anyway, I only have 26 links (see http:/176.9.83.61/291/291_symlinks.txt if interested)
As I said, i would rather backup all  the other links too as they seem to be very handy for station-finding.
when we reach the point where we agree that we downloaded the correct amount of data and all the files have the correct hashsums, I might ask you to se

[2017-02-09 01:49] TechMaz commented on #312
Hmm explain what you mean?

[2017-02-09 01:50] TechMaz commented on #312
That's just the file listing you are looking at. The archive page for it is here: https://archive.org/details/maunaloa_co2

[2017-02-09 02:40] emf commented on #162
I just grabbed /data/extremeevents.  617MB.

magnet:?xt=urn:btih:d65111efa8a9869d7f6b6e33d869e3ef73e27f03&dn=extremeevents&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80&tr=udp%3A%2F%2Fopen.demonii.com%3A1337&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969

[2017-02-09 03:03] emf opened #320 "NCDC Heat Stress Datasets and Documentation"
### New Dataset

Please fill out the [New Issue](https://github.com/climate-mirror/datasets/issues/new) form so we can easily organise the issues and put a priority on certain data. The title should reflect the dataset you want us to save. In the body, please include the following information.

* *Agency*: NOAA
* *Agency Division*: NCDC
* *Data Type*: Time series of number of days average apparent

[2017-02-09 03:33] gabefair commented on #191
Copy here: https://www.dropbox.com/sh/wjbhl4bqc0zrdcf/AABLt-Zg5qssxwaqVAZvvrRfa?dl=0
Total Size: 139 MB
`$:/podaac-ftp.jpl.nasa.gov/allData$ md5deep -r geos3/
f50585330e4bd73ebe5f109b29648406  /podaac-ftp.jpl.nasa.gov/allData/geos3/.listing
66953647f29aca0817ac077d7a1b1ac3  /podaac-ftp.jpl.nasa.gov/allData/geos3/L2/.listing
96fe17e88b780f5e281c5a10865d2276  /podaac-ftp.jpl.nasa.gov/allData/geos3/L

[2017-02-09 03:43] gabefair commented on #193
1 vote to close

[2017-02-09 03:45] gabefair commented on #198
1 vote to close this ticket

[2017-02-09 03:52] gabefair commented on #256
And here is a copy: https://www.dropbox.com/sh/jt9rr4g1havt2ue/AACEd9hOR-E3FZz7qJ7FDmJIa?dl=0

Total Size: 7.36 GB
hashdeep results of all files: https://www.dropbox.com/s/6jeshdnqjz5btw3/podaac-ftp.jpl.nasa.gov_allData_saral_hashdeep-audit.txt?dl=0

[2017-02-09 03:58] gabefair commented on #208
@wsh , if your copy is still good, can you please comment over at ticket #256, as we will be closing this ticket as its a duplicate.

[2017-02-09 03:59] gabefair commented on #200
Can we close this? Its a duplicate of #256

[2017-02-09 04:04] gabefair commented on #290
1 vote to close

[2017-02-09 04:05] gabefair commented on #240
1 vote to close

[2017-02-09 04:11] gabefair commented on #170
Using lftp and then du -h commands I got:

lftp ghrc.nsstc.nasa.gov:/pub/rasi> du -h
3.1M    ./panama/data
3.1M    ./panama
3.1M    ./papagayo/data
3.1M    ./papagayo
3.1M    ./tehuantepec/data
3.1M    ./tehuantepec
9.3M    .

[2017-02-09 04:18] gabefair commented on #15
@Zirus1701 did it ever finish? Can you give us the results of md5deep -erl for your files?
`md5deep -erl . > ncdc.noaa.gov_cdo-web_md5deep_audit.txt`

[2017-02-09 04:19] gabefair commented on #201
1 vote to close

[2017-02-09 04:26] gabefair commented on #163
1 vote to close.
@claughinghouse can you post your copy in #158 ?

[2017-02-09 04:27] gabefair commented on #122
1 vote to close this issue.
@defendr can you post your copy in #158?

[2017-02-09 04:30] gabefair commented on #47
Index of /pub
Name	Size	Date Modified

cdr/		12/16/14, 12:00:00 AM
Data_In_Development/		11/30/16, 9:36:00 AM
gacp/		12/19/08, 12:00:00 AM
gpcp/		3/10/10, 12:00:00 AM
gridsat/		5/22/15, 12:00:00 AM
grisat/		1/30/14, 12:00:00 AM
hursat/		7/21/15, 12:00:00 AM
ibtracs/		9/26/16, 11:48:00 AM
iosp/		11/30/10, 12:00:00 AM
isccp/		9/4/14, 12:00:00 AM
lost+found/		1/28/11, 12:00:00 AM
misc/		2/1/17, 12:45

[2017-02-09 04:30] gabefair commented on #47
[code]

[2017-02-09 04:41] gabefair commented on #209
@Cubytus, Amazon S3 storage is probably cheaper.

results of [`lftp :~> du -h ftp://podaac.jpl.nasa.gov/allData/seasat > seasat_size.txt`](https://www.dropbox.com/s/be69k82f1itcesa/seasat_size.txt?dl=0)

[2017-02-09 04:49] donbright commented on #291
thanks for figuring this out  @BauerPiepenbrink  i am not sure what i did wrong.

hashdeep without symlinks: http://67.205.151.30/291/hashdeep.nosyms.txt

results of ```for i in `find  cdiac.esd.ornl.gov -type l | sort `; do ls -l $i ; done > symlinks.find.txt``` http://67.205.151.30/291/symlinks.find.txt

results of ```find cdiac.esd.ornl.gov| sort``` : http://67.205.151.30/291/all.find.txt

resu

[2017-02-09 04:58] gabefair commented on #287
## 1 vote to close
We have it mirrored twice in this ticket
This is also a subset of #295

[2017-02-09 05:04] gabefair commented on #319
The ftp site is: ftp://l5eil01.larc.nasa.gov/MISR/
and another URI at: http://l5eil01.larc.nasa.gov:22000/pub/MISR_NRT/

[2017-02-09 11:02] BauerPiepenbrink commented on #291
so, comparing to your nosym hashfile @donbright :

Input files examined: 0
  Known files expecting: 0
          Files matched: 160219
Files partially matched: 0
            Files moved: 42992
        New files found: 48
  Known files not found: 46

so some renaming and moving was going on on the server as we said and then there are a few new files.
If I take your nosyms.txt line-count (160270) and

[2017-02-09 11:59] gabefair commented on #29
Total size of ftp://aftp.cmdl.noaa.gov/ : *6.9T*

[2017-02-09 13:03] defendr commented on #122
@gabefair Still downloading -- have 1.5 TB to go.  ftp://ftp.nodc.noaa.gov/pub/data.nodc/ looks to be over 4 TB.  It will probably be a couple more days.

[2017-02-09 13:42] Zirus1701 commented on #29
hmm. That's odd. I'm not sure why wget reported that it was done successfully, when it didn't capture everything. Would adding -m fix that problem?

[2017-02-09 13:43] Zirus1701 commented on #13
@gabefair No, it's still downloading.

[2017-02-09 14:22] Trevoke opened #321 "Test: please disregard"
Hi folks, sorry to open an issue for something unrelated. Something connected to my gmail account is sending notifications from this repo to the trash, which is worrisome. I'm in the process of troubleshooting it, now I need a test..

No worries, if this doesn't work, I'm not going to spam all your inboxes.

[2017-02-09 14:22] Trevtest commented on #321
test response.

[2017-02-09 14:25] Trevoke commented on #321
Okay good, fixed. Sorry for the trouble everyone.

For posterity's sake: I must have misclicked something on my unroll.me and it decided that trashing these messages was the sane thing to do.

[2017-02-09 14:25] #321 closed

[2017-02-09 16:30] ewooonk commented on #317
I'm downloading this using
wget -m --page-requisites --adjust-extension --no-parent --convert-links -e robots=off https://www1.ncdc.noaa.gov/pub/data/globaldatabank/

[2017-02-09 16:37] ewooonk commented on #116
I got a full copy of this dataset.

[2017-02-09 16:50] ewooonk commented on #317
ftp://ftp.ncdc.noaa.gov/pub/data/globaldatabank

[2017-02-09 16:59] elfplease commented on #55
Hi, sorry for the delay, I actually had this up the whole time. The mirror is here http://climate.seriouself.net/www.climate.gov/ and you can download your own copy from http://climate.seriouself.net/www.climate.gov.tar.gz . It was scraped on Jan 18th, pre-inauguration.

[2017-02-09 17:19] elfplease commented on #84
I downloaded only a small subset only I'm afraid. I got all of arthurhou.pps.eosdis.nasa.gov/trmmdata/3G/V06/ (there is a directory for each day from 1997-2011) and some of arthurhou.pps.eosdis.nasa.gov/trmmdata/3G/V07/. It's 90GB total. It's a little hard for me to make this visible online but I'll try.

[2017-02-09 18:50] ewooonk commented on #62
After iterating a few times over the whole dataset (nearly 10⁶ files), I managed to get a full copy of ftp://ftp.ncdc.noaa.gov/pub/data/swdi

[2017-02-09 18:55] bkirkbri commented on #62
@mxplusb I did get everything in `ftp://ftp.ncdc.noaa.gov/pub/data/swdi`, not sure if that is all data for this issue.

@wantonwonton We're you able to complete? I will post `hashdeep` output soon.

[2017-02-09 19:14] bkirkbri commented on #246
Full dataset available at:

ftp://ftp.cameratrapping.net/ftp.nodc.noaa.gov/pub/data.nodc/jason3/

Hashdeep at:

ftp://ftp.cameratrapping.net/ftp.nodc.noaa.gov_pub_data.nodc_jason3.hashdeep.audit.txt

[2017-02-09 20:40] ivanstegic commented on #313
This is not done downloading, but it will be permanently archived here: https://data.ourdataourhands.org/eclipse.ncdc.noaa.gov/pub/cdr/gridsat/files/

[2017-02-09 20:49] Ichimonji10 commented on #150
Downloaded ~165GB of data. Hashdeep and download log available at: http://www.ichimonji10.name/climatemirror/cddis.gsfc.nasa.gov.slr_data/

[2017-02-09 21:07] bkirkbri commented on #200
Closing as a duplicate

[2017-02-09 21:07] #200 closed

[2017-02-09 21:07] bkirkbri commented on #208
Closing as a duplicate

[2017-02-09 21:07] #208 closed

[2017-02-09 21:09] JeremiahCurtis opened #322 "NCEI AVHRR Cloud Reflectance (15 TB)"
https://www.ncei.noaa.gov/data/avhrr-reflectance-cloud-properties-patmos-extended/access/

huge subset of issue #274 with no reported mirrors

[2017-02-09 21:35] Ichimonji10 commented on #317
Downloading with:

[code]

[2017-02-09 21:42] Pneumaticat commented on #297
Downloaded, with five files/directories failed (seem to be broken on the server):

- ftp://podaac-ftp.jpl.nasa.gov/allData/seawinds/ancillary/hurr/HUR_OLD/sw/C
- ftp://podaac-ftp.jpl.nasa.gov/allData/seawinds/ancillary/hurr/HUR_OLD/sw/README.txt
- ftp://podaac-ftp.jpl.nasa.gov/allData/seawinds/ancillary/hurr/HUR_OLD/sw/SWS_SDPUG_V2.0.pdf
- ftp://podaac-ftp.jpl.nasa.gov/allData/seawinds/L3/jpl/v2/d

[2017-02-09 21:53] JeremiahCurtis opened #323 "World Ocean Database (a.k.a. World Ocean Atlas?)"
ftp://ftp.nodc.noaa.gov/pub/
a bunch of directories beginning in WOD and WOA (e.g., WOA01.OLD, WOD98, etc.)

not sure if the ftp://ftp.nodc.noaa.gov/pub/woa/ folder replicates the data contained in the aforementioned directories or not

no tickets/issues here on github appear to include these data at all

MORE INFO: https://www.nodc.noaa.gov/OC5/indprod.html (as far as I can tell, there might be m

[2017-02-09 22:31] markuslaker commented on #272
This is far from finished, but here's proof of life: <https://github.com/markuslaker/getcoris>.  It compiles and works now, but isn't ready because it's not resumable: after any interruption, you have to start the downloads again from the first link.  I'll finish it over the next few days, as work and private life allow.  I'll post again here when the code is ready for you to download and run.

[2017-02-10 05:18] wsh commented on #256
Mine is about the same filesize but I don't have access to hashdeep on this machine. I'd welcome an alternative.

[2017-02-10 09:30] BauerPiepenbrink commented on #311
This transfers in glacial terms of speed. got almost 4 GB in 6 days :/ . Might be due to trans-atlantic lag

Does anyone have a copy already?

[2017-02-10 09:41] BauerPiepenbrink commented on #168
@jradzuweit you were quite quick with that download. what commands did you use?

[2017-02-10 11:29] pkclsoft commented on #291
so for me, my download is at about 46%.  Given that there are now established mirrors, should I continue, or move on?

[2017-02-10 11:47] BauerPiepenbrink commented on #291
@pkclsoft As my dataset is a bit different to donbrights I would appreciate a third hashfile if you can spare the bandwith and storage-space. But maybe I'm over-cautios.

[2017-02-10 11:58] pkclsoft commented on #291
@BauerPiepenbrink no problem.  I can spare it.  Personally, I don't think we can be too cautious.  I've just had a little rant on slack about that.

[2017-02-10 14:53] blitzdesigner commented on #162
some of those folders are in #16 where I mirrored following folders:

- gsod

- ncei

- noaa
- normals
- nsrdb-solar
- qclcd
- uscrn (this one is currently uploaded from my offline-mirror)
- ww-ii-data

all of them are mirrored here: ftp://ftp.blitzdesigner.info/pub/climatemirror/NCEI_Land-Based-Station-Datasets/

[2017-02-10 15:03] BauerPiepenbrink commented on #185
mirror available at http://176.9.83.61/185
hashdeep file at http://176.9.83.61/185/185_hashdeep.txt (HUGE!)

total dataset-size: 878 GB or 920475212 Byte

[2017-02-10 17:25] jradzuweit commented on #168
I use

but my machine has a 1GBit interface

[2017-02-10 17:49] blitzdesigner commented on #151
im loading too, gona be here: ftp://ftp.blitzdesigner.info/pub/climatemirror/cddis.gsfc.nasa.gov_slr_products%20Issue_151/

[2017-02-10 20:46] blitzdesigner commented on #38
I'm working on this too...

[2017-02-10 20:46] markuslaker commented on #272
Right, come and get it: <https://github.com/markuslaker/getcoris/blob/master/getcoris.d>.  Instructions are right there in the source file.  I developed it on Debian Jessie, so it should work cleanly there (once you've installed the D compiler and lftp), but I'm also keen to hear about the experiences of users of other platforms.  If you tell me what you did to get the program working on your mach

[2017-02-10 21:43] jradzuweit commented on #311
tp@sirius:~/mirrors> lftp -c "open ftp://aftp.cmdl.noaa.gov/data/radiation/ && du -h -d1"
37M     ./antuv
1.4G    ./baseline
1.2G    ./CUCF
0       ./instaar
du: Access failed: 550 Failed to change directory.
8.1M    ./NCDC
48G     ./neubrew
5.3G    ./other
145M    ./shiprad
141G    ./surfrad
0       ./uid_shadow_drive
197G    .

Creating mirror at ftp://176.9.40.3/mirror_b, as soon as it is finis

[2017-02-10 22:14] jradzuweit commented on #290
ftp@sirius:~/mirrors/podaac-ftp.jpl.nasa.gov/allData/goes> lftp -c "open ftp://podaac-ftp.jpl.nasa.gov/allData/goes/ &&du -h -d1"
1.8T    ./L3
4.0G    ./retired
1.8T    .
Started to mirror this at ftp://176.9.40.3/mirror_b, will update here when finished.

[2017-02-11 02:22] bkirkbri commented on #256
@wsh If your directory structure matches mine, you can try:

[code]

[2017-02-11 02:34] bkirkbri commented on #256
Nevermind, this one is accumulating data daily and will not match a simple checksum like the above if fetched at different times.

[2017-02-11 08:39] BauerPiepenbrink commented on #168
@jradzuweit In fact our machines performance and bandwidth should be almost identical, certainly our connection quality is. We use the same service provider for our root-servers as it seems :)
Your IP-Range seemed familiar. Thats why I was surprised that you were so quick.
Thanks for the info

[2017-02-11 12:13] markuslaker commented on #272
I have a copy of getcoris.d running now.  A significant number of items are 404 Not Found; a smaller number return 403 Forbidden:

[code]

That's a failure rate of more than 20%.  It's impossible for me to say when these missing items were taken down and how many more may be taken down in the near future.

We shouldn't be misled by the item counts and the `du` numbers, BTW.  getcoris.d uses four c

[2017-02-11 15:47] Grotax commented on #251
Public Mirror: [https://climate.grotax.de/podaac-ftp.jpl.nasa.gov/allData/oscar/](https://climate.grotax.de/podaac-ftp.jpl.nasa.gov/allData/oscar/)
Checksums (hashdeep): [https://climate.grotax.de/podaac-ftp.jpl.nasa.gov/allData/checksum-oscar.txt](https://climate.grotax.de/podaac-ftp.jpl.nasa.gov/allData/checksum-oscar.txt)
du -h:
[code]

[2017-02-11 23:57] ymarcus93 commented on #318
Can you provide a torrent for this?

[2017-02-12 01:04] ymarcus93 commented on #318
Ok. I clicked on the link you provided and downloaded the ZIP called ENTIRE.zip. You said above that the total data is 65.52GB, where are you getting this number? I'm only getting 3.67GB.

[2017-02-12 01:05] ymarcus93 commented on #320
Can you provide a SHA-256 hash of the data?

[2017-02-12 11:22] ewooonk commented on #317
I have a offline copy of this dataset.

[2017-02-12 15:46] markuslaker commented on #272
If you tackle this, remove <http://www.cakex.org/sites/default/files/documents/Climate%20of%20the%20Southeast%20United%20States.pdf> from your list of links.  lftp gets stuck in an infinite redirection loop and never downloads everything.  I don't know whether the other cakex link will be equally troublesome; I've not got to it yet.

If you're already running getcoris.d and you see from the consol

[2017-02-12 15:46] ymarcus93 commented on #318
Also, it looks like this data is updated every day, so someone might have to mirror it each day (or weekly).

[2017-02-12 18:04] empirical-bayesian commented on #318
Keeping downloaded datasets up to date is a tricky problem. Discussions
at The Azimuth Backup Project go in a few different directions on this,
but they suggest a hapazard approach is likely to set up for a greater
mess later.

For the most part, we do not have guidance or input from architects and
producers of these datasets so we are assuming we got things right,
which may not be the case.

Also

[2017-02-12 19:30] provos commented on #248
I ran out of space after 2TB. Should I put up the partial data or wait for someone with more available serving storage? @bkirkbri

[2017-02-12 23:55] ymarcus93 commented on #318
Ok. Update..I looked at your server and now I know why you have 65.52GB. I think your wget --mirror downloaded duplicates. The website organizes the data into .zip and .csvs. The .zip contains the .csv file. So I think you have duplicates. In total, it should only be 3.67GB.

[2017-02-13 00:02] empirical-bayesian commented on #318
That's entirely possible. However, without the participation of the
original developers of the dataset we cannot know.  We are not likely to
get that.  Accordingly, I'm willing to risk duplicates.

On Sun, Feb 12, 2017, at 18:55, Yuval Marcus wrote:

Links:

  1. https://github.com/climate-mirror/datasets/issues/318#issuecomment-279265104
  2. https://github.com/notifications/unsubscribe-auth/AD3H

[2017-02-13 02:56] JeremiahCurtis commented on #279
@Serubin hope your hard drive failure doesn't mean your download is irretrievable :)

[2017-02-13 15:37] Ichimonji10 commented on #317
I have an offline copy of the dataset, too. Some quick numbers:

[code]

Download log and hashdeep available at http://www.ichimonji10.name/climatemirror/ftp.ncdc.noaa.gov.pub_data_globaldatabank/

[2017-02-13 19:13] gabefair commented on #291
Why risk it, better safe than sorry. Thanks @pkclsoft

[2017-02-13 19:39] pkclsoft commented on #291
OK.  Download finally completed.  Have we settled on a specific set of commands to verify it, or compare it against other mirrors?

[2017-02-13 20:03] ivanstegic commented on #291
I am happy to report that the full FTP site of 140GB is now available on the Our Data Our Hands server and will remain there permanently. You can save this in your bookmarks: https://data.ourdataourhands.org/cdiac.ornl.gov/

We're working to get as much data mirrored on our servers (and soon global grid!) as possible.

[2017-02-13 20:29] ivanstegic commented on #291
Vote +1 to close

[2017-02-13 20:32] chosenken commented on #236
Data uploaded to Amazon Cloud Drive, can be accessed [here](https://www.amazon.com/clouddrive/share/gc1uDEbHfFBtFNxkGljdRjxjfE8avUJcNvkLFNZ2FBm?ref_=cd_ph_share_link_copy).  Still working on getting data added to IPFS.

[2017-02-13 20:35] ivanstegic commented on #290
Happy to report that the full FTP site of 1.8TB is now available on the Our Data Our Hands server and will remain there permanently. You can save this in your bookmarks: http://data.ourdataourhands.org/podaac-ftp.jpl.nasa.gov/

We're working to get as much data mirrored on our servers (and soon global grid!) as possible.

+1 vote to close this issue.

[2017-02-13 20:36] ivanstegic commented on #290
Actually, I just saw that I'm missing about 300GB, it's currently synchronizing, and should be available by tomorrow morning on the same URL. Don't close just yet.

[2017-02-13 21:39] jradzuweit commented on #311
Server seems to be reducing transmission speed

[2017-02-13 23:09] BauerPiepenbrink commented on #291
@pkclsoft As everybody else was already using it here, I looked into hashdeep which is in the universal repos of most linux distros and it seems perfect for that job. The command I use is

`hashdeep -rl -of path/mirrored.files/ | tee hashdeepfilename.txt`

which will take the hashsums of every single file in that folder recursively (r) with relative paths (l) and only takes in account regular file

[2017-02-14 01:24] pkclsoft commented on #291
Thanks @BauerPiepenbrink .  I'll kick jobs off with that command now.  I've got two datasets complete now.  Just need to build the hashes.  Once that's verified, I'll create torrents for them as it's the only method I have to make them public.

[2017-02-14 02:18] bkirkbri commented on #313
@ivanstegic Still in progress? Thanks!

[2017-02-14 02:39] bkirkbri commented on #138
@mxplusb @clickbg @gleezy @stevelord Any luck with this one?

[2017-02-14 02:44] mxplusb commented on #138
No, WinSCP failed as well. :/

[2017-02-14 04:45] ivanstegic commented on #313
This continues.

[2017-02-14 04:48] ivanstegic commented on #313
Currently at 2.5TB

[2017-02-14 10:16] pkclsoft commented on #189
Does anyone have a hashdeep report I can use to compare with?

[2017-02-14 10:40] BauerPiepenbrink commented on #291
@pkclsoft That was a typo. Thanks for pointing that out. Link is corrected to
http://176.9.83.61/291/291_hashdeep_noLinks.txt

[2017-02-14 10:54] pkclsoft commented on #291
When I mirrored for this issue, I grabbed cdiac.ornl.gov, not cdiac.esd.ornl.gov so my hash is not matching that of @donbright (funnily enough).  Looking back over this issue, I see both urls mentioned.  So are both correct?  There are an awful lot of files in both that apparently match hashes however are in different directories (lot's of moved files).

Does anyone have a hash of cdiac.ornl.gov?

[2017-02-14 12:59] BauerPiepenbrink commented on #291
@pkclsoft So what I did is:

- I downoaded your hashdeep file
- converted every occurence of cdiac.ornl to cdiac.esd.ornl so it will be compatible with my filepaths
- compared your hashfile with my files

I got:
Input files examined: 0
  Known files expecting: 0
          Files matched: 160028
Files partially matched: 0
            Files moved: 43231
        New files found: 0
  Known files not fo

[2017-02-14 13:20] pkclsoft commented on #291
Thanks.  That's great then.  All those files beginning with '.' are hidden files on the unix file system, so perhaps that explains why lftp didn't get them down.  I don't know if they are important or not.  I guess the thing is that we at least know we have one mirror of them.

Thanks for looking into it.  I was thinking of writing a script that would take two hashdeep files and do the comparison

[2017-02-14 13:27] BauerPiepenbrink commented on #291
Great!
A script to compare hashfiles would be helpful, I guess. Even for this relatively small dataset it takes about 20 minutes to compare a hashfile with the actual data.
I attempted to compare hashfiles with diff or sdiff but without some scripting to organize the output of that it's no use.
And i already get the scares when I think about verifying the parts of issue 162 I'm downloading. One of

[2017-02-14 14:38] JeremiahCurtis commented on #123
Not necessarily directly pertaining to climate change, but likely in danger nonetheless:
1)  Toxic Release Inventory:
https://www.epa.gov/toxics-release-inventory-tri-program/tri-basic-data-files-calendar-years-1987-2015 (simple CSV files that are giving my browser fits when downloading)
more detailed data at https://www.epa.gov/enviro/tri-search .....not sure if there is a ftp directory for this

[2017-02-14 17:46] sarunasb commented on #156
hasdeep checksums available:
https://geom.dartmouth.edu/climatemirror/data.ncdc.noaa.gov/cdr/sea-surface-temp-whoi/checksums.txt

[2017-02-14 17:48] sarunasb commented on #171
Mirror at
https://geom.dartmouth.edu/climatemirror/infield.nsstc.nasa.gov/gpm_validation/gcpex/
hasdeep running.

[2017-02-14 17:49] sarunasb commented on #173
hasdeep checksums:
https://geom.dartmouth.edu/climatemirror/infield.nsstc.nasa.gov/gpm_validation/mc3e/checksums.txt

[2017-02-14 17:50] sarunasb commented on #215
Mirror at
https://geom.dartmouth.edu/climatemirror/pwgdata.gsfc.nasa.gov/pub/compressed
checksums:
https://geom.dartmouth.edu/climatemirror/pwgdata.gsfc.nasa.gov/pub/compressed/checksums.txt

[2017-02-14 17:52] sarunasb commented on #237
Mirror at
https://geom.dartmouth.edu/climatemirror/podaac-ftp.jpl.nasa.gov/allData/ascat/
hasdeep in progress.

[2017-02-14 18:10] sarunasb commented on #148
Downloading to
http://geom/climatemirror/cddis.gsfc.nasa.gov/gps/products/

[2017-02-14 19:26] ivanstegic commented on #292
I'm at 400GB, but had to stop for a few days. I'm back at this now with vigor. It will be available permanently here: http://data.ourdataourhands.org/ftp.ngdc.noaa.gov/

[2017-02-14 19:31] ivanstegic commented on #207
Had to stop for a while, back at it now. Up to 1.8TB will report back when done. Current data is already available mirrored online here: http://data.ourdataourhands.org/podaac.jpl.nasa.gov/allData/rapidscat/

[2017-02-14 19:32] ivanstegic commented on #285
Had to stop for a while, I'm at 951G right now and going. Data available and will be continually updated here: http://data.ourdataourhands.org/data.ncdc.noaa.gov/cdr/

[2017-02-14 19:41] ivanstegic commented on #290
I have 1.5TB and it's live now at http://data.ourdataourhands.org/podaac-ftp.jpl.nasa.gov/

[2017-02-14 19:54] ivanstegic commented on #314
I am getting this! It is available live as the data is mirrored here: http://data.ourdataourhands.org/ftp.nodc.noaa.gov/

[2017-02-14 21:19] ymarcus93 commented on #296
Definitely not 17GB or 21GB...I'm getting 39GB and still downloading for windsat. In my logs, it seems like there is a .snapshot folder in many of the subfolders. I think your original estimate didn't take these hidden folders into account. My wget --mirror is downloading these anyways, although I don't know if .snapshot has duplicates.

[2017-02-15 04:30] bkirkbri commented on #150
Comparing the two hashdeep files shows a number of mismatches. Could be added/removed files over the time period between your mirrors. I'm downloading now to post another mirror.

[2017-02-15 18:34] bkirkbri commented on #274
@planetor Thanks for the detailed breakdown of mirrors! Can you calculate `hashdeep -rl` output for each and post links to the hashdeep files? That would be very helpful.

[2017-02-15 18:53] bkirkbri commented on #297
@Pneumaticat Thank you. Calculating total size from your hashdeep file now. FYI, digests of hashdeep files are of limited use because relative pathnames may be different or a single extra file would render the digest completely different. You probably know that, but I'm commenting for posterity.
@RustyGuts Were you able to complete this one?

[2017-02-15 18:54] bkirkbri commented on #297
Total size of files in @Pneumaticat hashdeep file is 836GB. Would you check on it for me?

[2017-02-15 19:18] bkirkbri commented on #236
@astrobackup Were you able to get this one? Thanks!
@chosenken Thanks!

[2017-02-15 19:27] Pythonmaster1508 opened #324 "NOAA Datasets"
* *Agency*: NOAA
* *Agency Division*: Unknown
* *Data Type*: Dataset
* *Data Format*: Mostly HTML
* *FTP/HTTP URL*: https://data.noaa.gov/dataset?q=Climate+Change&sort=score+desc%2C+name+asc&ext_location=&ext_bbox=&ext_prev_extent=-139.21874999999997%2C8.754794702435618%2C-61.87499999999999%2C61.77312286453146&page=1

I think these might be helpful

[2017-02-15 19:39] bkirkbri commented on #248
Size is at least 2TB

@provos you can coordinate with someone to mirror the remainder and get them your portion. Or if you prefer to delete and mirror smaller data sets in the space you have, please do.

[2017-02-15 19:39] bkirkbri commented on #277
It does seem like `/OceanWinds` is symlinked into `../allData` and duplicates the issues above.

@provos Did you fetch from `ftp://podaac.jpl.nasa.gov/allData/aquarius` rather than the issue URL of `ftp://podaac.jpl.nasa.gov/OceanWinds/aquarius`? If so, will you post completed mirror info in #236 as that issue is more specific?

[2017-02-15 19:43] bkirkbri commented on #324
This search results in 5,621 datasets. More specificity is needed. There is likely overlap with many existing issues. Please refine if possible and remove duplicates. Thank you.

[2017-02-15 19:45] bkirkbri commented on #277
`aquarius` consists only of symlinks into `../allData/aquarius` and is definitely a duplicate of #236

[2017-02-15 19:45] Pythonmaster1508 commented on #324
Please remove this issue while I figure out what does not overlap. I will repost once I figure the overlaps out

[2017-02-15 19:47] bkirkbri commented on #324
Ok, will do.

[2017-02-15 19:47] #324 closed

[2017-02-15 19:56] #213 closed

[2017-02-15 20:00] bkirkbri opened #325 "NOAA NCEI WOCE"
### NCEI woce

* *Agency*: NOAA
* *Agency Division*: NCEI
* *Data Type*: Oceanographic
* *Data Format*: .gif .dat
* *FTP/HTTP URL*:  ftp://podaac.jpl.nasa.gov/allData/woce
* Size estimate: 2.4GB

[2017-02-15 20:03] bkirkbri opened #326 "NOAA NCEI Nimbus7"
### Nimbus7

* *Agency*: NOAA
* *Agency Division*: NCEI
* *Data Type*: Oceanographic
* *Data Format*: .dat
* *FTP/HTTP URL*: ftp://podaac.jpl.nasa.gov/allData/nimbus7
* Size estimate: 54MB

[2017-02-15 20:06] bkirkbri opened #327 "NOAA NCEI monthly mean atlas"
### ATLAS monthly mean data

* *Agency*: NOAA
* *Agency Division*: NCEI
* *Data Type*: Oceanographic
* *Data Format*: .dat.Z
* *FTP/HTTP URL*: ftp://podaac.jpl.nasa.gov/allData/monthly_mean_atlas
* Size estimate: 614MB

[2017-02-15 20:09] bkirkbri commented on #277
@gabefair Thanks for tracking down the duplicates. I've verified that all content is a duplicate (creating a few new issues that didn't exist).

Anyone having a partial mirror of this issue should consult the duplicates list at the top and post their complete submirrors in the appropriate issue. Thank you!

[2017-02-15 20:16] bkirkbri commented on #268
@DiabolicalTMcD Did your download complete?

[2017-02-15 20:21] bkirkbri commented on #266
Closing in favor of #207

[2017-02-15 20:21] #266 closed

[2017-02-15 20:21] bkirkbri commented on #207
@Zanooda Were you able to get this one?

[2017-02-15 20:28] DiabolicalTMcD commented on #268
Yes. 531GB.  Working on making it available somehow.

[2017-02-15 20:32] bkirkbri commented on #265
I'm estimating the size of this one now.

[2017-02-15 20:34] bkirkbri commented on #268
@DiabolicalTMcD Great! If you would, please post output of `hashdeep -rl podaac.jpl.nasa.gov/OceanTemperature/amsre`

[2017-02-15 20:35] #194 closed

[2017-02-15 20:36] bkirkbri commented on #262
@108111 Did you manage to get `/L1`?

[2017-02-15 20:38] bkirkbri commented on #242
@lgreenlee ping

[2017-02-15 20:42] bkirkbri commented on #242
@ivanstegic has a copy of this one:

[2017-02-15 20:43] bkirkbri commented on #290
@jradzuweit Did you get a complete mirror of this one?

[2017-02-15 20:49] bkirkbri commented on #205
Closing as a duplicate of #262
@tkyocum Please update that issue if you make progress. Thank you.

[2017-02-15 20:49] #205 closed

[2017-02-15 21:04] DiabolicalTMcD commented on #268
That particular directory isn't very large - it's only around 40MB.  What's really big is the allData/topex directory.  That's the 531GB chunk.  podaac.jpl.nasa.gov/OceanTemperature/amsre/L3/sst_ldeg_lmo is a sym link back to ../../../allData/amsre/L3/sst_ldeg_lmo.  The hashdeep output for that path is:

[code]

[2017-02-15 21:13] DiabolicalTMcD commented on #268
@bkirkbri I have a feeling I must not have done the pull correctly for it to be so small.  Or that there are mostly symlinks in the hierarchy that lead back to hard files inside allData/topex.

[2017-02-15 21:20] bkirkbri commented on #268
@DiabolicalTMcD Ok. I see that `/OceanTemperature/amsre/L3/sst_1deg_1mo` is a symlink to `/allData/amsre/L3/sst_1deg_1mo`. That directory is about 79MB, according to `lftp du`. Where does `topex` come into it? I don't see symlinks to that. Thanks!

[2017-02-15 21:27] bkirkbri commented on #210
@mskallisti  @TheWug Were you able to get this one? If so, please update #241 since this is a duplicate.

Closing as a duplicate of #241.

[2017-02-15 21:28] bkirkbri commented on #204
Closing as a duplicate of #241. Please comment there instead of here.

[2017-02-15 21:28] #204 closed

[2017-02-15 21:28] bkirkbri commented on #192
Closing as a duplicate of #241. Comment there if you have updates. Thank you.

[2017-02-15 21:28] #192 closed

[2017-02-15 21:29] bkirkbri commented on #241
@erikfriesen Were you able to get a size estimate on this one?

[2017-02-15 21:30] bkirkbri commented on #240
Closing as a duplicate of #190 - comment there with any updates.

[2017-02-15 21:30] #240 closed

[2017-02-15 21:31] bkirkbri commented on #190
@blueacid @Proplex did either of you get this one?

[2017-02-15 21:38] BauerPiepenbrink commented on #279
So, first file from the Disaggregated_Microdata folder is finally downloaded. Its Micro2012_2012.csv

http://176.9.83.61/InProgress_279/Disaggregated_Microdata/
This link will change later on.

Checksum for that single file:

## # hashdeep -rl Micro2012_2012.csv
##
110831639138,1d94bea31fe0bd03d732e01b7e7d6ab8,9087314828d9736e275d395f749b354676f7f4164a003319c3501257053b8366,Micro2012_2012.csv

[2017-02-15 21:39] DiabolicalTMcD commented on #268
@bkirkbri Under /allData I have amsre/ and topex/

[2017-02-15 21:43] Pythonmaster1508 opened #328 "New NOAA Data"
Agency: NOAA
Data Type: Ocean Acidity, Ocean Alkalinity
Data Format: XML, HTML
FTP/HTTP URL: https://data.noaa.gov/dataset?ext_prev_extent=-139.21874999999997%2C8.754794702435618%2C-61.87499999999999%2C61.77312286453146&tags=ocean+temperature&q=Climate+Change&tags=ocean+acidification+program+%28oap%29&tags=water+temperature&ext_bbox=&sort=score+desc%2C+name+asc&_metadata_type_limit=0&ext_location=

[2017-02-15 21:44] jradzuweit commented on #290
still running, looks like that the server has reduced its transfer speed

[2017-02-15 21:49] bkirkbri commented on #237
@tkyocum @sarunasb Thank you!

Hashdeep files check out, with exception of some newer files in the more recent archive.

[2017-02-15 21:51] DiabolicalTMcD commented on #268
@bkirkbri Just did another pull and again got 40MB.

[2017-02-15 21:53] bkirkbri commented on #267
@gabefair Would you post the public URL and hashdeep for this one when you get a chance?

[2017-02-15 21:59] bkirkbri commented on #268
@DiabolicalTMcD Ok. `/allData/topex/` is in issue #267 - please update there if you have a complete and public miror.

[2017-02-15 22:01] #198 closed

[2017-02-15 22:12] gofrogs2013 commented on #289
Just finished the long download. I have the files and checksums here: https://github.com/climate-mirror/datasets/issues/279

[2017-02-15 22:15] gofrogs2013 commented on #279
Disregard the referenced issue above.
@BauerPiepenbrink Congrats on the download! Were you able to actually open the file considering its size?

[2017-02-15 22:15] Pythonmaster1508 commented on #318
I cannot access the mirror.

[2017-02-15 22:16] bkirkbri commented on #267
Estimating size now...

[2017-02-15 22:18] ymarcus93 commented on #295
This data set seems to be old data. I think it only has data up to 2004. NASA website says new data can be found here: http://data.remss.com/ssmi/. They also have an FTP server but it is locked by username/password. See https://podaac.jpl.nasa.gov/SSMI and http://www.remss.com/missions/ssmi for reference.

[2017-02-15 22:18] bkirkbri commented on #285
@blueacid were you able to get this one completely? If so, please update with a URL and hashdeep output when you can.

[2017-02-15 22:42] astrobackup commented on #236
Still working on it, 740GB so far. Is there a way to rsync from ACD through the command line?

[2017-02-15 23:15] bkirkbri commented on #267
Total size via `lftp du` is 525GB.

[2017-02-15 23:20] ymarcus93 commented on #296
Seems like this data is updated daily. Same exact data is also available at: http://data.remss.com/windsat/.

[2017-02-15 23:21] bkirkbri commented on #162
Thank you to everyone that is splitting this up. Can someone volunteer to:

* find issues that match subdirectories in this issue
* create issues for subdirectories that don't have issues yet
* Update the per-directory issues with status information in this issue
* Comment in here once it's safe to close this mega issue.

The above would be incredibly helpful to avoid wasted effort and make sure t

[2017-02-15 23:35] bkirkbri commented on #236
@astrobackup Thanks for the update. Please update once your mirror completes. You are mirroring from the source, not from @chosenken's ACD, right? Just checking. In any case, it looks like there are two FUSE drivers for accessing ACD:
* https://github.com/yadayada/acd_cli
* https://github.com/handyman5/acd_fuse

[2017-02-15 23:51] bkirkbri commented on #185
@BauerPiepenbrink thank you!

[2017-02-15 23:53] astrobackup commented on #236
Yes, I am downloading from the source. I wanted to check what I already have with @chosenken data and thus do a rsync dry-run. But mounting that as a local drive means I'll need to download it anyway. I will work with the hashdeep file instead.

[2017-02-15 23:55] bkirkbri commented on #151
@blitzdesigner Were you able to complete your mirror?

[2017-02-16 00:11] jasonout commented on #325
Mirroring this now

[2017-02-16 00:27] bkirkbri commented on #236
@astrobackup great, thanks. There is definitely a need for a hashdeep comparison script. Someone on slack mentioned that.

[2017-02-16 00:32] bkirkbri commented on #296
@markuslaker posting magnet links is helpful. We hope to aggregate the comments in these issues into a searchable/browsable index soon.

@axlecrusher @erikfriesen Are your mirrors public?

[2017-02-16 01:54] kangamoo commented on #326
Starting to download, will add link and hash shortly

[2017-02-16 01:55] jasonout commented on #326
magnet:?xt=urn:btih:98FF98295D6431FEC0D3AD3CA5D77055ECF98E6B&dn=nimbus7&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80

[2017-02-16 02:00] kangamoo commented on #326
http://climatemirror.seejenicode.com/326/
http://climatemirror.seejenicode.com/326/hashdeep.txt

[2017-02-16 02:46] kangamoo commented on #327
Started the download (lftp mirror)

[2017-02-16 03:11] kangamoo commented on #327
http://climatemirror.seejenicode.com/327/
http://climatemirror.seejenicode.com/327/hashdeep.txt

[2017-02-16 03:35] ymarcus93 commented on #288
Ok, I made a torrent for this. Please let me know if magnet link is working. I also found out more about this data set.

**Description**: Contains three data sets. (1): Monthly and pentad (five day) climatologies of sea surface temperature (SST) data using the V4, V4.1, and interim V4.1 NOAA/NASA AVHRR Oceans Pathfinder data. (2) A high resolution SST climatology has been generated from daily 9 km

[2017-02-16 05:01] donbright commented on #312
i was just curious if @dasaderi 's metadata was meant to posted at https://github.com/daniellecrobinson/Data-Rescue-PDX ?

[2017-02-16 05:35] TechMaz commented on #312
@donbright Looks like it. Appears to be their format. That explains why I was so confused by this post.

[2017-02-16 05:47] bkirkbri commented on #327
@kangamoo thank you. Would you double check your mirror? It seems like the structure is different than what is at the source FTP site. In particular you have `/retired/L3/L3/...` which does not exist and are missing `/retired/L3/2000` and `/retired/L3/2001`.

[2017-02-16 05:48] bkirkbri commented on #327
Downloading now...

[2017-02-16 05:57] bkirkbri commented on #326
@jasonout thank you. Please provide `hashdeep -rl podaac.jpl.nasa.gov/allData/nimbus7` output when you can.
@kangamoo thanks!

[2017-02-16 06:11] bkirkbri commented on #265
Size according to `lftp du`:

[code]

So, at least 13TB total. I will update when L3 estimate is complete...

[2017-02-16 06:15] TechMaz commented on #123
Note: I'm almost done uploading all of the content from scraping edg.epa.gov/data/PUBLIC . In the meanwhile, I have been uploading some small relevant subsets of the data here:

EQI Technical reports from edg.epa.gov/data/PUBLIC/ORD/NHEERL/EQI here: [https://archive.org/details/EQITECHNICALREPORTFINAL](https://archive.org/details/EQITECHNICALREPORTFINAL) ,

Leaking Underground Storage Tank Documen

[2017-02-16 06:54] BauerPiepenbrink commented on #279
@gofrogs2013 well, I won't try to open it in whole :)
 If I run
`tail -n 40 Micro2012_2012.csv`
I get the last 40 lines of that file which look like this:
`14,1275,2277,5231336,318,1204704,6,3.29918E-08,5.93853E-06,2.18259E-07,0.00000E+00,2.18259E-07,1.55910E+02
14,1275,2278,5231336,318,1204704,6,3.01574E-08,5.42833E-06,4.37626E-09,0.00000E+00,4.37626E-09,3.69841E+00
14,1275,2279,5231336,318,12047

[2017-02-16 11:06] planetor commented on #274
**@bkirkbri** I did that 12 days ago:
**Note:** Each md5 list was sorted with "sort -k2"

All hashes in one file:
http://h2490363.stratoserver.net/climatemirror/md5sum_files_sorted_list.csv

Separated by directory / post:
http://h2490363.stratoserver.net/climatemirror/md5/

[2017-02-16 20:06] chosenken commented on #236
Ok, I got all the data added to IPFS.  Took it about 4 days to get everything added.  My IPFS data store is stored on a NAS, and the number of small files was giving it issues so it took a while.  The root hash is `Qmb86zba6KhGyfXP45fWn34WGt8CA6BufhjJGW816rxvKW`.  You can access it at

https://gateway.ipfs.io/ipfs/Qmb86zba6KhGyfXP45fWn34WGt8CA6BufhjJGW816rxvKW or

http://localhost:8080/ipfs/Qmb86z

[2017-02-16 20:23] blitzdesigner commented on #151
@bkirkbri yes sorry i finished, im quite busy at work atm :-)
mirror is finished, hashdeep-file is there too.

[2017-02-16 20:33] BauerPiepenbrink commented on #162
./asos-onemin/ is finished as well:

http://176.9.83.61/162

Hashdeep file has 42 MB

Foldersizes:

asos-fivemin 153 GB or 160150920 bytes
asos-onemin 1,3 TB or 1290417332 bytes
ASOS_Station_Photos 213 MB or 217784 bytes

[2017-02-16 20:55] JeremiahCurtis commented on #316
Finished ISLSCP II (minus the various "guides" subfolders, which appear to contain various html links with no appreciable data).....with my limited connection speed (about 600-800 KB/s), I am going to try to fill in some of the gaps on the newftp issue

[2017-02-16 20:58] JeremiahCurtis commented on #279
just wondering what we're still missing on the RSEI folder

[2017-02-16 21:50] JeremiahCurtis opened #329 "EPA Superfund Documents Collection"
Trying to grab superfund documents, but this could be a herculean task, as I cannot find any ftp directory or https database page................rather, I have to crawl through numerous links, from https://semspub.epa.gov/src/search and entering data ONLY in the "region" and "collection type" fields

Unless I'm missing something here and there really is a simpler way to get these, this is an issue

[2017-02-16 23:44] nonspecialist commented on #323
`ftp://ftp.nodc.noaa.gov/pub/WO[AD]*` are symlinks to `ftp://ftp.nodc.noaa.gov/pub/woa/...` so it's not replicated, and only the `pub/woa` directories would need to be grabbed from that part of the tree.

There's a lot of stuff under `pub/data.nodc` as well, named things like `pub/data.nodc/argo/data/pacific/2017/02/`  -- perhaps raw datasets?

I'm crawling bit by bit to estimate the size ... coul

[2017-02-17 03:24] TechMaz commented on #123
Ok finished archive of web crawl of edg.epa.gov/data can be found here: https://archive.org/details/egd_epa_gov_data_PUBLIC_bkp
Some files failed to download due to server error or being missing

[2017-02-17 03:25] empirical-bayesian commented on #123
Excellent. Thank you.  The Azimuth Backup Project also has two
independently derived copies.

On Thu, Feb 16, 2017, at 22:24, Steven Mazliach wrote:

Links:

  1. https://github.com/climate-mirror/datasets/issues/123#issuecomment-280539367
  2. https://github.com/notifications/unsubscribe-auth/AD3HB3kITkfP3wKjCk9tYfB7rZUM1oAmks5rdRLbgaJpZM4LtGBb

[2017-02-17 03:36] TechMaz commented on #123
@empirical-bayesian Good to know. Do they have the ftp data or the web-crawled version?

[2017-02-17 04:08] TechMaz commented on #329
Looks like some of these directories allow for direct file access, for example: https://semspub.epa.gov/work/HQ/

[2017-02-17 11:00] TechMaz commented on #329
It could also be useful to save pages from here: https://yosemite.epa.gov/r10/cleanup.nsf

[2017-02-17 11:02] TechMaz commented on #329
Interesting groupings of documents can be found on pages like this: https://yosemite.epa.gov/r10/cleanup.nsf/73defd6beb7e2b5188257e22005fc6e8/aeb7a0292d44e9ee882571b00062510a!OpenDocument

[2017-02-17 11:09] TechMaz commented on #329
Also here: https://cumulis.epa.gov/supercpad/CurSites/srchrslt.cfm?start=1

[2017-02-17 11:11] TechMaz commented on #329
And here: https://yosemite.epa.gov/r10/cleanup.nsf/sites/

[2017-02-17 11:12] TechMaz commented on #123
Also there are some other EPA pages we should look at, regarding Superfund projects. Mentioned here: #329

[2017-02-17 12:42] JeremiahCurtis commented on #329
@TechMaz
thanks a ton for the https://semspub.epa.gov/work/  link.......that does appear to have all the Superfund docs

Is anyone else able to grab particular regions? I'm working on region 1 alone via downthemall (fiinally got it to work last night), and I'm nowhere near finishing after about 12 hours. In fact, I've barely begun.
I'd estimate several TB worth of docs across all 10 regions and HQ

[2017-02-17 14:12] defendr commented on #122
@gabefair Completed this mirror -- it's available here:  ftp://ftp.datadefendr.com/
Total size is ~4.5 TB

- Websites were scraped using HTTrack and posted as 7-Zip archives.
- Data from ftp://ftp.nodc.noaa.gov/pub/data.nodc/ is available as individual files.

Will also post to #158 and #163.

[2017-02-17 14:12] defendr commented on #158
Completed this mirror -- it's available here: ftp://ftp.datadefendr.com/
Data from ftp://ftp.nodc.noaa.gov/pub/data.nodc/ is available as individual files.

[2017-02-17 14:13] defendr commented on #163
Completed this mirror -- it's available here: ftp://ftp.datadefendr.com/
Data from ftp://ftp.nodc.noaa.gov/pub/data.nodc/ is available as individual files.

[2017-02-17 16:25] DiabolicalTMcD commented on #235
@bkirkbri My pull completed, but was 2.76 TB.  Need to review the logs to see if some files failed. Still working on making available.

[2017-02-17 16:31] DiabolicalTMcD commented on #235
@bkirkbri Failed to account for the compressed filesystem.  du --apparent-size -ks reports 3078664730   so I think I have the full thing

[2017-02-17 21:00] ymarcus93 commented on #318
Ok, I made a torrent for this. Please let me know if magnet link is working.

**Description**: U.S. Forest Service's FIADB - Forest plot data. Last updated: Sat 2/11/17.
**Size**: 3.4 GB

**Magnet**: magnet:?xt=urn:btih:e3c0b7ee13e02ddb532ea11cfe87bc51df315159&dn=FIADB%5FCSV.tar.gz&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80&tr=udp%3A%2F%2Fopen.demonii.com%3A1337&tr=udp%3A%2F%2Ftracker.coppersu

[2017-02-18 03:56] chosenken commented on #236
Ok, after a long day (this actually took like 6 hours to do so it kinda was) I have created 30 torrent files for the aquarius data set.  Due to the number of files in the set, I was not able to create single all encompassing torrent.  Instead I had to create torrents for specific directories, as some directories had over 100,000 files, which caused issues with the torrent software I was using.  I

[2017-02-18 05:31] nonspecialist commented on #328
This data seems to be a subset of that in #323  or at least, the links point to pages which then refer to subdirectories within that FTP site. There may be additional metadata (author details, cites, references, etc) which is not present in the FTP site

[2017-02-18 06:18] nonspecialist commented on #10
[code]

[2017-02-18 12:39] Pneumaticat commented on #297
@bkirkbri Yeah, `du -sh` gives ~839 GB—seems like 1.5–1.8 TB was a bit of an overestimation on my part. And good point about the digest, although it's still useful to ensure download integrity, I suppose ;)

[2017-02-18 17:45] ymarcus93 commented on #286
Ok, I made a torrent for this. Please let me know if magnet link is working. I also found out more about this data set.

**Description**: Includes data from 1931-2010. Climate Normals are three-decade averages of climatological variables including temperature and precipitation. This product is produced once every 10 years. The 1981–2010 U.S. Climate Normals dataset is the latest release of NCEI’s

[2017-02-18 23:33] TechMaz commented on #329
@JeremiahCurtis I don't have the storage space to help with this, but I'm sure someone else does.

[2017-02-19 01:03] donbright commented on #329
size estimates

[code]

[2017-02-19 01:21] TechMaz commented on #329
@donbright  Thanks for that!  I  have enough space to do ./11 if you want @JeremiahCurtis

[2017-02-19 05:44] TechMaz commented on #123
Has anyone tackled the epa publication lists?  http://nepis.epa.gov/EPA/html/pubindex.html

[2017-02-19 07:04] donbright commented on #329
lol i accidentally destroyed my digital ocean mirror server trying to do this. its now frozen trying to mount a corrupted volume.

[2017-02-19 08:15] TechMaz commented on #329
Ahh

[2017-02-19 12:19] hkuchampudi commented on #329
I've mined the metadata associated will all of these documents [in my repository](https://github.com/hkuchampudi/GovDataDump/tree/master/EPA%20Superfund). In the same repository I also have a csv with direct links for all the documents; it may make divvying the task a little bit easier. While I want to help with the download process, I don't have the storage for it :(

[2017-02-19 17:59] ymarcus93 commented on #10
**ftp.aftp.cmdl.noaa.gov_carbontracker_ch4.tar.gz**

**Description**: The NOAA CarbonTracker-CH4 Data Assimilation Product has been developed as a companion product to NOAA’s CarbonTracker for CO2, with the goal of producing quantitative estimates of methane emissions into the atmosphere from natural and anthropogenic sources for North America and the rest of the world.
    **Size**: 52 GB

**Magn

[2017-02-19 18:43] donbright commented on #329
currently pulling 06,07,08,09,10,11,HQ, will update....

[2017-02-19 20:49] ymarcus93 commented on #116
**ftp.ncdc.noaa.gov_climgrid.tar.gz**

**Description**: Gridded 5km GHCN-Daily Temperature and Precipitation Dataset (nClimGrid/CLIMGRID). The CLIMGRID dataset tracks four climate variables derived from the GHCN-D v3.12 dataset: maximum temperature (TMAX), minimum temperature (TMIN), average temperature (TAVG) and precipitation (PRCP). Each file provides monthly values with a lat/lon centerpoint f

[2017-02-19 20:54] ymarcus93 commented on #304
**ftp.cmdl.noaa.gov_hats.tar.gz**

**Description**: ftp://ftp.cmdl.noaa.gov/hats - Distributions and magnitudes of sources and sinks for atmospheric nitrous oxide (N2O) and halogen containing compounds.
**Size**: 684 MB

**Magnet**: magnet:?xt=urn:btih:1e909cdd869e7e397bb187f4c5401e814e570cdf&dn=ftp.cmdl.noaa.gov%5Fhats.tar.gz&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80&tr=udp%3A%2F%2Fopen.demo

[2017-02-19 21:13] BauerPiepenbrink commented on #168
I've got this one downloaded to an offline mirror. I will create a torrent at some point in the future, but that might take a while

[2017-02-20 14:41] hkuchampudi commented on #123
@TechMaz the EPA publications lists are a bit trickier because they are saving each page of each document as a TIF image, but I created a script and I am slowly mining the relevant metadata for each of the documents. Once I have the metadata, I can host it and create a python script for someone who has the storage to download the documents.

[2017-02-20 17:37] Serubin commented on #279
@JeremiahCurtis Still working on retrieval.

Picked up another 4TB drive so I should be able to get back to data pulling soon.

[2017-02-20 18:17] gofrogs2013 commented on #279
@BauerPiepenbrink Are you trying to download the 2010/11 csv files as well? Maybe you and @Serubin could each do one.

[2017-02-20 18:42] BauerPiepenbrink commented on #279
@gofrogs2013 As I said, Im going in reverse order, so I'm at Micro2012_2011.csv right now. I'm happy if I don't have to sit through the 2010-file :)

[2017-02-20 19:38] f0086 commented on #261
Done. You can remove the Single Mirror and the In Progress tag.
[hashdeep.zip](https://github.com/climate-mirror/datasets/files/788367/hashdeep.zip)

[2017-02-20 20:15] gabefair commented on #90
I don't know how to approach this. Could we use web.archive.org/save/<url>   ?

[2017-02-20 20:19] gabefair commented on #241
@Proplex  you seem to be the last person with the data. Can you show us what you have? Maybe the data was moved somewhere else

[2017-02-20 20:24] gabefair commented on #325
@jasonout is it an offline mirror or do you have a sharable link? Also what was its hash? You can do it `hashdeep -rl ftp://podaac.jpl.nasa.gov/allData/woce > podaac.jpl.nasa.gov_allData_woce_hash-audit.txt`

[2017-02-20 20:29] gabefair commented on #268
## 1 vote to close
Data is tracked in ticket #267

[2017-02-20 20:31] gabefair commented on #267
More info about the dataset on their Project website: https://podaac.jpl.nasa.gov/TOPEX-POSEIDON

[2017-02-20 23:20] nk9 commented on #132
@lgallindo did you finish this?

[2017-02-21 01:16] TripleE-0 commented on #325
I have an online mirror but it received a few errors on a few directories but the size is right. I used lftp to download the mirror. The hash deep is in the directory as well.
http://45.76.8.27/climate/issue_325/

[2017-02-21 10:10] TechMaz commented on #329
Great! Can anyone mirror to a public location?

[2017-02-21 15:23] gabefair opened #330 "NOAA NCEI Ocean Winds poet_ifremer subset"
### poet_ifremer

This dataset is a part of a giant dataset of ocean winds #277. We needed to break that ticket into parts.

* *Agency*: NOAA
* *Agency Division*: NCEI
* *Data Type*: Oceanographic
* *Data Format*:
* *FTP/HTTP URL*:  ftp://podaac.jpl.nasa.gov/OceanWinds/poet_ifremer/

[2017-02-21 20:06] JeremiahCurtis commented on #329
Does anyone have any ftp or https data directories for the following?
My internet service was down the entire weekend, but hopefully I'm not too late to catch up.

BTW, if any of these have been resolved in other issues, please disregard....As far as I know, they have not been raised elsewhere. Some may be only tangentially related to climate change research, but I would imagine that they're all s

[2017-02-21 20:46] TechMaz commented on #329
Looks like for tri data you can get XML data for a state via: https://iaspub.epa.gov/enviro/efservice/tri_facility/state_abbr/VA/

also frs data can be downloaded as a single csv here: https://www3.epa.gov/enviro/html/fii/downloads/state_files/national_single.zip

[2017-02-21 21:32] TechMaz commented on #329
I also found a data export for ICIS data here: https://iaspub.epa.gov/enviro/efservice/mv_new_geo_best_picks/
I mirrored it here for easy access:
https://archive.org/download/enviro_efservice/enviro_efservice.xml

[2017-02-21 22:21] TechMaz commented on #329
I was also able to download all the Hazardous Waste Report (Biennial Report) data (I think)
I found it here: https://iaspub.epa.gov/enviro/efservice/BRS_WASTE_INFORMATION/CSV
and mirrored data here: https://archive.org/download/BRSWASTEINFORMATION

[2017-02-22 16:02] gofrogs2013 commented on #279
For the record, I withdrew the FOIA request as the downloads are working. I won't be able to do 2010 myself but perhaps another user here could grab it.

[2017-02-22 17:40] JeremiahCurtis commented on #279
there are also three huge files under ftp://newftp.epa.gov/RSEI/Version234_RY2014/Disaggregated_Microdata/
and three more under ftp://newftp.epa.gov/RSEI/Version235_RY2015/Disaggregated_Microdata/

[2017-02-23 17:26] bkirkbri commented on #150
Mirror:
https://s3.ca-central-1.amazonaws.com/climate-mirror/cddis.gsfc.nasa.gov/slr/data/index.html
Hashdeep:
https://s3.ca-central-1.amazonaws.com/climate-mirror/cddis.gsfc.nasa.gov/cddis.gsfc.nasa.gov_slr_data.hashdeep.audit.txt

[2017-02-23 21:38] gabefair opened #331 "The Global Historical Climatology Network (GHCN)"
### New Dataset

The Global Historical Climatology Network (GHCN) is an integrated database of climate summaries from land surface stations across the globe that have been subjected to a common suite of quality assurance reviews. The data are obtained from more than 20 sources. Some data are more than 175 years old while others are less than an hour old. GHCN is the official archived dataset, and

[2017-02-23 21:38] gabefair commented on #16
@blitzdesigner I have created a new ticket for the /ghcn data #331

[2017-02-23 21:39] gabefair commented on #298
I have created a new ticket for the /ghcn data #331

[2017-02-23 21:42] gabefair commented on #274
I have created a new ticket for the /ghcn data #331

[2017-02-23 21:42] gabefair commented on #162
I have created a new ticket for the /ghcn data #331

[2017-02-23 21:46] gabefair commented on #116
This dataset is a view (filtering) of a larger dataset. More information here:
https://www.ncdc.noaa.gov/data-access/land-based-station-data/land-based-datasets/global-historical-climatology-network-ghcn

If I am correct, then the larger dataset is covered in ticket #331

[2017-02-23 21:49] gabefair commented on #99
https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/ghcnd-stations.txt is a part of #331

[2017-02-24 01:19] gabefair commented on #323
@nickrsan any suggestions on how to approach this?

[2017-02-24 01:34] gabefair opened #332 "GHCN Daily"
This dataset is a part of a giant dataset of The Global Historical Climatology Network (GHCN) #331. We needed to break that one up into parts.

* *Agency*:
* *Agency Division*:
* *Data Type*:
* *Data Format*:
* *FTP/HTTP URL*: ftp://ftp.ncdc.noaa.gov/pub/data/ghcn/daily/

[2017-02-24 01:38] gabefair commented on #330
Closing issue as the folder is empty

[2017-02-24 01:38] #330 closed

[2017-02-24 03:05] fyvekatz commented on #332
I'm going to download this one.

[2017-02-24 13:05] gabefair commented on #332
@fyvekatz How is it coming? Its pretty large, I was thinking about breaking it up into smaller tickets. Would that help you?

[2017-02-24 17:58] fyvekatz commented on #332
Coming along. Ran into issues with failed file transfers and directories not wanting to list when I first attempted to download. Seems to be running smoothly at the moment. 23 gigs download so far. Server seems to support a download speed of about 18 MB/S. Limited my download to 5MB/s.